# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# 日志文件
*.log
teachatWeb.log
# 鹤田河津- debug 调试临时文件
__debug_*
__debug_bin*
*.jpeg
*.jpg
*.png
*.gif
*.zip
*.tar
*.tar.gz
*.tgz

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# 鹤田河津- MacOS的环境文件
.DS_Store
*/.DS_Store
# 鹤田河津- MacOS的临时文件
*.tmp
# 鹤田河津-Vscode的设置文件
.vscode/*


