{{ define "content" }}
{{/* 这是 用户新茶评审的通知 页面 */}}

<ol class="breadcrumb">
  <li>大堂</li>
  <li class="active">新茶评审通知</li>
</ol>

<div style="margin: 20px;">
  <ol class="nav nav-tabs nav-justified">
    <li><a href="/v1/team/notification/invitation">茶团邀请
      {{ if .SessUser.InvitationUnviewedCount }}
      <span class="badge">{{ .SessUser.InvitationUnviewedCount }}</span>
      {{ end }}
    </a></li>
    <li><a href="/v1/group/notification/invitation">集团邀请
      {{ if .GroupInvitationUnreadCount }}
      <span class="badge">{{ .GroupInvitationUnreadCount }}</span>
      {{ end }}
    </a></li>
    <li class="active">
      <a href="#">新茶评审
        {{ if .SessUser.HasNewAcceptNotification }}
        <span class="badge">{{ .SessUser.UnreadAcceptNotificationsCount }}</span>
        {{ end }}
      </a>
    </li>
    <li><a href="/v1/pilot/note">茶棚纸条</a></li>
  </ol>
</div>

{{ range .AcceptNotificationSlice }}

<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <a href="#"><i class="glyphicon glyphicon-user"></i> 船长</a>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <span style="display: block; font-size: smaller;text-align: center; color: #fff;">
          <i class="glyphicon glyphicon-time"></i> {{ .CreatedAtDate }}
        </span>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <span style="display: block; text-align: right;">
          <span class="label label-success">{{ .Status }}</span>
        </span>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <h4 class="text-center text-primary">
      <i class="glyphicon glyphicon-envelope"></i> {{ .Title }}
    </h4>
    
    <div class="well">
      <p>
        尊敬的 <strong class="text-info">{{ .Invitee.Name }}</strong> 阁下:
      </p>

      <p class="text-center lead">
        {{ .Content }}
      </p>

      <div class="text-center" style="margin: 25px 0;">
        <a href="/v1/office/polite?id={{ .AcceptObjectId }}" class="btn btn-lg btn-danger">
          <i class="glyphicon glyphicon-leaf"></i> 去审茶
        </a>
      </div>
      
      <p class="text-right">
        此致 <a href="#" class="text-primary">首席礼仪官</a>
        @<a href="#" class="text-primary">星际茶棚礼仪委员会</a>
      </p>
    </div>
  </div>
</div>

{{ else }}

<div class="panel panel-default">
  <div class="panel-heading bg-info">
    <h3 class="panel-title"><i class="glyphicon glyphicon-info-sign"></i> 茶博士</h3>
  </div>
  <div class="panel-body">
    <p class="text-center text-muted">你好，目前没有未处理的评审邀请函。</p>
  </div>
</div>

{{ end }}

<div class="list-group">
  <a href="#" class="list-group-item active">
    <span class="badge">{{ .SessUser.UnreadAcceptNotificationsCount }}</span>
    <i class="glyphicon glyphicon-exclamation-sign"></i> 未处理
  </a>
  <a href="#" class="list-group-item">
    <span class="badge">{{ .SessUser.ReadAcceptNotificationsCount }}</span>
    <i class="glyphicon glyphicon-ok-sign"></i> 已处理
  </a>
  <a href="#" class="list-group-item">
    <span class="badge">{{ .SessUser.AllAcceptNotificationCount }}</span>
    <i class="glyphicon glyphicon-stats"></i> 合计
  </a>
</div>

{{ end }}