{{ define "content" }}

<ol class="breadcrumb">
  <li><a href="/v1/">大堂</a></li>
  <li><a href="/v1/objective/detail?uuid={{ .QuoteObjectiveBean.Objective.Uuid }}">{{ .QuoteObjectiveBean.Objective.Title }}@茶围</a></li>
  <li><a href="/v1/project/detail?uuid={{ .ProjectBean.Project.Uuid }}">{{ .ProjectBean.Project.Title }}@茶台</a></li>
  <li class="active">手工艺详情</li>
  <li>{{ template "component_sess_capacity" . }}</li>
</ol>

{{ template "component_project_simple_detail" . }}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">手工艺记录详情</h3>
  </div>

  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>名称</dt>
      <dd>{{ .Handicraft.Name }}</dd>

      {{ if .Handicraft.Nickname }}
      <dt>昵称</dt>
      <dd>{{ .Handicraft.Nickname }}</dd>
      {{ end }}

      <dt>描述</dt>
      <dd>{{ .Handicraft.Description }}</dd>

      <dt>分类</dt>
      <dd>{{ .Handicraft.Category.CategoryString }}</dd>

      <dt>状态</dt>
      <dd>
        <span class="label label-{{ if eq .Handicraft.Status 3 }}success{{ else if eq .Handicraft.Status 1 }}info{{ else if eq .Handicraft.Status 2 }}warning{{ else if eq .Handicraft.Status 4 }}danger{{ else }}default{{ end }}">
          {{ .Handicraft.StatusString }}
        </span>
      </dd>

      <dt>技能难度</dt>
      <dd>
        {{ range $i := iterate .Handicraft.SkillDifficulty }}
        <span class="glyphicon glyphicon-star" style="color: gold;"></span>
        {{ end }}
        ({{ .Handicraft.SkillDifficulty }}/5)
      </dd>

      <dt>创意难度</dt>
      <dd>
        {{ range $i := iterate .Handicraft.MagicDifficulty }}
        <span class="glyphicon glyphicon-star" style="color: gold;"></span>
        {{ end }}
        ({{ .Handicraft.MagicDifficulty }}/5)
      </dd>

      <dt>难度类型</dt>
      <dd>{{ .Handicraft.GetDifficultyType }}</dd>

      <dt>创建时间</dt>
      <dd>{{ .Handicraft.CreatedDateTime }}</dd>
    </dl>
  </div>

  <div class="panel-footer">
    <a href="/v1/project/detail?uuid={{ .ProjectBean.Project.Uuid }}" class="btn btn-default">返回项目</a>
  </div>
</div>

{{ end }}
