{{ define "content" }}

<ol class="breadcrumb">

    <li>大堂</li>
    <li class="active">@<span style="font-style: italic;">洞天福地</span></li>

</ol>

<div class="media">
    <div class="media-left">
        <a href="#">
            <img class="img-circle" src="/v1/static/image/{{ .User.Avatar }}.jpeg" alt="个人头像">
        </a>
    </div>
    <div class="media-body">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ .User.Name }}
                <span class="pull-right" style="font-style: italic;"> {{ .User.Email }}</span>
            </div>
            <div class="panel-body">

                <span> {{ .User.Biography }}</span>

            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">主力茶团</div>
    <div class="panel-body">
        {{ with .DefaultTeamBean }}
        @<a href="/v1/team/detail?id={{ .Team.Uuid }}">{{ .Team.Abbreviation }}</a>
        {{ else }}
        无茶团纪录
        {{ end }}
    </div>



    <div class="panel-heading">管理茶团</div>
    <div class="panel-body">
        {{ range .ManageTeamBeanList }}
        @<a href="/v1/team/detail?id={{ .Team.Uuid }}">{{ .Team.Abbreviation }}</a>
        {{ else }}
        无纪录
        {{ end }}
    </div>



    <div class="panel-heading">普通茶团</div>
    <div class="panel-body">
        {{ range .JoinTeamBeanList }}
        @<a href="/v1/team/detail?id={{ .Team.Uuid }}">{{ .Team.Abbreviation }}</a>
        {{ else }}
        无纪录
        {{ end }}
    </div>



    <div class="panel-heading">离开茶团</div>
    <div class="panel-body">
        无纪录
    </div>
</div>
  
   
   



<ul class="nav nav-pills" style="margin-bottom: 20px;">
    <li role="presentation" class="active"><a href="#">关注</a></li>
    <li role="presentation"><a href="#">搭讪</a></li>
    <li role="presentation"><a href="#">标识</a></li>
    <li role="presentation"><a href="/v1/team/team_member/invite?id={{ .User.Uuid }}">邀请加盟</a></li>
  </ul>




<ul class="nav nav-tabs nav-justified" style="margin-top: 0px;margin-bottom: 20px;">
    <li role="presentation" class="active"><a href="/v1/user/amuse">自泡茶</a></li>
    <li role="presentation"><a href="/v1/user/work">功夫茶</a></li>
    <li role="presentation"><a href="/v1/user/thread">参与茶议</a></li>
</ul>

<div class="list-group">
    <a href="/v1/user/monologue/index" class="list-group-item">
        <h4 class="list-group-item-heading">独白</h5>
        <p class="list-group-item-text">...莫若随花飞到天尽头，天尽头，何处有香丘...</p>
    </a>
</div>



<div class="panel panel-default">
    <div class="panel-heading">
        <span>宝贝</span>
    </div>
    <div class="panel-body">
        <span> {{ .User.Biography }}</span>
    </div>
</div>

{{ end }}