{{ define "component_goods_detail" }}
{{/* 这是物资详情组件 */}}
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="media">
            <div class="media-left">
                <img class="media-object" src="/v1/static/bootstrap-icons/bag.svg" alt="goods photo" width="64" height="64">
            </div>
            <div class="media-body">
                <h2>{{ .Name }}</h2>
                <h4 class="text-muted">{{ .Nickname }}</h4>
                {{ if eq .Features 0 }}
                    <span class="label label-success">可交易</span>
                {{ else }}
                    <span class="label label-danger">不可交易</span>
                {{ end }}
                {{ if eq .Category 0 }}
                    <span class="label label-info">虚拟物资</span>
                {{ else }}
                    <span class="label label-primary">实体物资</span>
                {{ end }}
            </div>
        </div>
    </div>
    
    <div class="panel-body">
        <div class="row">
            <!-- 基本信息 -->
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">基本信息</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-condensed">
                            <tbody>
                                <tr>
                                    <th width="30%">物资ID</th>
                                    <td>{{ .Id }}</td>
                                </tr>
                                <tr>
                                    <th>UUID</th>
                                    <td><code>{{ .Uuid }}</code></td>
                                </tr>
                                <tr>
                                    <th>物理状态</th>
                                    <td>
                                        {{ if eq .PhysicalState 0 }}
                                            <span class="label label-success">全新</span>
                                        {{ else if eq .PhysicalState 1 }}
                                            <span class="label label-warning">已使用</span>
                                        {{ else if eq .PhysicalState 2 }}
                                            <span class="label label-warning">磨损</span>
                                        {{ else if eq .PhysicalState 3 }}
                                            <span class="label label-danger">损坏</span>
                                        {{ end }}
                                    </td>
                                </tr>
                                <tr>
                                    <th>功能状态</th>
                                    <td>
                                        {{ if eq .OperationalState 0 }}
                                            <span class="label label-success">正常</span>
                                        {{ else if eq .OperationalState 1 }}
                                            <span class="label label-danger">故障</span>
                                        {{ else if eq .OperationalState 2 }}
                                            <span class="label label-warning">维修中</span>
                                        {{ else if eq .OperationalState 3 }}
                                            <span class="label label-default">已过期</span>
                                        {{ end }}
                                    </td>
                                </tr>
                                <tr>
                                    <th>可用性</th>
                                    <td>
                                        {{ if eq .Availability 0 }}
                                            <span class="label label-success">可用</span>
                                        {{ else if eq .Availability 1 }}
                                            <span class="label label-info">使用中</span>
                                        {{ else if eq .Availability 2 }}
                                            <span class="label label-default">闲置</span>
                                        {{ else if eq .Availability 3 }}
                                            <span class="label label-danger">已报废</span>
                                        {{ else if eq .Availability 4 }}
                                            <span class="label label-danger">已遗失</span>
                                        {{ else if eq .Availability 5 }}
                                            <span class="label label-warning">已转让</span>
                                        {{ end }}
                                    </td>
                                </tr>
                                <tr>
                                    <th>设计者</th>
                                    <td>{{ .Designer }}</td>
                                </tr>
                                <tr>
                                    <th>价格</th>
                                    <td>
                                       
                                            ¥{{ .Price }}
                                       
                                    </td>
                                </tr>
                                <tr>
                                    <th>登记时间</th>
                                    <td>{{ .CreatedAt.Format "2006-01-02 15:04" }}</td>
                                </tr>
                                <tr>
                                    <th>更新时间</th>
                                    <td>
                                        {{ if .UpdatedAt }}
                                            {{ .UpdatedAt.Format "2006-01-02 15:04" }}
                                        {{ else }}
                                            <span class="text-muted">未更新</span>
                                        {{ end }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <!-- 品牌与规格 -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">品牌与规格</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-condensed">
                            <tbody>
                                <tr>
                                    <th width="30%">品牌</th>
                                    <td>{{ .BrandName }}</td>
                                </tr>
                                <tr>
                                    <th>型号</th>
                                    <td>{{ .Model }}</td>
                                </tr>
                                <tr>
                                    <th>规格</th>
                                    <td>{{ .Specification }}</td>
                                </tr>
                                <tr>
                                    <th>序列号</th>
                                    <td>{{ .SerialNumber }}</td>
                                </tr>
                                <tr>
                                    <th>颜色/款式</th>
                                    <td>{{ .Color }}</td>
                                </tr>
                                <tr>
                                    <th>尺寸（长X宽X高）</th>
                                    <td>{{ .Dimensions }}</td>
                                </tr>
                                <tr>
                                    <th>重量</th>
                                    <td>
                                       
                                            {{ .Weight }} kg
                                       
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
            <!-- 生产与用途 -->
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">生产信息</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-condensed">
                            <tbody>
                                <tr>
                                    <th width="30%">生产商</th>
                                    <td>{{ .Manufacturer }}</td>
                                </tr>
                                <tr>
                                    <th>原产地</th>
                                    <td>{{ .Origin }}</td>
                                </tr>
                                <tr>
                                    <th>材质</th>
                                    <td>{{ .Material }}</td>
                                </tr>
                                <tr>
                                    <th>动力类型</th>
                                    <td>{{ .EngineType }}</td>
                                </tr>
                                <tr>
                                    <th>联网方式</th>
                                    <td>
                                      {{ if eq .NetworkConnectionType "wifi" }}
                                            <span class="label label-primary">Wi-Fi</span>
                                        {{ else if eq .NetworkConnectionType "bluetooth" }}
                                            <span class="label label-primary">蓝牙</span>
                                        {{ else if eq .NetworkConnectionType "cellular" }}
                                            <span class="label label-primary">蜂窝网络</span>
                                        {{ else if eq .NetworkConnectionType "cable" }}
                                            <span class="label label-primary">有线电缆</span>
                                        {{ else if eq .NetworkConnectionType "other" }}
                                            <span class="label label-primary">其他网络</span>
                                        {{ else if eq .NetworkConnectionType "none" }}
                                            <span class="label label-default">无需联网</span>
                                        
                                        {{ else }}
                                            {{ .NetworkConnectionType }}
                                        {{ end }}

                                    </td>
                                </tr>
                                <tr>
                                    <th>厂商链接</th>
                                    <td>
                                        {{ if .ManufacturerURL }}
                                            <a href="{{ .ManufacturerURL }}" target="_blank">访问官网</a>
                                        {{ else }}
                                            <span class="text-muted">未提供</span>
                                        {{ end }}
                                    </td>
                                </tr>
                                <tr>
                                    <th>购买链接</th>
                                    <td>
                                        {{ if .PurchaseURL }}
                                            <a href="{{ .PurchaseURL }}" target="_blank">前往购买</a>
                                        {{ else }}
                                            <span class="text-muted">未提供</span>
                                        {{ end }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <!-- 用途描述 -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">用途描述</h3>
                    </div>
                    <div class="panel-body">
                        <h4>主要用途</h4>
                        <p>{{ .Applicability }}</p>
                        
                        <h4>详细描述</h4>
                        <p>{{ .Describe }}</p>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- 操作按钮 -->
        <div class="text-center" style="margin-top: 20px;">
            <a href="/v1/goods/collect?uuid={{ .Uuid }}" class="btn btn-primary">
                <i class="bi-clipboard-plus"></i>收藏宝贝
            </a>
            
        </div>
    </div>
</div>


{{ end }}