{{ define "component_avatar_name_gender" }}

{{/* 个人头像和名字和性别和身份 */}}

<div>
  <a href="/v1/user/biography?id={{ .Uuid }}">
    <img class="img-circle" src="/v1/static/image/{{ .Avatar }}.jpeg" alt="个人头像">
  </a>
</div>
  
<div style="text-align: center;">
  {{if .Gender }}
  <i class="bi-gender-male" style="font-size: 1.2rem; color: cornflowerblue;"></i>
  {{ else }}
  <i class="bi-gender-female" style="font-size: 1.2rem; color:hotpink;"></i>
  {{ end }}
</div>
<div style="text-align: center; margin-top: 1px;">
  <a href="/v1/user/biography?id={{ .Uuid }}">{{ .Name }}</a>
</div>

{{ end }}