{{/* 通用简要茶议展示组件 */}}
{{ define "component_thread_bean" }}

<div class="media">

  <div class="media-left">
    {{ if .PostCount }}
    <span class="badge">{{ .PostCount }}</span>
    {{ end }}

    {{ template "component_avatar_name_gender" .Author }}

  </div>

  <div class="media-body">

    <p>
      <span style="margin-inline-end: 20px; font-size: smaller;">
        （<a href="/v1/family/detail?id={{ .AuthorFamily.Uuid }}" style="color: black;">{{ .AuthorFamily.Name }}</a>，
        <a href="/v1/team/detail?id={{ .AuthorTeam.Uuid }}" style="color: black;">{{ .AuthorTeam.Abbreviation }}</a>）
      </span>
      <span style="margin-inline-end: 20px;font-size: smaller;">{{ .Thread.CreatedAtDate }}</span>
    </p>

    <p>
      <mark>{{ .Thread.TypeString }}</mark>

      {{ if .IsApproved }}
      <i class="bi-bookmark-check" style="font-size: 2rem; color: red;" title="已采纳"></i>
      {{ end }}

      <h4>
        <a href="/v1/thread/detail?uuid={{ .Thread.Uuid }}">{{ .Thread.Title }}</a>
      </h4>

        {{ if .IsCompleted }}
        <span class="label label-success">已完成</span>
        {{ end }}
    </p>

    <p>{{ .Thread.Body }} ...</p>

    <br />

  </div>
</div>

{{ end }}