{{ define "component_team" }}
{{/* 这是团队媒体对象 */}}
<div class="media">
  <div class="media-left">
    <a href="/v1/team/detail?id={{ .Team.Uuid }}" title="查看团队详情">
      {{ if .Open }}
      <img class="media-object" src="/v1/static/bootstrap-icons/people.svg" alt="茶团标志" height="32" width="32">
      {{ else }}
      <img class="media-object" src="/v1/static/bootstrap-icons/people-fill.svg" alt="茶团标志" height="32" width="32">
      {{ end }}
    </a>

  </div>
  <div class="media-body">
    <div class="panel panel-default">

      <div class="panel-heading">
        <div class="row">

          <div class="col-xs-4">
            @<a href="/v1/team/detail?id={{ .Team.Uuid }}" title="查看团队详情">{{ .Team.Abbreviation }}</a>
          </div>

          <div class="col-xs-4 text-center">
            {{ if .Open }}
            <span class="label label-success">{{ .Team.TeamProperty }}</span>
            {{ else }}
            <span class="label label-default">{{ .Team.TeamProperty }}</span>
            {{ end }}
          </div>

          <div class="col-xs-4 text-right">
              <a href="/v1/user/biography?id={{ .Founder.Uuid }}" title="查看茶友详情">{{ .Founder.Name }}</a>
              {{if .Founder.Gender }}
              <i class="bi-gender-male" style="font-size: 1.4rem; color: cornflowerblue;"></i>
              {{ else }}
              <i class="bi-gender-female" style="font-size: 1.4rem; color:hotpink;"></i>
              {{ end }}
              <span>
                （<a href="/v1/family/detail?id={{ .FounderDefaultFamily.Uuid }}" title="查看家庭详情">{{ .FounderDefaultFamily.Name }}</a>）
              </span>

          </div>
        </div>
      </div>

      <div class="panel-body">
        {{ .Team.Mission }} ...
      </div>

      <div class="panel-footer">
        <span style="margin-inline-end: 20px;" title="团号">
          <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
          {{ .Team.Id }}
        </span>

        <span style="margin-inline-end: 20px;">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          {{ .MemberCount }}
        </span>
        <div class="pull-right">
          <a href="/v1/team/detail?id={{ .Team.Uuid }}">
            <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>

{{ end }}