{{ define "component_post_left" }}

{{/* 品味是“颔首”表态，左侧头像布局 */}}

<div class="media">

  <div class="media-left">

    {{ template "component_avatar_name_gender" .Author }}
    
  </div>
  <div class="media-body">

    {{ if .Post.PageData.IsAuthor }}
    {{/* 特别注意⚠️以下两行是或者关系，共用一个</div>!!  */}}
    <div class="panel panel-success">
      {{ else }}
      <div class="panel panel-default">
        {{ end }}

      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <span style="font-size: small;">
              （<a href="/v1/family/detail?id={{ .AuthorFamily.Uuid }}">{{ .AuthorFamily.Name }}</a>,
              <a href="/v1/team/detail?id={{ .AuthorTeam.Uuid }}">{{ .AuthorTeam.Abbreviation }}</a>）</span>
            </span>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <span style="display: block; text-align: center;">
              <i class="bi-cup-hot" style="font-size: 2rem; color: red;"></i>
              <span class="label label-danger">{{ .Attitude }}</span>
            </span>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <span style="display:block;text-align: right;">
              {{ .CreatedAtDate }}
            </span>
          </div>
        </div>
      </div>

      <div class="panel-body">
        <p>{{ .Post.Body }}</p>

      </div>

      <div class="panel-footer">
        <span style="margin-inline-end: 30px;">
          <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>
          60
        </span>
        {{ if .Post.PageData.IsAuthor }}

        {{/* 这是品味作者 */}}
        {{ if .Post.IsEdited }}
        {{/* 这是有加水（编辑）过（即补充内容） */}}
        <span style="font-size: smaller; margin-inline-end: 30px;">
          <a href="/v1/post/edit?id={{ .Post.Uuid }}">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          </a> {{ .Post.EditAtDate }}
        </span>
        {{ else }}
        {{/* 没有“加水”编辑过 */}}
        <span style="font-size: smaller; margin-inline-end: 30px;">
          <a href="/v1/post/edit?id={{ .Post.Uuid }}">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          </a>
        </span>
        {{ end }}
        {{ else }}
        {{/* 不是品味作者 */}}
        {{ if .Post.IsEdited }}
        {{/* 这是有编辑过 */}}

        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        <span style="font-size: smaller; margin-inline-end: 30px;">
          {{ .EditAtDate }}</span>
        {{ else }}
        {{/* 没有“追加”编辑过，留空白 */}}
        {{ end }}
        {{ end }}

       
        <span style="margin-inline-end: 30px;">
          <a href="/v1/post/detail?id={{ .Post.Uuid }}">
            <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
          </a>
          {{ .Count }}
        </span>
       


      </div>

    </div>
  </div>

</div>
{{ end }}