{{ define "content" }}

<ol class="breadcrumb">
    <li><a href="/v1/">大堂</a></li>
    <li><a href="/v1/family/home">家庭事项</a></li>
    <li class="active">登记一个新的家庭茶话团队</li>

</ol>


<div class="well">
    <p><strong>登记说明：</strong></p>
    <ul>
        <li>必须是男或者女主人才能登记新家庭</li>
        <li>登记人将自动成为第一个家庭主人（父母角色）成员</li>
        <li><span class="text-info">这是您眼中的家庭，您可以按自己的认知登记</span></li>
        <li>后续可以通过家庭关联功能建立与其他家庭的关系</li>
    </ul>
</div>


<div class="panel panel-default">

    <div class="panel-heading">
        新建家庭茶团
    </div>

    <form role="form" action="/v1/family/new" method="post">

        <div class="panel-body">

            <div class=" form-group">
                <p><label for="secret">家庭目前状态：</label></p>
                <label class="radio-inline">
                    <input type="radio" name="status" id="secret" value="0" checked required /> 保密
                </label>
                <label class="radio-inline">
                    <input type="radio" name="status" id="single" value="1" required /> 单身
                </label>
                <label class="radio-inline">
                    <input type="radio" name="status" id="cohabit" value="2" required /> 同居
                </label>
                <label class="radio-inline">
                    <input type="radio" name="status" id="married" value="3" required /> 已婚
                </label>
                <label class="radio-inline">
                    <input type="radio" name="status" id="separated" value="4" required /> 分居
                </label>
                <label class="radio-inline">
                    <input type="radio" name="status" id="divorced" value="5" required /> 离婚
                </label>
            </div>

            <div class=" form-group">
                <p><label for="off">是否公开可见？</label></p>
                <label class="radio-inline">
                    <input type="radio" name="is_open" id="on" value="on" required checked /> 是
                    </label>
                    <input type="radio" name="is_open" id="off" value="off" required /> 否
                </label>
            </div>

            <div class=" form-group">
                <p><label for="no">是否有孩子？</label></p>
                <label class="radio-inline">
                    <input type="radio" name="child" id="no" value="no" required checked /> 否
                </label>
                <label class="radio-inline">
                    <input type="radio" name="child" id="yes" value="yes" required /> 是
                </label>
            </div>

            <label for="name">家庭茶团名称：</label>
            <div class="form-group">
                <input type="text" class="form-control" readonly id="name" value="{{ .SessUser.Name }}&*" />
                <small class="form-text text-muted">
                    <span class="text-info">★ 系统自动生成名称，"*"代表配偶占位符</span><br/>
                    当配偶确认加入后，系统将自动更新为实际名称（例：张三&李四）<br/>
                    这样可以防止冒用他人姓名
                </small>
            </div>

            <div class="form-group" style="margin-top: 1rem;">
                <label for="introduction">家庭茶团简介（3～456字）:</label>
                <textarea class="form-control" name="introduction" id="introduction" rows="3" minlength="4"
                    maxlength="567"  required>一个世界上最重要的地方，温暖的家。</textarea>
            </div>

            <div class="form-group; col-xs-offset-5 col-sm-offset-5 col-md-offset-5 col-lg-offset-5">
                <button type="submit" class="btn btn-default">提交</button>
            </div>

        </div>
    </form>

    <div class="panel-footer">
        自斟自饮的茶博士：家，是人生最重要的地方，没有之一。
    </div>

</div>

{{ end }}