{{ define "content"}}

{{/* 这是指定的&家庭茶团详情展示页面-面包屑导航栏  */}}

<ol class="breadcrumb">
  <li><a href="/v1/">大堂</a></li>
  <li><a href="/v1/family/home">家庭事项</a></li>
  <li><a>{{ .FamilyBean.Family.Name }}家庭茶团</a></li>
  <li class="=active">详情</li>
</ol>

{{ if .IsNewMember }}{{/* 检查是否新家庭成员声明提及的茶友 -开始 */}}
{{ with .FamilyMemberSignIn }}{{/* 检查是否新家庭成员声明为空 -开始  */}}
<div class="alert alert-info" role="alert">
  注意，你被这个家庭声明为家人，如果属实，
  <a href="/v1/family_member/sign_in?id={{ .Uuid }}" class="alert-link">请点此查看声明</a>
  ，否则请忽略。
</div>

{{ end }}{{/* 检查是否新家庭成员声明为空 -结束  */}}

{{ end }}{{/* 检查是否新家庭成员声明提及的茶友 -结束  */}}

{{ if .IsParent }}
<div style="margin: 1rem;">
  <a class="btn btn-default" href="/v1/family/home" role="button">家庭首页</a>
  {{/* 显示添加家庭成员的功能按钮  */}}
  <a class="btn btn-default" href="/v1/search" role="button" style="margin-inline-start: 2rem;">
    <i class="bi-pencil-square" style="font-size: 1.2rem; color: green;"></i>
    添加成员</a>
</div>

{{ end }}{{/* 检查是否家庭&团队管理员(父母角色)-结束  */}}

<hr />

{{/* 这是指定茶团详情展示页面  */}}

<div class="media">

  <div class="media-left">
    {{ template "component_avatar_name_gender" .FamilyBean.Family.Founder }}
  </div>

  <div class="media-body">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">

          <div class="col-xs-4">
            <span style="font-style: italic;"><a
                  href="/v1/team/detail?uuid={{ .FamilyBean.FounderTeam.Uuid }}" title="团队详情">({{ .FamilyBean.FounderTeam.Abbreviation }})</a>
                </span>
          </div>

          <div class="col-xs-4 text-center">
              <span class="label label-default">{{ .FamilyBean.Family.GetStatus }}</span>
          </div>

          <div class="col-xs-4 text-right">
              {{ .FamilyBean.Family.CreatedAtDate }}
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="text-center" style="font-size: large;">
          {{ .FamilyBean.Family.Name }}
            @<span style="font-style: italic;"><a href="/v1/group-of-relatives/detail?id=x">金陵X大家族</a>
            </span>
        </div>
        <span style="white-space: pre-wrap;">
          {{ .FamilyBean.Family.Introduction }}
        </span>

      </div>
      <div class="panel-footer">
        <span style="margin-inline-end: 20px;" title="团号">
          <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
          {{ .FamilyBean.Family.Id }}
        </span>

        {{ if .FamilyBean.Family.HasChild }}
        <span style="margin-inline-end: 20px;" title="有子女">
          <i class="bi-check-circle" style="font-size: 1rem; color: #010101;"></i>
        </span>
        {{ end }}

        <span style="margin-inline-end: 20px;" title="成员数">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          {{ .FamilyBean.MemberCount }}
        </span>

      </div>
    </div>

    <div style="margin: 2rem;">
      <ol class="nav nav-tabs">
        <li class="active"><a href="#">在座成员</a></li>
        <li><a href="/v1/family_member/signed?id={{ .FamilyBean.Family.Uuid }}">成员变动</a></li>
        <li><a href="/v1/family_member/resigned?id={{ .FamilyBean.Family.Uuid }}">离巢成员</a></li>
        <li><a href="/v1/goods/family?uuid={{ .FamilyBean.Family.Uuid }}">装备物资</a></li>
      </ol>
    </div>

  </div>
</div>

{{/* 这是&家庭茶团父母角色成员展示页面-开始  */}}
{{ range .ParentMemberBeanSlice }}

<div class="media">
  <div class="media-left">
    {{ template "component_avatar_name_gender" .Member }}
  </div>
  
  <div class="media-body">
    <span style="font-style: italic;">
      （<a href="/v1/family/detail?id={{ .MemberDefaultFamily.Uuid }}">{{ .MemberDefaultFamily.Name }}</a>,
      <a href="/v1/team/detail?uuid={{ .MemberDefaultTeam.Uuid }}">{{ .MemberDefaultTeam.Abbreviation }}</a>）
    </span>

    <h5>家庭角色：{{ .FamilyMember.GetRole }}</h5>
    {{ if .FamilyMember.Birthday }}
    <p>年龄：{{ .FamilyMember.GetAgeString }}岁
      {{ if not .FamilyMember.IsAlive }}
      <span class="label label-default" style="background-color: #999;">已故</span>
      {{ end }}
    </p>
    {{ end }}
    <p>登记时间：{{ .FamilyMember.CreatedAtDate }}</p>

    <span style="font-style: italic;">{{ .Member.Email }}</span>
    
    <div style="margin-top: 10px;">
      <a href="/v1/family_member/detail?id={{ .FamilyMember.Uuid }}" class="btn btn-xs btn-info">
        <i class="bi-eye"></i> 查看详情
      </a>
      {{ if $.IsParent }}
      <a href="/v1/family_member/edit?id={{ .FamilyMember.Uuid }}" class="btn btn-xs btn-default">
        <i class="bi-pencil"></i> 编辑
      </a>
      {{ end }}
    </div>

  </div>
</div>

<hr />
{{ end }}{{/* 这是&家庭茶团父母角色成员展示页面-结束  */}}

{{/* 这是&家庭茶团孩子角色成员展示页面  */}}
{{ range .ChildMemberBeanSlice }}

<div class="media">
  <div class="media-left">
     {{ template "component_avatar_name_gender" .Member }}
  </div>
  <div class="media-body">
    <span style="font-style: italic;">
      （<a href="/v1/family/detail?id={{ .MemberDefaultFamily.Uuid }}">{{ .MemberDefaultFamily.Name }}</a>,
      <a href="/v1/team/detail?uuid={{ .MemberDefaultTeam.Uuid }}">{{ .MemberDefaultTeam.Abbreviation }}</a>）
    </span>

    <h5>家庭角色：{{ .FamilyMember.GetRole }}</h5>
    {{ if .FamilyMember.Birthday }}
    <p>年龄：{{ .FamilyMember.GetAgeString }}岁
      {{ if not .FamilyMember.IsAlive }}
      <span class="label label-default" style="background-color: #999;">已故</span>
      {{ end }}
    </p>
    {{ end }}
    <p>登记时间：{{ .FamilyMember.CreatedAtDate }}</p>

    <span style="font-style: italic;">{{ .Member.Email }}</span>
    
    <div style="margin-top: 10px;">
      <a href="/v1/family_member/detail?id={{ .FamilyMember.Uuid }}" class="btn btn-xs btn-info">
        <i class="bi-eye"></i> 查看详情
      </a>
      {{ if $.IsParent }}
      <a href="/v1/family_member/edit?id={{ .FamilyMember.Uuid }}" class="btn btn-xs btn-default">
        <i class="bi-pencil"></i> 编辑
      </a>
      {{ end }}
    </div>

  </div>
</div>

<hr />
{{ end }}{{/* 这是&家庭茶团孩子角色成员展示页面-结束 */}}

{{/* 这是&家庭茶团其他角色成员展示页面-开始 */}}
{{ range .OtherMemberBeanSlice }}

<div class="media">
  <div class="media-left">
     {{ template "component_avatar_name_gender" .Member }}
  </div>
  <div class="media-body">
    <span style="font-style: italic;">
      （<a href="/v1/family/detail?id={{ .MemberDefaultFamily.Uuid }}">{{ .MemberDefaultFamily.Name }}</a>,
      <a href="/v1/team/detail?uuid={{ .MemberDefaultTeam.Uuid }}">{{ .MemberDefaultTeam.Abbreviation }}</a>）
    </span>

    <h5>家庭角色：{{ .FamilyMember.GetRole }}</h5>
    {{ if .FamilyMember.Birthday }}
    <p>年龄：{{ .FamilyMember.GetAgeString }}岁
      {{ if not .FamilyMember.IsAlive }}
      <span class="label label-default" style="background-color: #999;">已故</span>
      {{ end }}
    </p>
    {{ end }}
    <p>登记时间：{{ .FamilyMember.CreatedAtDate }}</p>

    <span style="font-style: italic;">{{ .Member.Email }}</span>
    
    <div style="margin-top: 10px;">
      <a href="/v1/family_member/detail?id={{ .FamilyMember.Uuid }}" class="btn btn-xs btn-info">
        <i class="bi-eye"></i> 查看详情
      </a>
      {{ if $.IsParent }}
      <a href="/v1/family_member/edit?id={{ .FamilyMember.Uuid }}" class="btn btn-xs btn-default">
        <i class="bi-pencil"></i> 编辑
      </a>
      {{ end }}
    </div>

  </div>
</div>

<hr />
{{ end }}{{/* 这是&家庭茶团其他角色成员展示页面-结束  */}}

{{ end }}