{{ define "content" }}

{{/* 这是 某个茶友阅读，关于被某个家庭声明为家人，处理页面 */}}

{{ with .FamilyMemberSignInBean }}{{/* 检查是否家庭成员声明资料夹为空 -开始  */}}


<ol class="breadcrumb">
    <li><a href="/v1/">大堂</a></li>
    <li><a href="/v1/family/detail?id={{ .Family.Uuid }}">{{ .Family.Name }}家庭茶团</a></li>
    <li class="active">阅读家庭成员声明</li>
</ol>


        <div class="panel panel-info">

            <div class="panel-heading">
               
                <h4 class="text-center">{{ .FamilyMemberSignIn.Title }}</h4>
            </div>

            <div class="panel-body">
                <p>
                    亲爱的 <strong>{{ .NewMember.Name }}</strong> ：
                </p>

                <p>新成员角色: {{ .FamilyMemberSignIn.GetRole }}</p>

               <p>这就是我们的家庭茶团，一起来喝茶。</p>

                <p>
                    {{ .FamilyMemberSignIn.Content }}
                </p>

                <p class="text-right">
                    {{if .Author.Gender }}
                    男主人：
                    <a href="/v1/user/biography?uuid={{ .Author.Uuid }}">{{ .Author.Name }} </a>
                    <i class="bi-gender-male" style="font-size: 1.4rem; color: cornflowerblue;"></i>
                    {{ else }}
                    女主人：
                    <a href="/v1/user/biography?uuid={{ .Author.Uuid }}">{{ .Author.Name }} </a>
                    <i class="bi-gender-female" style="font-size: 1.4rem; color:hotpink;"></i>
                    {{ end }}
                </p>

                <p>{{ .FamilyMemberSignIn.CreatedAtDate }}  {{ .Place.Name }} </p>
            </div>

        </div>







{{ if .FamilyMemberSignIn.Check }}

{{/* 展示对这个家庭成员声明书回复-开始 */}}

<div class="panel panel-default">
    <div class="panel-heading">
        我的选择：
    </div>
    <div class="panel-body">
        <p>{{ .FamilyMemberSignIn.Reply }}</p>
        <span style="font-size: smaller;"> {{ .FamilyMemberSignIn.ReplyCreatedAtDate }}</span>
    </div>
</div>

{{ else }}

{{/* 处理&家庭茶团成员声明书 */}}
<div class="panel panel-default">
    <div class="panel-heading">
        处理&家庭茶团成员声明书
    </div>
    <div class="panel-body">
        <form class="form-horizontal" role="form" action="/v1/family_member/sign_in" method="post">
            <div class="form-group">
                <p style="margin-inline-start: 2rem;">是这个家庭茶团成员?</p>
            </div>

            <div class="form-group">                    
                        <div name="radio" class="col-sm-12">
                            <div class="col-sm-6">
                                <input type="radio" name="reply" id="confirm" value="true" required />
                                <label for="confirm">确认</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="radio" name="reply" id="deny" value="false" required />
                                <label for="deny">否认</label>
                            </div>
                        </div>                 
            </div>
           
            <input type="hidden" name="id" id="FamilyMemberSignIn_id" value="{{ .FamilyMemberSignIn.Uuid }}">
            
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-2">
                    <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-send" aria-hidden="true"></span> 提交
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="panel-footer">
        提示：确认是成员将立即加入这个&家庭茶团。
    </div>
</div>

{{ end }}{{/* 展示对这个家庭成员声明书回复-结束 */}}


{{ end }}{{/* 检查是否家庭成员声明资料夹为空 -结束  */}}


{{ end }}