{{ define "content" }}

{{/* 这是 用户担任主人角色的家庭茶团展示页面，也是家庭事项首页  */}}

<ol class="breadcrumb">

  <li>大堂</li>
  <li><a href="/v1/family/home">家庭事项</a></li>
  <li class="active">和我有关系的&家庭茶团</li>
</ol>

<div class="well">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  <a href="/v1/family/new">家庭茶团</a>
</div>

<div style="margin: 20px;">
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/v1/family/home">公开</a></li>
    <li role="presentation"><a href="/v1/family/home/private">私密</a></li>
  </ul>
</div>

<div style="margin: 20px;">
  <ul class="nav nav-pills nav-justified">
    <li role="presentation" class="active"><a href="/v1/family/home">家庭首页</a></li>
    <li role="presentation"><a href="/v1/families/parent">本家家族</a></li>
    <li role="presentation"><a href="/v1/families/in-laws">外家姻亲</a></li>
    <li role="presentation"><a href="/v1/families/gone">随风飘逝</a></li>
  </ul>
</div>


{{ if .IsEmpty }}
{{/* 这是用户还没有登记家庭茶团 -空值  */}}
<div class="panel panel-default">
  <div class="panel-heading">
    <span class="lead">茶博士</span>
  </div>

  <div class="panel-body">
    尚未登记&家庭茶团。
  </div>

</div>
{{ else }}

{{ with .DefaultFamilyBean }}{{/* 这是 用户默认（公开）的家庭茶团展示 -开始  */}}
<div class="media">
  <div class="media-left">
    <a href="/v1/family/detail?uuid={{ .Family.Uuid }}">
      {{ if .Family.Status }}
      <img class="media-object" src="/v1/static/bootstrap-icons/house-check.svg" alt="已婚家庭" height="32" width="32">
      {{ else }}
      <img class="media-object" src="/v1/static/bootstrap-icons/house-check-fill.svg" alt="单身贵族" height="32" width="32">
      {{ end }}
    </a>
    
    
    
    
    
  </div>
  <div class="media-body">
    <div class="panel panel-default">

      <div class="panel-heading">
        <div class="row">

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <a href="/v1/family/detail?id={{ .Family.Uuid }}">{{ .Family.Name }} 家庭茶团</a>
            <span class="label label-default" style="font-size: xx-small;">默认</span>
          </div>

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <span style="display: block; text-align: center;">

              <span class="label label-default">
                {{ .Family.GetStatus }}
              </span>

            </span>
          </div>

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="pull-right" style="font-size: small;">
              <a href="/v1/user/biography?uuid={{ .Founder.Uuid }}">{{ .Founder.Name }}</a>
              {{if .Founder.Gender }}
              <i class="bi-gender-male" style="font-size: 1.4rem; color: cornflowerblue;"></i>
              {{ else }}
              <i class="bi-gender-female" style="font-size: 1.4rem; color:hotpink;"></i>
              {{ end }}
              <span style="font-style: italic;"><a
                  href="/v1/team/detail?uuid={{ .FounderTeam.Uuid }}">{{ .FounderTeam.Abbreviation }}</a></span>

              {{ .Family.CreatedAtDate }}
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">

        {{ .Family.Introduction }} ...
      </div>

      <div class="panel-footer">
        <span style="margin-inline-end: 20px;" title="团号">
          <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
          {{ .Family.Id }}
        </span>

        <span style="margin-inline-end: 20px;">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          {{ .PersonCount }}
        </span>

      </div>

    </div>
  </div>
</div>

<div style="margin: 1rem;">
  <a class="btn btn-default" href="/v1/family/tree?id={{ .Family.Uuid }}" role="button">
    <i class="bi-diagram-3" style="font-size: 1.5rem; color: brown;"></i>
    家族树</a>
  <span style="margin-inline-start: 2rem;">
    <a class="btn btn-default" href="/v1/family/edit?id={{ .Family.Uuid }}" role="button">
      <i class="bi-pencil-square" style="font-size: 1.5rem; color: green;"></i>
      编辑资料</a>
  </span>
  <span style="margin-inline-start: 2rem;">
    <a class="btn btn-default" href="/v1/family_member/resign?id={{ .Family.Uuid }}" role="button">
      <i class="bi-escape" style="font-size: 1.5rem; color: red;"></i>
      退出茶团</a>
  </span>
</div>


{{ end }}{{/* 这是 用户默认的家庭茶团展示 -结束  */}}








{{ range .OtherFamilyBeanSlice }}{{/* 这是 用户其他担任主人角色的家庭茶团展示 -开始  */}}

<div class="media">
  <div class="media-left">
    <a href="/v1/family/detail?id={{ .Family.Uuid }}">
      {{ if .Family.Status }}
      <img class="media-object" src="/v1/static/bootstrap-icons/house-door.svg" alt="已婚家庭" height="32" width="32">
      {{ else }}
      <img class="media-object" src="/v1/static/bootstrap-icons/house-door-fill.svg" alt="单身贵族" height="32" width="32">
      {{ end }}
    </a>

  </div>
  <div class="media-body">
    <div class="panel panel-default">

      <div class="panel-heading">
        <div class="row">

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <a href="/v1/family/detail?id={{ .Family.Uuid }}">{{ .Family.Name }} 家庭茶团</a>
          </div>

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <span style="display: block; text-align: center;">

              <span class="label label-default">
                {{ .Family.GetStatus }}
              </span>

            </span>
          </div>

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="pull-right" style="font-size: small;">
              <a href="/v1/user/biography?uuid={{ .Founder.Uuid }}">{{ .Founder.Name }}</a>
              {{if .Founder.Gender }}
              <i class="bi-gender-male" style="font-size: 1.4rem; color: cornflowerblue;"></i>
              {{ else }}
              <i class="bi-gender-female" style="font-size: 1.4rem; color:hotpink;"></i>
              {{ end }}
              <span style="font-style: italic;"><a
                  href="/v1/team/detail?uuid={{ .FounderTeam.Uuid }}">{{ .FounderTeam.Abbreviation }}</a></span>

              {{ .Family.CreatedAtDate }}
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">

        {{ .Family.Introduction }} ...
      </div>

      <div class="panel-footer">
        <span style="margin-inline-end: 20px;" title="家庭号">
          <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
          {{ .Family.Id }}
        </span>

        <span style="margin-inline-end: 20px;">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          {{ .PersonCount }}
        </span>

      </div>

    </div>
  </div>
</div>

<div style="margin: 1rem;">
  <a class="btn btn-default" href="/v1/family/tree?id={{ .Family.Uuid }}" role="button">
    <i class="bi-diagram-3" style="font-size: 1.5rem; color: brown;"></i>
    家族树</a>
  <span style="margin-inline-start: 2rem;">
    <a class="btn btn-default" href="/v1/family/edit?id={{ .Family.Uuid }}" role="button">
      <i class="bi-pencil-square" style="font-size: 1.5rem; color: green;"></i>
      编辑资料</a>
  </span>
  {{ if .Family.IsOpen }}
  <span style="margin-inline-start: 2rem;">
    <a class="btn btn-default" href="/v1/family/default?id={{ .Family.Uuid }}" role="button">
      <i class="bi-house-check" style="font-size: 1.5rem; color: black;"></i>
      设为默认</a>
  </span>
  {{ end }}
  <span style="margin-inline-start: 2rem;">
    <a class="btn btn-default" href="/v1/family_member/resign?id={{ .Family.Uuid }}" role="button">
      <i class="bi-escape" style="font-size: 1.5rem; color: red;"></i>
      退出茶团</a>
  </span>
</div>

<hr />

{{ else }}

<div class="panel panel-default">
  <div class="panel-heading">
    <span class="lead">茶博士</span>
  </div>

  <div class="panel-body">
    没有其他&家庭茶团记录。
  </div>

</div>

{{ end }}{{/* 这是展示 其他主人角色家庭茶团 -结束  */}}


{{ end }}{{/* 这是检查 用户还没有登记的家庭茶团 -结束  */}}


{{ end }}