{{ define "content" }}

{{/* 这是 某个茶友阅读，关于被某个家庭声明为家人，处理页面 */}}

<ol class="breadcrumb">
    <li><a href="/v1/">大堂</a></li>
    <li><a href="/v1/family/detail?id={{ .Family.Uuid }}">{{ .Family.Name }}</a></li>
    <li class="active">阅读新家庭成员声明</li>
</ol>



<div class="media">
    <div class="media-left">
        <a href="/v1/family/detail?id={{ .Family.Uuid }}">
            <img class="media-object" src="/v1/static/image/{{ .Family.Logo }}.jpeg" alt="家庭茶团标">
        </a>
    </div>

    <div class="media-body">
        <div class="panel panel-info">

            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <a href="/v1/family/detail?id={{ .Family.Uuid }}">{{ .Family.Name }}</a>
                    </div>

                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <span style="display: block; font-size: smaller;text-align: center;">
                            {{ .Family.CreatedAtDate }}
                        </span>
                    </div>

                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <span style="display: block; text-align: right;">
                            <span class="label label-success">{{ .Family.Status }}
                            </span>
                        </span>

                    </div>
                </div>
            </div>

            <div class="panel-body">
                <h4 class="text-center">{{ .Family.Title }}</h4>
                <p>
                    致 <strong>{{ .InviteUser.Name }}</strong> 阁下：
                </p>
                <p>
                    {{ .Invitation.InviteWord }}
                </p>
                <p class="text-right">茶团CEO：
                    <strong>{{ .Invitation.CEO.Name }}</strong> 此致</p>

                <p>拟邀任茶团角色为: {{ .Invitation.Role }}</p>
            </div>

        </div>
    </div>
</div>





{{ if .Invitation.Check }}
{{/* 处理茶团邀请函 */}}
<div class="panel panel-default">
    <div class="panel-heading">
        处理邀请函
    </div>
    <div class="panel-body">
        <form class="form-horizontal" role="form" action="/v1/team_member/invitation" method="post">
            <div class="form-group">
                <fieldset>
                    <legend style="font-size: small;">
                        <label for="radio" class="col-sm-2 control-label">选择处理：</label>
                        <div name="radio" class="col-sm-10">
                            <div class="col-sm-6">
                                <input type="radio" name="reply" id="accept" value="1" checked />
                                <label for="accept">接受</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="radio" name="reply" id="decline" value="0" />
                                <label for="decline">拒绝</label>
                            </div>
                        </div>
                    </legend>
                </fieldset>
            </div>
            <div class="form-group">
                <label for="invitation_reply" class="col-sm-2 control-label">回复邀请：</label>
                <div class="col-sm-10">
                    <textarea class="form-control" name="invitation_reply" id="invitation_reply" rows="3"
                        maxlength="567" placeholder="捎带两句" required></textarea>
                </div>
            </div>
            <input type="hidden" name="invitation_id" id="invitation_id" value="{{ .Invitation.Id }}">
            <input type="hidden" name="user_id" id="user_id" value="{{ .InviteUser.Id }}">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-2">
                    <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-send" aria-hidden="true"></span> 回复
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="panel-footer">
        提示：接受邀请即可加入茶团。
    </div>
</div>

{{ else }}
{{/* 展示邀请函回复 */}}

<div class="panel panel-default">
    <div class="panel-heading">
        我的答复：
    </div>
    <div class="panel-body">
        <p>{{ .Invitation.Reply.ReplyWord }}</p>
        <span style="font-size: smaller;"> {{ .Invitation.ReplyCreatedAtDate }}</span>
    </div>
</div>


{{ end }}{{/* 展示邀请函回复结束 */}}

{{ end }}