
{{ define "content"}}


<ol class="breadcrumb">
  <li><a href="/v1/">大堂</a></li>
  <li>{{ .GroupBean.Group.Abbreviation }}@集团</li>
  <li class="=active">详情</li>
  
</ol>

{{/* 展示某个茶话集团的详情资料 */}}

<div class="media">
  <div class="media-left">

    <img class="media-object" src="/v1/static/image/{{ .GroupBean.Group.Logo }}.jpeg" alt="集团旗帜">

  </div>
  <div class="media-body">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            {{ .GroupBean.Group.Name }}
          </div>

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <span style="display: block;text-align: center;">
              {{ if .GroupBean.Open }}
              <span class="label label-success">{{ .GroupBean.Group.Property }}
                {{ else }}
                <span class="label label-default">{{ .GroupBean.Group.Property }}
                  {{ end }}
                </span>
              </span>
          </div>

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <span style="display: block; text-align: right; font-size: smaller;">
              {{if .GroupBean.Founder.Gender }}
            <i class="bi-gender-male" style="font-size: 1.4rem; color: cornflowerblue;"></i>
            {{ else }}
            <i class="bi-gender-female" style="font-size: 1.4rem; color:hotpink;"></i>
            {{ end }}
              <a href="/v1/user/biography?id={{ .GroupBean.Founder.Uuid }}">{{ .GroupBean.Founder.Name }}</a>
              @<span style="font-style: italic;"><a href="/v1/group/detail?id={{ .GroupBean.FounderTeam.Uuid }}">{{ .GroupBean.FounderTeam.Abbreviation }}</a></span>

              {{ .GroupBean.CreatedAtDate }}
            </span>
          </div>
        </div>
      </div>
      <div class="panel-body">

        {{ .GroupBean.Group.Mission }}

      </div>
      <div class="panel-footer">
        <span style="margin-inline-end: 20px;" title="团号">
          <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
          {{ .GroupBean.Group.Id }}
        </span>

        <span style="margin-inline-end: 20px;" title="成员数">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          {{ .GroupBean.TeamsCount }}
        </span>

        {{ if .GroupBean.Group.Tags }}
        <div style="margin-top: 10px;">
          <i class="glyphicon glyphicon-tags"></i>
          {{ range .GroupBean.Group.GetTags }}
          <span class="label label-info" style="margin-right: 5px;">{{ . }}</span>
          {{ end }}
        </div>
        {{ end }}

      </div>
    </div>


    {{ if .CanManage }}
      <a class="btn btn-default" href="/v1/group/manage?id={{ .GroupBean.Group.Uuid }}" role="button">管理集团</a>
    {{ end }}
    
    
    <div style="margin: 20px;">
      <ol class="nav nav-tabs">
        <li class="active"><a href="#">在座成员</a></li>
    <li><a href="/v1/group/member_resigned?uuid={{ .GroupBean.Group.Uuid }}">已退成员</a></li>
  </ol>
</div>


    {{/*  这是本集团茶团展示页面  */}}
    {{ range .TeamBeanSlice }}

    {{ template "component_team" . }}
    
    {{ end }}

  </div>
</div>


{{ if .IsOverTwelve }}

<div style="margin-top: 66px;">
<nav aria-label="next pager">
  <ul class="pager">
    <li><a href="#">上一页</a></li>
    <li><a href="#">下一页 </a></li>
  </ul>
</nav>
</div>
{{ end }}


{{ end }}