{{ define "content" }}

<p class="text-center">
  <a href="/v1/">大堂 </a>|
  <a href="/v1/objective/square">茶话会 </a>|
  <a href="/v1/team/open">茶团</a>
</p>

{{/* 这是茶棚主页 */}}

<div style="margin: 20px;">
  <ol class="nav nav-tabs">
    <li class="active"><a href="#">热茶集锦</a></li>
    <li><a href="/v1/show/monologue">自斟自饮</a></li>
  </ol>
</div>

{{/* 展示全部茶议 */}}
{{ range .ThreadBeanList }}

{{ if .Thread.PageData.IsAuthor }}
{{/* 检测是否茶议作者，是,安排右侧头像布局 */}}
<div class="media">

  <div class="media-body">

    <div class="panel panel-success">

      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <span style="font-size: small;">
              {{ .Author.Name }}
              {{if .Author.Gender }}
              <i class="bi-gender-male" style="font-size: 1.2rem; color: cornflowerblue;"></i>
              {{ else }}
              <i class="bi-gender-female" style="font-size: 1.2rem; color:hotpink;"></i>
              {{ end }}
              @<a href="/v1/team/detail?id={{ .AuthorTeam.Uuid }}">{{ .AuthorTeam.Abbreviation }}</a>
            </span>
          </div>

          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <span style="display: block; font-size: smaller;text-align: right;">
              {{ .CreatedAtDate }}
            </span>
          </div>
        </div>
      </div>

      <div class="panel-body">

        <h5><mark>{{ .Thread.TypeStatus }}</mark>
          {{if .IsApproved }}
          {{/* 这个主意已被台主采纳 */}}
          <i class="bi-check" style="font-size: 2rem; color: red;"></i>
          {{ end }}
          <a href="/v1/thread/detail?id={{ .Thread.Uuid }}">
            <span style="margin-inline-start: 1rem;">{{ .Thread.Title }}</span>
          </a>
        </h5>

        <p>
          {{ .Thread.Body }} ...
        </p>

      </div>

      <div class="panel-footer">

        <span class="pull-right">
          <a href="/v1/thread/detail?id={{.Thread.Uuid }}">
            <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>

          </a> {{ .Count }}
        </span>
      </div>

    </div>
  </div>
  <div class="media-right">
    {{ if .Count }}
    <span class="badge">{{ .Count }}</span>
    {{ end }}
    <a href="/v1/user/biography?id={{ .Author.Uuid }}">
      <img class="img-circle" src="/v1/static/image/{{ .Author.Avatar }}.jpeg" alt="个人头像">
    </a>
  </div>
</div>

{{ else }}
{{/* 非茶议作者，安排左侧头像布局 */}}

<div class="media">
  <div class="media-left">
    {{ if .Count }}
    <span class="badge">{{ .Count }}</span>
    {{ end }}
    <a href="/v1/user/biography?id={{ .Author.Uuid }}">
      <img class="img-circle" src="/v1/static/image/{{ .Author.Avatar }}.jpeg" alt="个人头像">
    </a>

  </div>
  <div class="media-body">

    <div class="panel panel-default">

      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            {{ .Author.Name }}
            {{if .Author.Gender }}
            <i class="bi-gender-male" style="font-size: 1.2rem; color: cornflowerblue;"></i>
            {{ else }}
            <i class="bi-gender-female" style="font-size: 1.2rem; color:hotpink;"></i>
            {{ end }}
            <span style="font-weight: lighter;">
              <a href="/v1/team/detail?id={{ .Author.GetLastDefaultTeam.Uuid }}">{{ .AuthorTeam.Abbreviation }}</a>
            </span>
          </div>

          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <span style="display: block; font-size: smaller;text-align: right">
              {{ .CreatedAtDate }}
            </span>
          </div>
        </div>
      </div>

      <div class="panel-body">
        <h5>
          <mark>{{ .Thread.TypeStatus }}</mark>
          {{if .IsApproved }}
          {{/* 这个主意已被台主采纳 */}}
          <i class="bi-check" style="font-size: 2rem; color: red;"></i>
          {{ end }}
          <a href="/v1/thread/detail?id={{ .Thread.Uuid }}">
            <span style="margin-inline-start: 1rem;">{{ .Thread.Title }}</span>
          </a>
        </h5>

        <p>
          {{ .Thread.Body }} ...
        </p>

      </div>

      <div class="panel-footer">
        <i class="bi-coin" style="font-size: 1.5rem; color: black;margin-inline-end: 2rem;"> {{ .Cost }}</i>
        <i class="bi-stopwatch" style="font-size: 1.5rem; color: black; margin-inline-end: 2rem;"> {{ .TimeSlot }}</i>

        <span class="pull-right">
          <a href="/v1/thread/detail?id={{.Thread.Uuid }}">
            <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>

          </a> {{ .Count }}
        </span>
      </div>

    </div>
  </div>
</div>
{{ end }}

{{ end }}

{{ end }}