{{ define "content" }}

<p class="text-center">
  <a href="/v1/">大堂 </a>|
  <a href="/v1/objective/square">茶话会 </a>|
  <a href="/v1/team/open">茶团</a>
</p>



{{/* 这是茶棚主页 */}}

<div style="margin: 20px;">
  <ol class="nav nav-tabs">
    <li class="active"><a href="#">热茶集锦</a></li>
    <li><a href="/v1/show/monologue">自斟自饮</a></li>
  </ol>
</div>

{{/* 展示全部茶议 */}}
{{ range .ThreadBeanList }}

{{ if .Thread.PageData.IsAuthor }}
{{/* 检测是否茶议作者，是,安排右侧头像布局 */}}
<div class="media">

  <div class="media-body">

    <div class="panel panel-success">

      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <span style="font-size: small;">
              {{if .Author.Gender }}
            <i class="bi-gender-male" style="font-size: 2rem; color: cornflowerblue;"></i>
            {{ else }}
            <i class="bi-gender-female" style="font-size: 2rem; color:hotpink;"></i>
            {{ end }}
              {{ .Author.Name }}
              @<a href="/v1/team/detail?id={{ .AuthorTeam.Uuid }}">{{ .AuthorTeam.Abbreviation }}</a>
            </span>
          </div>

         
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <span style="display: block; font-size: smaller;text-align: right;">
              {{ .CreatedAtDate }}
            </span>
          </div>
        </div>
      </div>

      <div class="panel-body">

        <h5><mark>{{ .Thread.TypeStatus }}</mark>:
          <a href="/v1/thread/detail?id={{ .Thread.Uuid }}">
            {{ .Thread.Title }}
          </a>
        </h5>

        <p>
          {{ .Thread.Body }} ...
        </p>

      </div>

      <div class="panel-footer">
        <span class="glyphicon glyphicon-glass" aria-hidden="true"></span>
        <span style="font-size: smaller; margin-inline-end: 20px;"> {{ .Count }} </span>
        {{ if .Thread.IsEdited }}
        <a href="/v1/thread/edit?id={{ .Thread.Uuid }}">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </a>
        <span style="font-size: smaller; margin-inline-end: 20px;"> {{ .CreatedAtDate }} </span>
        {{ else }}
        {{/* 没有编辑过（补充内容）则没有加水时间 */}}
        <a href="/v1/thread/edit?id={{ .Thread.Uuid }}">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </a>
        {{ end }}

        <span class="pull-right">
          <a href="/v1/thread/detail?id={{.Thread.Uuid }}">
            <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>

          </a> {{ .Count }}
        </span>
      </div>

    </div>
  </div>
  <div class="media-right">
    {{ if .Count }} 
    <span class="badge">{{ .Count }}</span>
    {{ end }}
    <a href="/v1/user/biography?id={{ .Author.Uuid }}">
      <img class="img-circle" src="/v1/static/image/{{ .Author.Avatar }}.jpeg" alt="个人头像">
    </a>
  </div>
</div>

{{ else }}
{{/* 检测是否茶议作者，否,安排左侧头像布局 */}}

<div class="media">
  <div class="media-left">
    {{ if .Count }}
    <span class="badge">{{ .Count }}</span>
    {{ end }}
    <a href="/v1/user/biography?id={{ .Author.Uuid }}">
      <img class="img-circle" src="/v1/static/image/{{ .Author.Avatar }}.jpeg" alt="个人头像">
    </a>

  </div>
  <div class="media-body">

    <div class="panel panel-default">

      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            {{if .Author.Gender }}
            <i class="bi-gender-male" style="font-size: 2rem; color: cornflowerblue;"></i>
            {{ else }}
            <i class="bi-gender-female" style="font-size: 2rem; color:hotpink;"></i>
            {{ end }}
            {{ .Author.Name }}
            <span style="font-weight: lighter;">
              @<a href="/v1/team/detail?id={{ .Author.GetLastDefaultTeam.Uuid }}">{{ .AuthorTeam.Abbreviation }}</a>
            </span>
          </div>

         
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <span style="display: block; font-size: smaller;text-align: right">
              {{ .CreatedAtDate }}
            </span>
          </div>
        </div>
      </div>

      <div class="panel-body">
        <h5>
        <mark>{{ .Thread.TypeStatus }}</mark>
          <a href="/v1/thread/detail?id={{ .Thread.Uuid }}">
            {{ .Thread.Title }}
          </a>
        </h5>

        <p>
          {{ .Thread.Body }} ...
        </p>

      </div>

    

    </div>
  </div>
</div>
{{ end }}

{{ end }}

{{ end }}