{{ define "content" }}

<p class="text-center">
  <a href="/v1/objective/square"> 茶话会 </a>|
  <a href="/v1/teams/open"> 茶团 </a>|
  <a href="/v1/office/help"> 茶博士</a>
</p>

{{/* 这是茶棚主页 */}}

<div style="margin: 20px;">
  <ol class="nav nav-tabs">
    <li class="active"><a href="#">热茶集锦</a></li>
    <li><a href="/v1/show/monologue">自斟自饮</a></li>
  </ol>
</div>

{{/* 展示全部茶议 */}}
{{ range .ThreadBeanSlice }}

{{ if .Thread.ActiveData.IsAuthor }}
{{/* 检测是否茶议作者，是,安排右侧头像布局 */}}
<div class="media">

  <div class="media-body">

    <div class="panel panel-success">

      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          
            <span style="font-size: smaller;">
            （<a href="/v1/family/detail?id={{ .AuthorFamily.Uuid }}">{{ .AuthorFamily.Name }}</a>,
                <a href="/v1/team/detail?id={{ .AuthorTeam.Uuid }}">{{ .AuthorTeam.Abbreviation }}</a>）
            </span>
          </div>

          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <span style="display: block; font-size: smaller;text-align: right;">
              {{ .Thread.CreatedAtDate }}
            </span>
          </div>
        </div>
      </div>

      <div class="panel-body">

        <h5><mark>{{ .Thread.TypeString }}</mark>
          {{if .IsApproved }}
          {{/* 这个主意已被台主采纳 */}}
          <i class="bi-bookmark-check" style="font-size: 2rem; color: red;"></i>
          {{ end }}
          <a href="/v1/thread/detail?uuid={{ .Thread.Uuid }}">
            <span style="margin-inline-start: 1rem;">{{ .Thread.Title }}</span>
          </a>
        </h5>

        <p>
          {{ .Thread.Body }} ...
        </p>

      </div>

      <div class="panel-footer">

        <span class="pull-right">
          <a href="/v1/thread/detail?uuid={{.Thread.Uuid }}">
            <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>

          </a> {{ .PostCount }}
        </span>
      </div>

    </div>
  </div>
  <div class="media-right">
    {{ if .PostCount }}
    <span class="badge">{{ .PostCount }}</span>
    {{ end }}
   {{ template "component_avatar_name_gender" .Author }}
</div>

{{ else }}
{{/* 非茶议作者，安排左侧头像布局 */}}

<div class="media">
  <div class="media-left">
    {{ if .PostCount }}
    <span class="badge">{{ .PostCount }}</span>
    {{ end }}
    {{ template "component_avatar_name_gender" .Author }}

  </div>
  <div class="media-body">

    <div class="panel panel-default">

      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <span style="font-size: smaller;">
              （<a href="/v1/family/detail?id={{ .AuthorFamily.Uuid }}">{{ .AuthorFamily.Name }}</a>,
                <a href="/v1/team/detail?id={{ .AuthorTeam.Uuid }}">{{ .AuthorTeam.Abbreviation }}</a>）
            </span>
          </div>

          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <span style="display: block; font-size: smaller;text-align: right">
              {{ .Thread.CreatedAtDate }}
            </span>
          </div>
        </div>
      </div>

      <div class="panel-body">
        <h5>
          <mark>{{ .Thread.TypeString }}</mark>
          {{if .IsApproved }}
          {{/* 这个主意已被台主采纳 */}}
          <i class="bi-bookmark-check" style="font-size: 2rem; color: red;"></i>
          {{ end }}
          <a href="/v1/thread/detail?uuid={{ .Thread.Uuid }}">
            <span style="margin-inline-start: 1rem;">{{ .Thread.Title }}</span>
          </a>
        </h5>

        <p>
          {{ .Thread.Body }} ...
        </p>

      </div>

      <div class="panel-footer">
       
          <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>
          {{ .PostCount }}
        </span>
      </div>

    </div>
  </div>
</div>
{{ end }}

{{ end }}

{{ end }}