{{ define "layout" }}

<!doctype html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{/* 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！  */}}
  <meta name="description" content="星际茶棚@茶话会(teaBar on starship@teachat)">
  <meta name="author" content="Luo Zengdong">
  {{/* 网站图标 */}}
  <link href="/v1/static/image/teachat-icon.svg" rel="icon">

  <title>星际茶棚</title>

  {{/* Bootstrap  */}}
  <link href="/v1/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/v1/static/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet">
  <link href="/v1/static/css/layout-footer-navbar.css" rel="stylesheet">
  <link href="/v1/static/css/signin.css" rel="stylesheet">
  

  {{/* HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能  */}}
  {{/* [if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif] */}}
</head>

<body>
  
  {{ template "navbar" .SessUser }}

  <div class="container">

    {{ template "content" . }}

  </div>{{/* content - container  */}}

 
  <footer class="footer">
    <div class="container">
      <p class="text-center" style="font-size: x-small;margin: 20px 0;">

          感谢:
          <a href="https://golang.google.cn">Golang</a>
          <a href="https://www.postgresql.org/">PostgreSQL</a>
          <a href="https://code.visualstudio.com/">VSCode</a>
          <a href="https://aws.amazon.com/q/">Amazon-Q</a>
          <a href="https://www.glyphicons.com/">Glyphicons</a>
          <a href="https://icons.bootcss.com/">Bootstrap-icons</a>
          <a href="https://www.deepseek.com">DeepSeek</a>
          <a href="https://cloud.tencent.com/product/acc">腾讯云代码助手</a>
          &nbsp;&nbsp;
          <a href="/v1/about">关于</a>
          联系: <a href="mailto:hejinluo@gmail.com">hejinluo@gmail.com</a>
       
      </p>
    </div>{{/* footer - container */}}
  </footer>



  <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  <script src="/v1/static/js/jquery.min.js"></script>
  <script src="/v1/static/js/bootstrap.min.js"></script>
</body>

</html>

{{ end }}