{{ define "content" }}

{{/* 这是 某个茶团邀请对象，阅读邀请函，处理页面 */}}

{{ with .InvitationBean }}{{/* 检查邀请函资料夹非空 -开始 */}}
<ol class="breadcrumb">
    <li><a href="/v1/">大堂</a></li>
    <li><a href="/v1/team/detail?uuid={{ .Team.Uuid }}">{{ .Team.Name }}</a></li>
    <li class="active">阅读加盟邀请函</li>
</ol>



<div class="media">
    <div class="media-left">
        <a href="/v1/team/detail?uuid={{ .Team.Uuid }}">
            <img class="media-object" src="/v1/static/image/{{ .Team.Logo }}.jpeg" alt="团队团标">
        </a>
    </div>

    <div class="media-body">
        <div class="panel panel-info">

            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <a href="/v1/team/detail?uuid={{ .Team.Uuid }}">{{ .Team.Name }}</a>
                    </div>

                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <span class="label label-success">
                           {{ .Status }}
                        </span>
                    </div>

                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <span style="display: block; text-align: right;">
                            <span> {{ .Invitation.CreatedAtDate }}
                            </span>
                        </span>

                    </div>
                </div>
            </div>

            <div class="panel-body">
                <h4 class="text-center">茶团邀请函</h4>
                <p>
                    致 <strong>{{ .InviteUser.Name }}</strong> 阁下：
                </p>
                <p>
                    {{ .Invitation.InviteWord }}
                </p>
                <p class="text-right">邀请人：

                    <a href="/v1/user/biography?uuid={{ .Author.Uuid }}">{{ .Author.Name }}</a></p>

                <p>拟邀任茶团角色为: {{ .Invitation.Role }}</p>
            </div>

        </div>
    </div>
</div>





{{ if .Invitation.Check }}
{{/* 处理茶团邀请函 */}}
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>处理邀请函</strong>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" role="form" action="/v1/team_member/invitation/read" method="post">
            <input type="hidden" name="invitation_id" value="{{ .Invitation.Id }}">
            <input type="hidden" name="user_id" value="{{ .InviteUser.Id }}">

            <div class="form-group">
                <label class="col-sm-2 control-label">选择处理：</label>
                <div class="col-sm-10">
                    <label class="radio-inline">
                        <input type="radio" name="reply" value="1" checked /> 接受邀请
                    </label>
                    <label class="radio-inline" style="margin-left: 20px;">
                        <input type="radio" name="reply" value="0" /> 婉拒邀请
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label for="invitation_reply" class="col-sm-2 control-label">回复内容：</label>
                <div class="col-sm-10">
                    <textarea class="form-control" name="invitation_reply" id="invitation_reply" rows="4"
                        minlength="2" maxlength="567" placeholder="请输入回复内容" required></textarea>
                    <p class="help-block">2-567个字符</p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-send"></span> 提交回复
                    </button>
                    <a href="/v1/team/detail?uuid={{ .Team.Uuid }}" class="btn btn-default">
                        <span class="glyphicon glyphicon-remove"></span> 取消
                    </a>
                </div>
            </div>
        </form>
    </div>
    <div class="panel-footer">
        提示：接受邀请后即可加入茶团。
    </div>
</div>

{{ else }}
{{/* 展示邀请函回复 */}}
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>我的答复</strong>
    </div>
    <div class="panel-body">
        <p>{{ .Invitation.Reply.ReplyWord }}</p>
        <p class="text-muted"><small>回复时间：{{ .Invitation.ReplyCreatedAtDate }}</small></p>
    </div>
</div>

{{ end }}{{/* 展示邀请函回复结束 */}}


{{ end }}{{/* 检查邀请函资料夹非空 -结束 */}}

{{ end }}