
{{ define "content" }}

{{/* 这是茶团实际控制人撰写邀请函，邀请新成员加入茶团页面 */}}

<ol class="breadcrumb">
  <li><a href="/v1/">大堂</a></li>
  <li class="active">撰写茶团邀请函</li>
</ol>


{{/* 这是撰写茶团邀请函输入面板 */}}
<div class="panel panel-default">

    <div class="panel-heading">
        <strong>邀请个人加盟茶团</strong>  
    </div>

    <div class="panel-body">

        <form class="form-horizontal" role="form" action="/v1/team_member/invite" method="post">
{{ with .InvitationBean }}{{/* 检查邀请函资料夹非空，填写受邀对象 - 开始 */}}
            <div class="form-group">
                <label for="u_name" class="col-sm-2 control-label">受邀人花名：</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="u_name" value="{{ .InviteUser.Name }}" readonly disabled />
                </div>
            </div>
            
            <div class="form-group">
                {{/* 这是受邀请的用户email提交 */}}
                <label for="email" class="col-sm-2 control-label">受邀人邮箱：</label>
                <div class="col-sm-10">
                    <input type="text" name="email" class="form-control" id="email" value="{{ .InviteUser.Email }}" readonly required />
                </div>
            </div>


            <div class="form-group">
                <label for="invite_word" class="col-sm-2 control-label">邀请函正文：</label>
                <div class="col-sm-10">
                    <textarea class="form-control" name="invite_word" id="invite_word" rows="3" minlength="2"
                        maxlength="567" placeholder="请输入一些邀请话语" required></textarea>
                </div>
            </div>

            <hr />

            <div class="form-group">
                <label for="radio" class="col-sm-2 control-label"> 拟任新角色：</label>
                <div class="col-sm-10">
                    <fieldset id="radio">
                        <input type="radio" name="role" id="CEO" style="width: fit-content;margin-inline-start: 20px;"
                            value=CEO checked />
                        <label for="CEO" style="margin-inline-end: 20px;">CEO</label>

                        <input type="radio" name="role" id="CTO" style="width: fit-content;" value=CTO />
                        <label for="CTO" style="margin-inline-end: 20px;">CTO</label>

                        <input type="radio" name="role" id="CMO" style="width: fit-content;" value=CMO />
                        <label for="CMO" style="margin-inline-end: 20px;">CMO</label>

                        <input type="radio" name="role" id="CFO" style="width: fit-content;" value=CFO />
                        <label for="CFO" style="margin-inline-end: 20px;">CFO</label>

                        <input type="radio" name="role" id="member" style="width: fit-content;" value="taster" />
                        <label for="member">品茶师</label>
                    </fieldset>
                </div>
            </div>
{{ end }}{{/* 检查邀请函资料夹非空，填写受邀对象 - 结束 */}}
            


            <div class="form-group">
                <label for="team_uuid" class="col-sm-2 control-label"> 选择茶团：</label>
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                  <select name="team_uuid" class="form-control" id="team_uuid" required>
                    <option value="{{ .SessUserDefaultTeam.Uuid }}">{{ .SessUserDefaultTeam.Name }}
                    </option>
                    {{ range .SessUserSurvivalTeams }}
                    <option value="{{ .Uuid }}">{{ .Name }}</option>
                    {{ end }}
                  </select>
                </div>
              </div>

            <div class="form-group">
                <div class="col-xs-offset-5 col-sm-offset-5 col-md-offset-5 col-lg-offset-5">
                    <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-send" aria-hidden="true"></span> 发送
                    </button>
                </div>
            </div>

        </form>

    </div>

    <div class="panel-footer">
        提示：收到邀请的用户同意后即可加入茶团。
    </div>

</div>

{{ end }}