
{{ define "content" }}

{{/* 处理茶团某个成员自己提出离开团队的“退出茶团声明书”撰写页面 */}}

<ol class="breadcrumb">
    <li><a href="/v1/">大堂</a></li>
    <li><a href="/v1/team/detail?id={{ .Team.Uuid }}">{{ .Team.Name }}</a></li>
    <li class="active">撰写退出茶团声明</li>
</ol>



<div class="media">
    <div class="media-left">
        <a href="/v1/team/detail?id={{ .Team.Uuid }}">
            <img class="media-object" src="/v1/static/image/{{ .Team.Logo }}.jpeg" alt="团队团标">
        </a>
    </div>

    <div class="media-body">
        <div class="panel panel-info">

            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <a href="/v1/team/detail?id={{ .Team.Uuid }}">{{ .Team.Abbreviation }}</a>
                    </div>

                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <span style="display: block; font-size: smaller;text-align: center;">
                            {{ .Team.CreatedAtDate }}
                        </span>
                    </div>

                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <span style="display: block; text-align: right;">
                            <span class="label label-success">{{ .Team.TeamProperty }}
                            </span>
                        </span>

                    </div>
                </div>
            </div>

            <div class="panel-body">

                <form role="form" action="/v1/team_member/resign" method="post">

                    <div class="form-group">
                        <label>茶团号：</label>
                        {{ .Team.Id }}
                    </div>

                    <div class="form-group">
                        <label for="title" class="control-label">声明标题：</label>
                        <div>
                            <input type="text" class="form-control" name="title" id="title" minlength="2"
                                maxlength="48" value="关于 {{ .SessUser.Name }} 退出 {{ .Team.Abbreviation }} 茶团的声明" required readonly />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="content">声明内容：</label>
        <textarea class="form-control" name="content" id="content" rows="3" minlength="2" maxlength="567"
        placeholder="例如：因为个人原因，朕声明退出 {{ .Team.Name }} 。" required></textarea>
                        
                    </div>

                    <div class="form-group">
                        <label for="member" class="control-label">声明人：</label>
                        <div>
                            <input type="text" class="form-control"  id="member" minlength="2"
                                maxlength="48" value="{{ .SessUser.Name }}" readonly />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="m_email" class="control-label">声明人邮箱：</label>
                        <div>
                            <input type="email" name="m_email" class="form-control"  id="m_email" minlength="2"
                                maxlength="48" value="{{ .SessUser.Email }}" required readonly />
                        </div>
                    </div>
                   
                    
                    <input type="hidden" name="team_id" id="team_id" value="{{ .Team.Id }}">
                    
                    <div class="form-group">
                        <div class="col-xs-offset-5 col-sm-offset-5 col-md-offset-5 col-lg-offset-5">
                            <button type="submit" class="btn btn-default">
                                <span class="glyphicon glyphicon-send" aria-hidden="true"></span> 发送
                            </button>
                        </div>
                    </div>


                </form>

            </div>

        </div>
    </div>
</div>



{{ end }}