{{ define "navbar" }}

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        {{/*  Brand and toggle get grouped for better mobile display  */}}
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/v1/">星际茶棚</a>
        </div>

         {{/*  Collect the nav links, forms, and other content for toggling  */}}
        <div id="navbar" class="collapse navbar-collapse">

            <ul class="nav navbar-nav">
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">我的<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/v1/message/letterbox">信箱</a></li>
                        <li><a href="/v1/thread/mine">茶议</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/v1/users/connection_friend">人缘</a></li>
                        <li><a href="/v1/teams/joined">团队</a></li>
                        <li><a href="/v1/families/home">家庭</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/v1/goods/eye_on">宝贝</a></li>
                        <li><a href="/v1/place/my">地盘</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/v1/user/biography?id={{ .Uuid }}">资料</a></li>
                        <li><a href="/v1/logout">退出登录</a></li>
                    </ul>
                </li>
                <li><a href="/v1/user/biography?id={{ .Uuid }}">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    {{ .Name }}
                    {{if .Gender }}
                    <i class="bi-gender-male" style="font-size: 1.4rem; color: cornflowerblue;"></i>
                    {{ else }}
                    <i class="bi-gender-female" style="font-size: 1.4rem; color:hotpink;"></i>
                    {{ end }}
                     </a>
                 </li>
                {{ if .HasUnreadMessage }}
                <li role="presentation"><a href="/v1/message/accept">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    <span class="badge">{{ .GetNewMessageCount }}</span></a></li>
                {{ else }}
                {{ end }}
            </ul>

            <div>
                <form class="navbar-form navbar-right" role="search" action="/v1/search" method="get">
                    <button type="submit" class="btn btn-default" title="查找">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </form>
            </div>

        </div>{{/* /.nav-collapse  */}}
    </div>{{/*  /.container */}}
    
</nav>

{{ end }}



