{{ define "content" }}

<ol class="breadcrumb">
  <li><a href="/v1/">大堂</a></li>
  <li class="active">新开茶话会</li>


</ol>

<div class="panel panel-default">

  <div class="panel-heading">
    新开茶话会
  </div>

  <form role="form" action="/v1/objective/new" method="post">

    <div class="panel-body">

      <div class="form-group">
        <fieldset>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="radio">
              <label>
                <input type="radio" name="class" id="public" value="10" checked required />
                开放式-所有人可以品茶
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="class" id="private" value="20" required />
                封闭式-仅邀请茶团品茶
              </label>
            </div>
          </div>
        </fieldset>
      </div>


      <div class="form-group">
        <label for="name">茶话会主题（2-24字）</label>
        <input type="text" class="form-control" name="name" id="name" minlength="2" maxlength="42" required />
      </div>

      <div class="form-group">
        <label for="description">描述茶会愿景（12-456字）</label>
        <textarea class="form-control" name="description" id="description" rows="6" minlength="17" maxlength="567"
          required></textarea>
      </div>

     

      <div class="form-group">
        <fieldset>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="radio">
              <label>
                <input type="radio" name="is_private" id="is_private" value="false" checked required />
                以团队成员身份
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="is_private" id="is_private" value="true" required />
                以家庭成员身份
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="form-group">
        <label for="description">选择团队</label>
          <select name="team_id" class="form-control" id="team_id" required>
            <option value="{{ .SessUserDefaultTeam.Id }}">{{ .SessUserDefaultTeam.Name }}
            </option>
            {{ range .SessUserSurvivalTeams }}
            <option value="{{ .Id }}">{{ .Name }}</option>
            {{ end }}
          </select>
      </div>
      
      <div class="form-group">
        <label for="description">选择家庭</label>
          <select name="family_id" class="form-control" id="family_id" required>
            <option value="{{ .SessUserDefaultFamily.Id }}">{{ .SessUserDefaultFamily.Name }}
            </option>
            {{ range .SessUserSurvivalFamilies }}
            <option value="{{ .Id }}">{{ .Name }}</option>
            {{ end }}
          </select>
      </div>

      <div class="form-group">
        <label for="name">封闭式茶会指定邀请的茶团号，以逗号分隔。</label>
        <input type="text" class="form-control" name="invite_ids" maxlength="456" placeholder="开放式茶会请留白"/>
      </div>
     

    <div class="col-xs-offset-5 col-sm-offset-5 col-md-offset-5 col-lg-offset-5">
      <button type="submit" class="btn btn-default">提交</button>
    </div>
  </div>
  </form>

  <div class="panel-footer">
    自斟自饮的茶博士：您知道吗？船长非常迷信月光之神，说月圆月缺一轮回才能拓摆一围茶，月升月落一圈才能开新茶台。
  </div>

</div>

{{ end }}