{{ define "content" }}

<ol class="breadcrumb">
  <li><a href="/v1/">大堂</a></li>
  <li><a href="/v1/objective/square">茶话会</a></li>
  <li class="active">#{{ .ObjectiveBean.Objective.Id }} @茶话会</li>
  <li>
    {{ template "component_sess_capacity" . }}
  </li>
</ol>

{{/* 这是某个茶围的详情页 */}}
<div class="media">
  <div class="media-left">

    {{/* 个人头像和名字和性别 */}}
    {{ template "component_avatar_name_gender" .ObjectiveBean.Author }}

  </div>

  <div class="media-body">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="font-size: smaller;">
            （<a href="/v1/family/detail?id={{ .ObjectiveBean.AuthorFamily.Uuid }}">
              {{ .ObjectiveBean.AuthorFamily.Name }}</a>，
            <a href="/v1/team/detail?id={{ .ObjectiveBean.AuthorTeam.Uuid }}">
              {{ .ObjectiveBean.AuthorTeam.Abbreviation }}</a>）
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="font-size: smaller;">
            {{ if .ObjectiveBean.Open }}
            <i class="bi-egg" style="font-size: 1.5rem;"></i>
            <span class="label label-success">开放式茶围</span>
            {{ else }}
            <i class="bi-egg-fill" style="font-size: 1.5rem;"></i>
            <span class="label label-default">封闭式茶围</span>
            {{ end }}

            <span style="margin-inline-start: 2rem;margin-inline-end: 2rem;">{{ .ObjectiveBean.CreatedAtDate }}</span>

          </div>
        </div>
      </div>
      <div class="panel-body">

        <h4>{{ .ObjectiveBean.Objective.Title }}</h4>

        <p style="white-space: pre-wrap;">
          {{ .ObjectiveBean.Objective.Body }}
        </p>

      </div>
      <div class="panel-footer">
        <i class="bi-disc" style="font-size: 1.5rem;"> {{ .ObjectiveBean.Count }}</i>

        {{ if .ObjectiveBean.Objective.IsEdited }}
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        <span style="font-size: smaller; margin-inline-end: 20px;"> {{ .ObjectiveBean.Objective.EditAtDate }} </span>
        {{ end }}
      </div>
    </div>
  </div>
</div>

<hr />
{{/* 检查当前浏览用户是否可以创建新茶台-开始 */}}
{{ if .IsGuest }}
<p class="text text-center">
  <a href="/v1/login?footprint={{ .SessUser.Footprint }}&query={{ .SessUser.Query }}">
    <i class="bi-airplane" style="font-size: 2rem; color: black;"></i>
    登船</a> 以开始聊天品茶 </p>
{{ else }}

{{ if .ObjectiveBean.Open }}
{{/* 如果是开放式茶围 */}}
<p class="text-center">
  <a href="/v1/project/new?uuid={{ .ObjectiveBean.Objective.Uuid }}">
    <i class="bi-patch-plus" style="font-size: 2rem; color: black;"></i>
    我的茶台</a>
</p>
{{ else }}
{{ if .IsInvited }}
{{/* 是封闭式茶围的受邀请团队成员 */}}
<p class="text-center">
  <a href="/v1/project/new?uuid={{ .ObjectiveBean.Objective.Uuid }}">
    <i class="bi-patch-plus" style="font-size: 2rem; color: black;"></i>
    我的茶台</a>
</p>
{{ else }}
<p class="text-center">
  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"> </span>
  茶博士：这是封闭式茶话会,必须是围主邀请的茶团成员，才能入围聊天品茶噢。
</p>
{{ end }}
{{ end }}
{{ end }}
{{/* 检查当前浏览用户是否可以创建新茶台-结束 */}}
<hr />

{{/* 这个茶话会的全部茶台逐一展示 */}}
{{ range .ProjectBeanSlice }}

<div class="panel panel-default">
  <div class="panel-body">
    <div class="media">
      <div class="media-left">
        {{ if .Count }}
        <span class="badge">{{ .Count }}</span>
        {{ end }}

        {{ if .Open }}
        <a href="/v1/project/detail?uuid={{ .Project.Uuid }}">
          <img class="media-object" src="/v1/static/bootstrap-icons/disc.svg" alt="茶台封面" width=40 height=40>
        </a>
        {{ else }}
        <a href="/v1/project/detail?uuid={{ .Project.Uuid }}">
          <img class="media-object" src="/v1/static/bootstrap-icons/disc-fill.svg" alt="茶台封面" width=40 height=40>
        </a>
        {{ end }}


      </div>

      <div class="media-body">
        <p>
          {{/* 检查是否入围1 */}}{{if .IsApproved }}
          {{/* 这个主意已被台主或者管理员选中入围 */}}
          <i class="bi-bookmark-check" style="font-size: 2rem; color: red;" title="已入围"></i>
          {{/* 检查是否入围1 */}}{{ end }}

          {{ if .Open }}
          <span class="label label-success" style="margin-inline-end: 30px;font-size: smaller;">
            {{ .Status }}
          </span>

          {{ else }}
          <span class="label label-default" style="margin-inline-end: 30px;font-size: smaller;">
            {{ .Status }}
          </span>

          {{ end }}

          <span style="margin-inline-end: 30px;">
            <span style="font-size: smaller;">
              {{ .Author.Name }}
              {{if .Author.Gender }}
              <i class="bi-gender-male" style="font-size: 1.4rem; color: cornflowerblue;"></i>
              {{ else }}
              <i class="bi-gender-female" style="font-size: 1.4rem; color:hotpink;"></i>
              {{ end }}
              （<a href="/v1/family/detail?id={{ .AuthorFamily.Uuid }}">{{ .AuthorFamily.Name }}</a>,
              <a href="/v1/team/detail?id={{ .AuthorTeam.Uuid }}">{{ .AuthorTeam.Abbreviation }}</a>）
            </span>
          </span>

          <span style="font-size: smaller;">
            {{ .CreatedAtDate }}
          </span>
        </p>

        <h4>
            <a href="/v1/project/detail?uuid={{ .Project.Uuid }}">
              {{ .Project.Title }}
            </a>
          </h4>

        {{ .Project.Body }} ...

        <p>
          {{/* 这是某个茶台（项目）的地址显示 */}}
        <div style="text-align: center; margin-top: 10px;">
          <i class="bi-geo" style="font-size: 1.2rem; color: black;"></i>
          <span style="font-size: smaller;">
            <a href="/v1/place/detail?id={{ .Place.Uuid }}">{{ .Place.Name }}</a>
          </span>
        </div>
        </p>

      </div>

    </div>
  </div>
</div>

{{ end }}

{{ end }}