{{ define "content" }}

<ol class="breadcrumb">

  <li>大堂</li>
  <li><a href="/v1/pilot/office">写字室</a></li>
  <li class="active">茶博士花名册</li>
</ol>

<ul class="nav nav-tabs nav-justified">
  <li><a href="/v1/pilot/inviteform">加邀请码</a></li>
  <li class="active"><a href="/v1/pilot/register">茶博士花名册</a></li>
</ul>

<div class="well">
</div>

{{ range . }}

<div class="panel panel-default">

  <div class="panel-heading">
    {{ .User.Name }}

    <div class="pull-right">
      <span class="label label-info">{{ .Status }}</span>
    </div>
  </div>

  <div class="panel-body">
    <label for="email">电子邮箱：</label>
    <div id="email">{{ .User.Email }}</div>

    <label for="role">扮演角色:</label>
    <div id="role">{{ .Role }}</div>
    <div>
      <span style="font-size: smaller;">加入 {{ .CreatedAtDate }} </span>
      <div class="pull-right">
        <a href="/v1/pilot/read?id={{ .Uuid }}">详情</a>
      </div>
    </div>
  </div>

</div>

{{ end }}

<div class="well">
  <div>
    <a href="/v1/pilot/new">+茶博士</a>
  </div>
</div>

{{ end }}