{{ define "content" }}

<ol class="breadcrumb">
  <li><a href="/v1/">大堂</a></li>
  <li><a href="/v1/pilot/office">写字室</a></li>
  <li class="active">新建邀请邮箱</li>
</ol>

<div class="panel panel-default">

  <div class="panel-heading">
    增加一位受邀请客人
  </div>

  <div class="panel-body">

    <form class="form-horizontal" role="form" action="/v1/pilot/invitemail" method="post">

      <div class="form-group">
        <label for="invited_email" class="col-sm-2 control-label">新邀请邮箱：</label>
        <div class="col-sm-10">
          <input type="email" name="invited_email" class="form-control" id="invited_email" maxlength="42"
            placeholder="请输入一个电子邮箱地址">
        </div>
      </div>
      <div class="form-group">
        <label for="invited_code" class="col-sm-2 control-label">对应邀请码：</label>
        <div class="col-sm-10">
          <input type="text" name="invited_code" class="form-control" id="invited_code" minlength="6" maxlength="42"
            placeholder="请输入对应的邀请码">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">提交</button>
        </div>
      </div>
    </form>

  </div>

  <div class="panel-footer">
    提示：注意目前每次仅能添加一个邀请邮箱，邀请码和邀请邮箱是相对应的。
  </div>

</div>

{{ end }}