{{ define "content" }}

<ol class="breadcrumb">
  <li><a href="/v1/">大堂</a></li>
  <li><a href="/v1/pilot/office">office</a></li>
  <li class="active">管理员</li>
</ol>

<div class="panel panel-default">

  <div class="panel-heading">
    添加一个管理员
  </div>

  <form role="form" action="/v1/pilot/add" method="post">
    <div class="panel-body form-group">
      <label for="email">计划增加的管理员用户邮箱</label>
      <input type="email" class="form-control" name="email" id="email" required autofocus>

      <label for="password">新管理员预设密码</label>
        <input type="password" class="form-control" name="password" id="password" minlength="6" maxlength="128" required>


      <input type="hidden" name="uuid" value="{{ .Uuid }}">
      <br />
      <br />
      <button class="btn btn-primary pull-right" type="submit">提交</button>
    </div>
  </form>

</div>

{{ end }}