{{ define "content" }}

{{/* 这是全部某个用户的全部登记地方页面 */}}

<ol class="breadcrumb">
  <li><a href="/v1/">大堂</a></li>
  <li class="active">我的地盘</li>
</ol>



{{ range .PlaceSlice }}

<hr />

{{ template "component_place" . }}



{{ else }}
<div class="panel panel-default">
  <div class="panel-heading">
    茶博士
  </div>
  <div class="panel-body">
    你好，目前没有收藏的地方记录。
  </div>
</div>
{{ end }}

<hr />

<p class="text-center">
    <a href="/v1/place/new">
        <i class="bi-patch-plus" style="font-size: 2rem; color: black;"></i>
        添加新地方</a>
</p>

{{ end }}