{{ define "content" }}

<ol class="breadcrumb">
  <li><a href="/v1/">大堂</a></li>
  <li><a href="/v1/objective/detail?id={{ .PostBean.Post.Objective.Uuid }}">{{ .PostBean.Post.Objective.Title }}@茶话会</a>
  </li>
  <li><a href="/v1/project/detail?id={{ .PostBean.Post.Project.Uuid }}">{{ .PostBean.Post.Project.Title }}@茶台</a></li>
  <li><a href="/v1/thread/detail?id={{ .PostBean.Post.Thread.Uuid }}">{{ .PostBean.Post.Thread.Title }}@茶议</a></li>
  <li class="active">品味-详情</li>
</ol>

{{/* 这是某个 品味 的详情页 */}}

<div class="media">
  <div class="media-left">
    <a href="/v1/user/biography?id={{ .PostBean.Post.User.Uuid }}">
      <img class="img-circle" src="/v1/static/image/{{ .PostBean.Post.User.Avatar }}.jpeg" alt="个人头像">
    </a>
  </div>
  <div class="media-body">

    <div class="panel panel-default">

      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            {{if .PostBean.Author.Gender }}
            <i class="bi-gender-male" style="font-size: 2rem; color: cornflowerblue;"></i>
            {{ else }}
            <i class="bi-gender-female" style="font-size: 2rem; color:hotpink;"></i>
            {{ end }}
            {{ .PostBean.Author.Name }}
            <span style="font-weight: lighter;">
              @<a href="/v1/team/detail?id={{ .PostBean.AuthorTeam.Uuid }}">{{ .PostBean.AuthorTeam.Abbreviation }}</a>
            </span>
          </div>

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <span style="display: block; text-align: center;">
              <span class="label label-default">{{ .PostBean.Attitude }}
              </span>
            </span>
          </div>

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <span style="display: block; text-align: right;">
              {{ .PostBean.CreatedAtDate }}
            </span>

          </div>
        </div>
      </div>

      <div class="panel-body">

        <p style="white-space: pre-wrap;">
          {{ .PostBean.Post.Body }}
        </p>

        <div class="panel panel-default">
          <div class="panel-body" style="font-size: small;">
            <a href="/v1/thread/detail?id={{ .QuoteThread.Uuid }}"><span class="label label-default">引用</span></a>
            <a href="/v1/user/biography?id={{ .QuoteThreadAuthor.Uuid }}">{{ .QuoteThreadAuthor.Name }}</a>
            <span style="margin-inline-end: 20px;">@<a
                href="/v1/team/detail?id={{ .QuoteThreadAuthorTeam.Uuid }}">{{ .QuoteThreadAuthorTeam.Abbreviation }}</a></span>
            <span style="font-style: italic;">
              {{ .QuoteThread.TypeStatus }}
              : {{ .QuoteThread.Title }}
              {{ .QuoteThread.Body }} ...
            </span>
          </div>
        </div>

      </div>
      <div class="panel-footer">
        <a href="#">
          <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
        </a>
        <span style="font-size: smaller; margin-inline-end: 30px;">{{ .PostBean.Count }}</span>

        <a href="#">
          <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
        </a>
        <span style="margin-inline-end: 30px;"> 123 </span>

        {{ if .PostBean.Post.IsEdited }}

        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        <span style="font-size: smaller; margin-inline-end: 30px;"> {{ .PostBean.Post.EditAtDate }} </span>
        {{ else }}
        {{/* 没有编辑过（补充内容）则留空白 */}}
        {{ end }}
        <div class="pull-right">
          <a href="#"></a>
        </div>
      </div>
    </div>
  </div>
</div>


{{/* 这是 针对某个post的“新茶议+” 撰写模版 */}}
{{ if .IsInput }}
<div class="panel panel-default">

  <div class="panel-body">

    <form class=" form-horizontal" role="form" action="/v1/thread/draft" method="post">

      <div class="form-group">
        <fieldset>
         
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <i class="bi bi-plus-square-dotted"></i>
          </div>
          <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <input type="radio" name="type" id="ifeel" style="width: fit-content;" value="0" required />
            <label for="ifeel">我觉得</label>
          </div>

          <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <input type="radio" name="type" id="idea" style="width: fit-content;" value="1" required />
            <label for="idea"">出主意</label>
          </div>

         

        </fieldset>
      </div>

      <div class="form-group">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <input type="text" class="form-control" name="title" id="title" minlength="3" maxlength="42"
            placeholder="标题（2～36字）" required />
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

          <textarea class="form-control" name="topic" id="topic" rows="3" minlength="17" maxlength="567"
            placeholder="内容（17～456字）" required></textarea>
        </div>
      </div>

      {{/* 这是对应的post的uuid提交 */}}
      <input type="hidden" name="uuid" id="uuid" value="{{ .PostBean.Post.Uuid }}" />

      <div class="form-group">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <select name="team_id" class="form-control" id="team_id" required>
            <option value="{{ .SessUserDefaultTeam.Id }}">{{ .SessUserDefaultTeam.Name }}
            </option>
            {{ range .SessUserSurvivalTeams }}
            <option value="{{ .Id }}">{{ .Name }}</option>
            {{ end }}
          </select>
        </div>
      </div>

      <div class="col-xs-offset-5 col-sm-offset-5 col-md-offset-5 col-lg-offset-5">
        <button type="submit" class="btn btn-default">提交</button>
      </div>
    </form>
  </div>
</div>

{{ else }}
<hr />
<p class="text text-center"><a href="/v1/login">登机</a> 以开始聊天品茶 </p>
<hr />
{{ end }}

{{/* 以下是针对这个品味的茶议展示，一页一打dozen，如果超过就显示“下一页”按钮 */}}
{{ range .ThreadBeanList }}

<div class="media">
  <div class="media-left">
    {{ if .Count }}
    <span class="badge">{{ .Count }}</span>
    {{ else }}
    {{ end }}
    <a href="/v1/user/biography?id={{ .Author.Uuid }}">
      <img class="img-circle" src="/v1/static/image/{{ .Author.Avatar }}.jpeg" alt="个人头像">
    </a>
  </div>
  <div class="media-body">
    <p>
      {{if .Author.Gender }}
      <i class="bi-gender-male" style="font-size: 2rem; color: cornflowerblue;"></i>
      {{ else }}
      <i class="bi-gender-female" style="font-size: 2rem; color:hotpink;"></i>
      {{ end }}
      <span>{{ .Author.Name }}</span>
      <span style="margin-inline-end: 20px; font-size: smaller;">
        @<a href="/v1/team/detail?id={{ .AuthorTeam.Uuid }}">{{ .AuthorTeam.Abbreviation }}</a></span>

      <span style="margin-inline-end: 20px;font-size: smaller;">{{ .CreatedAtDate }}</span>
      </span>
    </p>

    <h5>
      <mark>{{ .Thread.TypeStatus }}</mark>
      <a href="/v1/thread/detail?id={{ .Thread.Uuid }}">{{ .Thread.Title }}</a>
    </h5>
    <span style="font-size: small; margin-inline-start: 40px;">
      <span class="label label-default" style="margin-inline-end: 20px;">{{ .Status }}</span>
      {{ .Thread.Body }} ...
  </div>
</div>

<hr />

{{ end }}

{{ if .IsOverTwelve }}

<nav aria-label="下一页">
  <ul class="pager">
    <li><a href="#">上一页</a></li>
    <li><a href="#">下一页 </a></li>
  </ul>
</nav>

{{ end }}

{{ end }}