{{ define "content" }}

<ol class="breadcrumb">
  <li><a href="/v1/">大堂</a></li>
  <li><a
      href="/v1/objective/detail?uuid={{ .QuoteObjectiveBean.Objective.Uuid }}">{{ .QuoteObjectiveBean.Objective.Title }}
    </a>@茶围
  </li>
  <li><a href="/v1/project/detail?uuid={{ .QuoteProjectBean.Project.Uuid }}">{{ .QuoteProjectBean.Project.Title }}
    </a>@茶台</li>
  <li><a href="/v1/thread/detail?uuid={{ .QuoteThreadBean.Thread.Uuid }}">{{ .QuoteThreadBean.Thread.Title }} </a>@茶议
  </li>
  <li class="active">#{{ .PostBean.Post.Id }} @品味</li>
  <li>
    {{ template "component_sess_capacity" . }}
  </li>
</ol>

{{/* 这是某个 品味 的详情页 */}}
<div class="media">
  <div class="media-left">
    {{ template "component_avatar_name_gender" .PostBean.Author }}
  </div>
  <div class="media-body">

    <div class="panel panel-default">

      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

            <span style="font-size: smaller;">
              (<a href="/v1/family/detail?id={{ .PostBean.AuthorFamily.Uuid }}">{{ .PostBean.AuthorFamily.Name }}</a>,
              <a href="/v1/team/detail?uuid={{ .PostBean.AuthorTeam.Uuid }}">{{ .PostBean.AuthorTeam.Abbreviation }}</a>)
            </span>
          </div>

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <span style="display: block; text-align: center;">
              <i class="bi-cup-hot" style="font-size: 2rem; color:gray;"></i>
              <span class="label label-default">{{ .PostBean.Attitude }}
              </span>
            </span>
          </div>

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <span style="display: block; text-align: right;">
              {{ .PostBean.CreatedAtDate }}
            </span>

          </div>
        </div>
      </div>

      <div class="panel-body">

        <p style="white-space: pre-wrap;">
          {{ .PostBean.Post.Body }}
        </p>

        <div class="panel panel-default">
          <div class="panel-body" style="font-size: small;">
            <a href="/v1/thread/detail?uuid={{ .QuoteThreadBean.Thread.Uuid }}">
              <span class="label label-default" style="margin-inline-end: 20px;" aria-hidden="true">茶议</span></a>
            <a href="/v1/user/biography?id={{ .QuoteThreadBean.Author.Uuid }}">{{ .QuoteThreadBean.Author.Name }}</a>
            <span style="margin-inline-end: 20px;">
              （<a
                href="/v1/family/detail?id={{ .QuoteThreadBean.AuthorFamily.Uuid }}">{{ .QuoteThreadBean.AuthorFamily.Name }}</a>,
              <a
                href="/v1/team/detail?uuid={{ .QuoteThreadBean.AuthorTeam.Uuid }}">{{ .QuoteThreadBean.AuthorTeam.Abbreviation }}</a>）

            </span>
            <span style="font-style: italic;">
              {{ .QuoteThreadBean.Thread.TypeString }}
              : {{ .QuoteThreadBean.Thread.Title }}
              {{ .QuoteThreadBean.Thread.Body }} ...
            </span>
          </div>
        </div>

      </div>
      <div class="panel-footer">
        <i class="bi bi-cup" style="color:gray;"></i>
        <span style="font-size: smaller;"></span> {{ .PostBean.ThreadCount }}
        {{/* 评论数 */}}

        {{ if .PostBean.Post.IsEdited }}

        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        <span style="font-size: smaller; margin-inline-end: 30px;"> {{ .PostBean.Post.EditAtDate }} </span>
        {{ else }}
        {{/* 没有编辑过（补充内容）则留空白 */}}
        {{ end }}
        
      </div>
    </div>
  </div>
</div>

{{/* 这是 针对某个post的“议中议” 撰写模版 */}}
{{ if .IsInput }}
<button class="btn btn-default btn-block" type="button" data-toggle="collapse" data-target="#newThreadPanel">
  <i class="bi-patch-plus" style="font-size: 2rem; color: black;"></i> 新茶议
</button>

<div class="collapse" id="newThreadPanel">
  <div class="panel panel-default">

    <div class="panel-body">

      <form class="form-horizontal" role="form" action="/v1/thread/draft" method="post">

        <div class="form-group">
          <fieldset>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <i class="bi bi-cup" style="font-size: 2rem;"></i>
            </div>

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <input type="radio" name="type" id="ithink" style="width: fit-content;" value="0" required />
              <label for="ithink">我觉得</label>
            </div>

            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
              <input type="radio" name="type" id="idea" style="width: fit-content;" value="1" required />
              <label for="idea">出主意</label>
            </div>

          </fieldset>
        </div>

        <div class=" form-group">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <input type="text" class="form-control" name="title" id="title" minlength="3" maxlength="42"
              placeholder="标题（2～36字）" required />
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <textarea class="form-control" name="topic" id="topic" rows="3" minlength="17" maxlength="567"
              placeholder="内容（17～456字）" required></textarea>
          </div>
        </div>

        {{/* 这是对应的post的uuid提交 */}}
        <input type="hidden" name="post_id" value="{{ .PostBean.Post.Id }}" />
        {{/* 这是project的id提交 */}}
        <input type="hidden" name="project_id" value="{{ .QuoteProjectBean.Project.Id }}" />

        <div class="form-group">
          <fieldset>
            <label for="team" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">身份</label>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <input type="radio" name="is_private" value="false" id="team" checked required>
              <label for="team">团队成员</label>
            </div>
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
              <input type="radio" name="is_private" value="true" id="family" required>
              <label for="family">家庭成员</label>
            </div>
          </fieldset>
        </div>

        <div class="form-group">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label for="team_id">责任团队</label>
            <select name="team_id" class="form-control" id="team_id" required>
              <option value="{{ .SessUserDefaultTeam.Id }}">{{ .SessUserDefaultTeam.Name }}
              </option>
              {{ range .SessUserSurvivalTeams }}
              <option value="{{ .Id }}">{{ .Name }}</option>
              {{ end }}
            </select>
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label for="family_id">受益家庭</label>
            <select name="family_id" class="form-control" id="family_id" required>
              <option value="{{ .SessUserDefaultFamily.Id }}">{{ .SessUserDefaultFamily.Name }}
              </option>
              {{ range .SessUserSurvivalFamilies }}
              <option value="{{ .Id }}">{{ .Name }}</option>
              {{ end }}
            </select>
          </div>
        </div>

        <div class="col-xs-offset-5 col-sm-offset-5 col-md-offset-5 col-lg-offset-5">
          <button type="submit" class="btn btn-default">提交</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  const teamSelect = document.getElementById('team_id');
  const familySelect = document.getElementById('family_id');
  const teamRadio = document.getElementById('team');
  const familyRadio = document.getElementById('family');
  const form = document.querySelector('form[action="/v1/thread/draft"]');
  
  function updateRadioSelection() {
    const teamValue = teamSelect.value;
    const familyValue = familySelect.value;
    
    if (teamValue === '2' && familyValue === '0') {
      alert('无效选择：团队和家庭至少选择一项');
      return false;
    }
    
    if (teamValue === '2') {
      familyRadio.checked = true;
    } else if (familyValue === '0') {
      teamRadio.checked = true;
    }
    
    return true;
  }
  
  teamSelect.addEventListener('change', updateRadioSelection);
  familySelect.addEventListener('change', updateRadioSelection);
  
  form.addEventListener('submit', function(e) {
    if (!updateRadioSelection()) {
      e.preventDefault();
    }
  });
});
</script>

{{ else }}
<hr />
<p class="text text-center">
  <a href="/v1/login?footprint={{ .SessUser.Footprint }}&query={{ .SessUser.Query }}">
    <i class="bi-airplane" style="font-size: 2rem; color: black;"></i>
    登船</a> 以开始聊天品茶 </p>
<hr />
{{ end }}

{{/* 以下是针对这个品味的茶议展示，一页一打dozen，如果超过就显示“下一页”按钮 */}}
{{ range .ThreadBeanSlice }}

<div class=" media">

  <div class="media-left">
    {{ if .PostCount }}
    <span class="badge">{{ .PostCount }}</span>
    {{ else }}
    {{ end }}
    {{ template "component_avatar_name_gender" .Author }}
  </div>

  <div class="media-body">
    <p>

      <span style="margin-inline-end: 20px; font-size: smaller;">
        （<a href="/v1/family/detail?id={{ .AuthorFamily.Uuid }}">{{ .AuthorFamily.Name }}</a>,
        <a href="/v1/team/detail?uuid={{ .AuthorTeam.Uuid }}">{{ .AuthorTeam.Abbreviation }}</a>）</span>

      <span style="margin-inline-end: 20px;font-size: smaller;">{{ .Thread.CreatedAtDate }}</span>

    </p>

    <h5>
      <mark>{{ .Thread.TypeString }}</mark>
      <a href="/v1/thread/detail?uuid={{ .Thread.Uuid }}">{{ .Thread.Title }}</a>
    </h5>
    <span style="font-size: small; margin-inline-start: 40px;">

      {{ .Thread.Body }} ...
  </div>
</div>

<hr />

{{ end }}

{{ if .IsOverTwelve }}

<nav aria-label="下一页">
  <ul class="pager">
    <li><a href="#">上一页</a></li>
    <li><a href="#">下一页 </a></li>
  </ul>
</nav>

{{ end }}

{{ end }}