{{ define "content" }}

<div class="panel panel-default">

  <div class="panel-heading">
    追加表态内容
  </div>

  <div class="panel panel-default">

    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

          <a href="/v1/user/biography?id={{ .User.Uuid }}"> {{ .User.Name }} </a>
          <span style="font-size: smaller;"> 品茶：
          </span>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

          <span style="display: block; font-size: smaller;text-align: center;">
            {{ .CreatedAtDate }}

          </span>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

          <span style="display:block;text-align: right;">
            <span class="label label-success">{{ .Atti }}

            </span>
          </span>

          </span>
        </div>

      </div>
    </div>

    <div class="panel-body">
      {{ .body }}
    </div>

    <div class="panel-footer">


<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
      <p style="font-size: smaller;"><a href="/v1/post/edit?id={{ .Uuid }}">{{ .EditAtDate }}</p>
    </div>

  </div>

  <form role="form" action="/v1/post/edit" method="post">
    <div class="panel-body form-group">
      <textarea class="form-control" name="body" id="body" rows="3" minlength="3" maxlength="567" placeholder="请输入追加表态内容，总字数不多于456字">

      </textarea>
      <input type="hidden" name="uuid" value="{{ .Uuid }}">
      <button class="btn btn-primary pull-right" type="submit">提交
      </button>
    </div>
  </form>

</div>

{{ end }}