{{ define "content" }}

<ol class="breadcrumb">
  <li><a href="/v1/">大堂</a></li>
  <li><a
      href="/v1/objective/detail?uuid={{ .QuoteObjectiveBean.Objective.Uuid }}">{{ .QuoteObjectiveBean.Objective.Title }}</a>
    @茶话会</li>
  <li class="active"> #{{ .ProjectBean.Project.Id }} @茶台</li>
</ol>

{{/* 这是某个茶台（项目）的详情页 */}}

{{/* 这是某个茶台（项目）的地址显示 */}}
<div style="border:0.1rem outset burlywood; border-radius: 4px;padding-inline-start: 1rem;">
  <i class="bi-geo" style="font-size: 2rem; color: black;" title="地方"></i>
  <a href="/v1/place/detail?id={{ .Place.Uuid }}">{{ .Place.Name }}</a>

  <span style="margin-inline-start: 2rem;margin-inline-end: 2rem;">个人 4</span>
  <span style="margin-inline-end: 2rem;">家庭 3</span>
  <span style="margin-inline-end: 2rem;">团队 1</span>
  <span style="margin-inline-end: 2rem;">叩击 404</span>
</div>

<div class="media" style="margin-top: 20px;">

  <div class="media-body">

    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            {{ .ProjectBean.Project.Title }}

            {{/* 检查是否入围1 */}}{{if .ProjectBean.IsApproved }}
            {{/* 这个主意已被台主或者管理员选中入围 */}}
            <i class="bi-bookmark-check" style="font-size: 2rem; color: red;" title="已入围"></i>
            {{/* 检查是否入围1 */}}{{ end }}
          </div>

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <span style="display: block;text-align: center;font-size: smaller;">
              {{ if .Open }}
              <i class="bi-disc" style="font-size: 2rem; color: black;"></i>
              <span class="label label-info">开放式
              </span>
              {{ else }}
              <i class="bi-disc-fill" style="font-size: 2rem; color: black;"></i>
              <span class="label label-default">封闭式
              </span>
              {{ end }}
              {{ .ProjectBean.CreatedAtDate }}
            </span>
          </div>

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <span style="display: block; text-align: right; font-size: smaller;">
              <a href="/v1/user/biography?id={{ .ProjectBean.Author.Uuid }}">{{ .ProjectBean.Author.Name }}</a>
              {{if .ProjectBean.Author.Gender }}
              <i class="bi-gender-male" style="font-size: 1.2rem; color: cornflowerblue;"></i>
              {{ else }}
              <i class="bi-gender-female" style="font-size: 1.2rem; color:hotpink;"></i>
              {{ end }}
              （<a
                href="/v1/family/detail?id={{ .ProjectBean.AuthorFamily.Uuid }}">{{ .ProjectBean.AuthorFamily.Name }}</a>，
              <a
                href="/v1/team/detail?id={{ .ProjectBean.AuthorTeam.Uuid }}">{{ .ProjectBean.AuthorTeam.Abbreviation }}</a>）

            </span>
            </span>

          </div>
        </div>
      </div>

      <div class="panel-body">

        <p style="white-space: pre-wrap;">{{ .ProjectBean.Project.Body }}</p>

        <blockquote>
          <p style="font-size: small;"><a href="/v1/objective/detail?id={{ .QuoteObjectiveBean.Objective.Uuid }}">
              <span class="label label-default">茶围</span></a><span
              style="margin-inline-start: 1rem;">{{ .QuoteObjectiveBean.Objective.Body }} ...</span></p>
          <footer style="font-size: small;">
            <cite>
              <a href="/v1/user/biography?id={{ .QuoteObjectiveBean.Author.Uuid }}"
                style="color: black;">{{ .QuoteObjectiveBean.Author.Name }}</a>
              <span style="margin-inline-end: 20px;">
                （<a href="/v1/family/detail?id={{ .QuoteObjectiveBean.AuthorFamily.Uuid }}"
                  style="color: black;">{{ .QuoteObjectiveBean.AuthorFamily.Name }}</a>，
                <a href="/v1/team/detail?id={{ .QuoteObjectiveBean.AuthorTeam.Uuid }}"
                  style="color: black;">{{ .QuoteObjectiveBean.AuthorTeam.Abbreviation }}</a>）
              </span>
            </cite>
          </footer>
        </blockquote>

        <p>
          {{/* 检查是否未入围1 */}}{{if not .ProjectBean.IsApproved }}

          {{/* 检查是否管理员1，如果是，显示入围按钮图标 */}}{{ if .IsAdmin }}
          <form class="form" role="form" action="/v1/project/approve" method="post">
            <input type="hidden" name="uuid" value="{{ .ProjectBean.Project.Uuid }}" />
            <button type="submit" class="btn btn-default btn-sm">入围</button>
          </form>
          {{/* 检查是否管理员2 */}}{{ end }}

          {{/* 检查是否未入围2 */}}{{ end }}
        </p>

      </div>
      <div class="panel-footer">
        <span style="margin-inline-start: 2rem;margin-inline-end: 2rem;">惦记 14</span>
        <span style="margin-inline-end: 2rem;">电眼 22</span>
        <span style="margin-inline-end: 2rem;">白眼 13</span>

        {{ if .IsEdited }}

        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        <span style="font-size: smaller; margin-inline-end: 30px;"> {{ .ProjectBean.Project.EditAtDate }} </span>
        {{ else }}
        {{/* 没有编辑过（补充内容）则留空白 */}}
        {{ end }}

      </div>
    </div>

  </div>
</div>

{{/* 根据当前用户身份显示是否可以创建新茶议或者登录-开始 */}}
{{ if .IsInput }}
{{/* 这是新茶议 简化板 撰写模版 */}}
<div class="panel panel-default">
  <div class="panel-heading">
    <i class="bi bi-paint-bucket" style="font-size: 1.5rem;"> 新茶议 </i>
    快速撰写
  </div>
  <div class="panel-body">

    <form class="form-horizontal" role="form" action="/v1/thread/draft" method="post">

      <div class="form-group">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="radio">
            <label>
              <input type="radio" name="type" id="ithink" value="0" required />
              我觉得
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="type" id="idea" value="1" required />
              出主意
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <label for="title">标题（2～36字）</label>
          <input type="text" class="form-control" name="title" id="title" minlength="3" maxlength="42" required />
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <label for="topic">内容（17～456字）</label>
          <textarea class="form-control" name="topic" id="topic" rows="3" minlength="17" maxlength="567"
            required></textarea>
        </div>
      </div>

      {{/* 这是project的id提交 */}}
      <input type="hidden" name="project_id" value="{{ .ProjectBean.Project.Id }}" />
      {{/* 这是post的id提交 */}}
      <input type="hidden" name="post_id" value="0" />

      <div class="form-group">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="radio">
            <label>
              <input type="radio" name="is_private" id="is_private" value="false" checked required />
              以团队成员身份
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="is_private" id="is_private" value="true" required />
              以家庭成员身份
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <label for="team_id">选择团队</label>
          <select name="team_id" class="form-control" id="team_id" required>
            <option value="{{ .SessUserDefaultTeam.Id }}">{{ .SessUserDefaultTeam.Name }}
            </option>
            {{ range .SessUserSurvivalTeams }}
            <option value="{{ .Id }}">{{ .Name }}</option>
            {{ end }}
          </select>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <label for="family_id">选择家庭</label>
          <select name="family_id" class="form-control" id="family_id" required>
            <option value="{{ .SessUserDefaultFamily.Id }}">{{ .SessUserDefaultFamily.Name }}
            </option>
            {{ range .SessUserSurvivalFamilies }}
            <option value="{{ .Id }}">{{ .Name }}</option>
            {{ end }}
          </select>
        </div>
      </div>

      <div class="col-xs-offset-5 col-sm-offset-5 col-md-offset-5 col-lg-offset-5">
        <button type="submit" class="btn btn-default">提交</button>
      </div>
    </form>
  </div>
</div>

{{ else }}
<hr />
{{ if .IsGuest }}
{{/* 不是游客 */}}
<p class="text text-center">
  <a href="/v1/login?footprint={{ .SessUser.Footprint }}&query={{ .SessUser.Query }}">
    <i class="bi-airplane" style="font-size: 2rem; color: black;"></i>
    登机</a> 以开始聊天品茶 </p>
{{ else }}
<hr />
<p class=" text-center">
  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
  茶博士：这是封闭式茶台,只有台主邀请的茶团成员，才能入座品茶呢。</p>

{{ end }}
<hr />
{{ end }}
{{/* 根据当前用户身份显示是否可以创建新茶议或者登录-结束 */}}

{{/* 这是关注这个茶台的总人数 显示 */}}
<div style="border:0.1rem outset burlywood; border-radius: 4px;padding-inline-start: 1rem;margin-top: 15px;">

  <i class="bi-person-heart" style="font-size: 2rem; color: black;" title="关注人数"></i>
  1510

  <span style="margin-inline-start: 2rem;">
    {{/* 这是茶台的总茶议数量 显示 */}}
    <a href="/v1/place/detail?id={{ .Place.Uuid }}">
      <i class="bi-paint-bucket" style="font-size: 1.5rem; color: black;margin-inline-end: 2rem;" title="茶议总数">
        {{ .ThreadCount }}</i>
    </a>
  </span>

  <span style="margin-inline-start: 2rem;">
    {{/* 这是茶台的已采纳茶议数量 显示 */}}
    <a href="/v1/place/detail?id={{ .Place.Uuid }}">
      <i class="bi-bookmark-check" style="font-size: 1.5rem; color: black;margin-inline-end: 2rem;" title="已采纳数">
        {{ .ThreadIsApprovedCount }}</i>
    </a>
  </span>

</div>

{{/* 以下是此茶台的全部茶议展示 */}}
{{ range .ThreadBeanSlice }}
<div class="media">
  <div class="media-left">
    {{ if .Count }}
    <span class="badge">{{ .Count }}</span>
    {{ else }}
    {{ end }}
    <a href="/v1/user/biography?id={{ .Author.Uuid }}">
      <img class="img-circle" src="/v1/static/image/{{ .Author.Avatar }}.jpeg" alt="个人头像">
    </a>
  </div>
  <div class="media-body">
    <p>
      {{ .Author.Name }}
      {{if .Author.Gender }}
      <i class="bi-gender-male" style="font-size: 1.2rem; color: cornflowerblue;"></i>
      {{ else }}
      <i class="bi-gender-female" style="font-size: 1.2rem; color:hotpink;"></i>
      {{ end }}
      <span style="margin-inline-end: 20px; font-size: smaller;">
        （<a href="/v1/family/detail?id={{ .AuthorFamily.Uuid }}" style="color: black;">{{ .AuthorFamily.Name }}</a>，
        <a href="/v1/team/detail?id={{ .AuthorTeam.Uuid }}" style="color: black;">{{ .AuthorTeam.Abbreviation }}</a>）
      </span>

      <span style="margin-inline-end: 20px;font-size: smaller;">{{ .CreatedAtDate }}</span>
      </span>
    </p>

    <p>
      <mark>{{ .Thread.TypeStatus }}</mark>

      {{/* 检查是否被采纳1 */}}{{if .IsApproved }}
      {{/* 这个主意已被台主或者管理员采纳 */}}
      <i class="bi-bookmark-check" style="font-size: 2rem; color: red;" title="已采纳"></i>
      {{/* 检查是否被采纳1 */}}{{ end }}

      <span style="margin-inline-start: 1rem;margin-inline-end: 1rem;">
        <a href="/v1/thread/detail?id={{ .Thread.Uuid }}">{{ .Thread.Title }}</a>
      </span>
    </p>

    <p>{{ .Thread.Body }} ...</p>

    <br />

  </div>

</div>

<hr />

{{ end }}

{{ if .IsOverTwelve }}

<div style="margin-top: 66px;">
  <nav aria-label="next pager">
    <ul class="pager">
      <li><a href="#">上一页</a></li>
      <li><a href="#">下一页 </a></li>
    </ul>
  </nav>
</div>
{{ end }}

{{ end }}