{{/* 这是某个茶台（项目）的管理页，服务提供商成员工作台账页面 */}}
{{ define "content" }}
<ol class="breadcrumb">
    <li><a href="/v1/">大堂</a></li>
    <li><a
            href="/v1/objective/detail?uuid={{ .QuoteObjectiveBean.Objective.Uuid }}">{{ .QuoteObjectiveBean.Objective.Title }}</a>
        @茶围</li>
    <li class="active"> #{{ .ProjectBean.Project.Id }} @茶台</li>
</ol>

{{/* 这是某个茶台（项目）的地址显示 */}}
<div style="border:0.1rem outset burlywood; border-radius: 4px;padding-inline-start: 1rem;">
    <i class="bi-geo" style="font-size: 2rem; color: black;" title="地方"></i>
    <a href="/v1/place/detail?id={{ .Place.Uuid }}">{{ .Place.Name }}</a>

    <span style="margin-inline-start: 2rem;margin-inline-end: 2rem;">个人 4</span>
    <span style="margin-inline-end: 2rem;">家庭 3</span>
    <span style="margin-inline-end: 2rem;">团队 1</span>
    <span style="margin-inline-end: 2rem;">叩击 404</span>
</div>

<div class="media" style="margin-top: 20px;">

    <div class="media-body">

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        {{ .ProjectBean.Project.Title }}

                        {{/* 检查是否入围1 */}}{{if .ProjectBean.IsApproved }}
                        {{/* 这个主意已被台主或者管理员选中入围 */}}
                        <i class="bi-bookmark-check" style="font-size: 2rem; color: red;" title="已入围"></i>
                        {{/* 检查是否入围1 */}}{{ end }}
                    </div>

                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <span style="display: block;text-align: center;font-size: smaller;">
                            {{ if .Open }}
                            <i class="bi-disc" style="font-size: 2rem; color: black;"></i>
                            <span class="label label-info">开放式
                            </span>
                            {{ else }}
                            <i class="bi-disc-fill" style="font-size: 2rem; color: black;"></i>
                            <span class="label label-default">封闭式
                            </span>
                            {{ end }}
                            {{ .ProjectBean.CreatedAtDate }}
                        </span>
                    </div>

                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <span style="display: block; text-align: right; font-size: smaller;">
                            <a
                                href="/v1/user/biography?id={{ .ProjectBean.Author.Uuid }}">{{ .ProjectBean.Author.Name }}</a>
                            {{if .ProjectBean.Author.Gender }}
                            <i class="bi-gender-male" style="font-size: 1.2rem; color: cornflowerblue;"></i>
                            {{ else }}
                            <i class="bi-gender-female" style="font-size: 1.2rem; color:hotpink;"></i>
                            {{ end }}
                            （<a
                                href="/v1/family/detail?id={{ .ProjectBean.AuthorFamily.Uuid }}">{{ .ProjectBean.AuthorFamily.Name }}</a>，
                            <a
                                href="/v1/team/detail?id={{ .ProjectBean.AuthorTeam.Uuid }}">{{ .ProjectBean.AuthorTeam.Abbreviation }}</a>）

                        </span>
                        </span>

                    </div>
                </div>
            </div>

            <div class="panel-body">

                <p style="white-space: pre-wrap;">{{ .ProjectBean.Project.Body }}</p>

                <blockquote>
                    <p style="font-size: small;"><a
                            href="/v1/objective/detail?id={{ .QuoteObjectiveBean.Objective.Uuid }}">
                            <span class="label label-default">茶围</span></a><span
                            style="margin-inline-start: 1rem;">{{ .QuoteObjectiveBean.Objective.Body }} ...</span></p>
                    <footer style="font-size: small;">
                        <cite>
                            <a href="/v1/user/biography?id={{ .QuoteObjectiveBean.Author.Uuid }}"
                                style="color: black;">{{ .QuoteObjectiveBean.Author.Name }}</a>
                            <span style="margin-inline-end: 20px;">
                                （<a href="/v1/family/detail?id={{ .QuoteObjectiveBean.AuthorFamily.Uuid }}"
                                    style="color: black;">{{ .QuoteObjectiveBean.AuthorFamily.Name }}</a>，
                                <a href="/v1/team/detail?id={{ .QuoteObjectiveBean.AuthorTeam.Uuid }}"
                                    style="color: black;">{{ .QuoteObjectiveBean.AuthorTeam.Abbreviation }}</a>）
                            </span>
                        </cite>
                    </footer>
                </blockquote>

                <p>
                    {{/* 先检查是否管理员，如果是，继续检查是否为未入围，否则显示入围按钮图标 */}}
                    {{ if and .IsAdmin (not .ProjectBean.IsApproved) }}
                    <form class="form-inline" action="/v1/project/approve" method="post">
                        <input type="hidden" name="uuid" value="{{ .ProjectBean.Project.Uuid }}" />
                        <button type="submit" class="btn btn-default btn-sm">入围</button>
                    </form>
                    {{ end }}
                </p>

            </div>
            <div class="panel-footer">
                <span style="margin-inline-start: 2rem;margin-inline-end: 2rem;">惦记 14</span>
                <span style="margin-inline-end: 2rem;">电眼 22</span>
                <span style="margin-inline-end: 2rem;">白眼 13</span>

                {{ if .IsEdited }}

                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                <span style="font-size: smaller; margin-inline-end: 30px;"> {{ .ProjectBean.Project.EditAtDate }}
                </span>
                {{ else }}
                {{/* 没有编辑过（补充内容）则留空白 */}}
                {{ end }}

            </div>
        </div>

    </div>
</div>

{{/* 这是新茶议 撰写模版 */}}
<div class="panel panel-default">
  <div class="panel-heading">
    <i class="bi bi-paint-bucket" style="font-size: 1.5rem;"> 新茶议 </i>
  </div>
  <div class="panel-body">

    <form class="form-horizontal" action="/v1/thread/update" method="post">

      <div class="form-group">
        <label class="col-sm-2 control-label">表达</label>
        <div class="col-sm-10">
          <label class="radio">
            <input type="radio" name="type" value="0" required> 我觉得
          </label>
          <label class="radio">
            <input type="radio" name="type" value="1" required> 出主意
          </label>
        </div>
      </div>

      <div class="form-group">
        <label for="title" class="col-sm-2 control-label">标题</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="title" id="title" placeholder="2～36字" minlength="3"
            maxlength="42" required>
        </div>
      </div>

      <div class="form-group">
        <label for="topic" class="col-sm-2 control-label">内容</label>
        <div class="col-sm-10">
          <textarea class="form-control" name="topic" id="topic" rows="3" placeholder="17～456字" minlength="17"
            maxlength="567" required></textarea>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">身份</label>
        <div class="col-sm-10">
          <label class="radio">
            <input type="radio" name="is_private" value="false" checked required> 团队成员身份
          </label>
          <label class="radio">
            <input type="radio" name="is_private" value="true" required> 家庭成员身份
          </label>
        </div>
      </div>

      <div class="form-group">
        <label for="team_id" class="col-sm-2 control-label">团队</label>
        <div class="col-sm-10">
          <select class="form-control" name="team_id" id="team_id" required>
            <option value="{{ .SessUserDefaultTeam.Id }}">{{ .SessUserDefaultTeam.Name }}</option>
            {{ range .SessUserSurvivalTeams }}
            <option value="{{ .Id }}">{{ .Name }}</option>
            {{ end }}
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="family_id" class="col-sm-2 control-label">家庭</label>
        <div class="col-sm-10">
          <select class="form-control" name="family_id" id="family_id" required>
            <option value="{{ .SessUserDefaultFamily.Id }}">{{ .SessUserDefaultFamily.Name }}</option>
            {{ range .SessUserSurvivalFamilies }}
            <option value="{{ .Id }}">{{ .Name }}</option>
            {{ end }}
          </select>
        </div>
      </div>

      <input type="hidden" name="project_id" value="{{ .ProjectBean.Project.Id }}">
      <input type="hidden" name="post_id" value="0">

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">提交</button>
        </div>
      </div>
    </form>
  </div>
</div>

{{ end }}