{{ define "content" }}

<ol class="breadcrumb">
  <li><a href="/v1/">大堂</a></li>
  <li><a
      href="/v1/objective/detail?uuid={{ .QuoteObjectiveBean.Objective.Uuid }}">{{ .QuoteObjectiveBean.Objective.Title }}</a>
    @茶围</li>
  <li class="active"> #{{ .ProjectBean.Project.Id }} @茶台</li>
  <li>
    {{ template "component_sess_capacity" . }}
  </li>
</ol>

{{/* 这是某个茶台（项目）的详情页 */}}
<div class="media" style="margin-top: 20px;">

  <div class="media-left">
    {{ template "component_avatar_name_gender" .ProjectBean.Author }}
  </div>

  <div class="media-body">

    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">

          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

            <span style="font-size: smaller;">

              （<a
                href="/v1/family/detail?id={{ .ProjectBean.AuthorFamily.Uuid }}">{{ .ProjectBean.AuthorFamily.Name }}</a>，
              <a
                href="/v1/team/detail?uuid={{ .ProjectBean.AuthorTeam.Uuid }}">{{ .ProjectBean.AuthorTeam.Abbreviation }}</a>）

            </span>
          </div>

          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            {{/* 检查是否入围1 */}}{{if .ProjectBean.IsApproved }}
            {{/* 这个茶台已被茶围管理员选中入围 */}}
            <i class="bi-bookmark-check" style="font-size: 2rem; color: red;" title="已入围"></i>
            {{/* 检查是否入围1 */}}{{ end }}

            <span>
              {{ if .ProjectBean.Open }}
              <i class="bi-disc" style="font-size: 2rem; color: black;"></i>
              <span class="label label-info">开放式茶台</span>
              {{ else }}
              <i class="bi-disc-fill" style="font-size: 2rem; color: black;"></i>
              <span class="label label-default">封闭式茶台</span>
              {{ end }}
            </span>

            <span style="margin-inline-start: 2rem;margin-inline-end: 2rem;">{{ .ProjectBean.CreatedAtDate }}</span>
          </div>
        </div>
      </div>

      <div class="panel-body">
        <h4>
          {{ .ProjectBean.Project.Title }}
        </h4>
        <p style="white-space: pre-wrap;">
          {{ .ProjectBean.Project.Body }}
        </p>

        <blockquote style="font-size: xx-small;">
          <p><a href="/v1/objective/detail?uuid={{ .QuoteObjectiveBean.Objective.Uuid }}">
              <span class="label label-default">茶围</span>
            </a>
            <span style="margin-inline-start: 1rem;">{{ .QuoteObjectiveBean.Objective.Body }} ...</span>
          </p>
          <footer>
            <cite>
              <a href="/v1/user/biography?id={{ .QuoteObjectiveBean.Author.Uuid }}"
                style="color: black;">{{ .QuoteObjectiveBean.Author.Name }}</a>
              <span style="margin-inline-end: 20px;">
                （<a href="/v1/family/detail?id={{ .QuoteObjectiveBean.AuthorFamily.Uuid }}"
                  style="color: black;">{{ .QuoteObjectiveBean.AuthorFamily.Name }}</a>，
                <a href="/v1/team/detail?uuid={{ .QuoteObjectiveBean.AuthorTeam.Uuid }}"
                  style="color: black;">{{ .QuoteObjectiveBean.AuthorTeam.Abbreviation }}</a>）
              </span>
            </cite>
          </footer>
        </blockquote>

        <p>
          {{/* 先检查是否茶围管理员，如果是，继续检查是否为未入围，否则显示入围按钮图标 */}}
          {{ if and .IsAdmin (not .IsApproved) }}
          <form class="form-inline" action="/v1/project/approve" method="post">
            <input type="hidden" name="uuid" value="{{ .ProjectBean.Project.Uuid }}" />
            <button type="submit" class="btn btn-default btn-sm">入围</button>
          </form>
          {{ end }}
        </p>
        <div style="text-align: center; margin-top: 10px;">
          {{/* 这是某个茶台（项目）的地址显示 */}}
          <i class="bi-geo" style="font-size: 1.2rem; color: black;"></i>
          
            <a href="/v1/place/detail?uuid={{ .ProjectBean.Place.Uuid }}">{{ .ProjectBean.Place.Name }}</a>
          
        </div>
       
      </div>

      <div class="panel-footer">
        <span>
          <a href="/v1/appointment/detail?uuid={{ .ProjectBean.Project.Uuid }}">约茶</a> 
           {{ if .IsAppointmentCompleted }}<i class="bi-check-circle-fill" style="font-size: 1.2rem; color: green;"></i>{{ else }}<i class="bi-circle" style="font-size: 1.2rem; color: gray;"></i>{{ end }}</span>
        </span>
        <span style="margin-inline-start: 2rem;">
          <a href="/v1/see-seek/detail?uuid={{ .ProjectBean.Project.Uuid }}">看看</a>
           {{ if .IsSeeSeekCompleted }}<i class="bi-check-circle-fill" style="font-size: 1.2rem; color: green;"></i>{{ else }}<i class="bi-circle" style="font-size: 1.2rem; color: gray;"></i>{{ end }}</span>
        <span style="margin-inline-start: 2rem;">
          <a href="/v1/brain-fire/detail?uuid={{ .ProjectBean.Project.Uuid }}">脑火</a>
           {{ if .IsBrainFireCompleted }}<i class="bi-check-circle-fill" style="font-size: 1.2rem; color: green;"></i>{{ else }}<i class="bi-circle" style="font-size: 1.2rem; color: gray;"></i>{{ end }}</span>
          <span style="margin-inline-start: 2rem;">
            <a href="/v1/suggestion/detail?uuid={{ .ProjectBean.Project.Uuid }}">建议</a> 
            {{ if .IsSuggestionCompleted }}<i class="bi-check-circle-fill" style="font-size: 1.2rem; color: green;"></i>{{ else }}<i class="bi-circle" style="font-size: 1.2rem; color: gray;"></i>{{ end }}</span>
            <span style="margin-inline-start: 2rem;">
              <a href="/v1/goods/detail?uuid={{ .ProjectBean.Project.Uuid }}">宝贝</a> 
              {{ if .IsGoodsReady }}<i class="bi-check-circle-fill" style="font-size: 1.2rem; color: green;"></i>{{ else }}<i class="bi-circle" style="font-size: 1.2rem; color: gray;"></i>{{ end }}</span>
              <span style="margin-inline-start: 2rem;">
                <a href="/v1/handicraft/detail?uuid={{ .ProjectBean.Project.Uuid }}">手艺</a> 
                {{ if .IsHandicraftCompleted }}<i class="bi-check-circle-fill" style="font-size: 1.2rem; color: green;"></i>{{ else }}<i class="bi-circle" style="font-size: 1.2rem; color: gray;"></i>{{ end }}</span>
         
      
        {{ if .IsEdited }}   {{/* 检查是否编辑过（补充内容） */}}
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        <span style="font-size: smaller; margin-inline-end: 30px;"> {{ .ProjectBean.Project.EditAtDate }} </span>
        {{ else }}
        {{/* 没有编辑过（补充内容）则留空白 */}}
        {{ end }}

      </div>
    </div>

  </div>
</div>

{{/* 根据当前用户身份显示是否可以创建新茶议或者登录-开始 */}}
{{ if .IsInput }}
{{/* 这是茶台下的新茶议撰写模版 */}}
<button class="btn btn-default btn-block" type="button" data-toggle="collapse" data-target="#newThreadPanel"
  style="margin-top: 2rem;">
  <i class="bi-patch-plus" style="font-size: 1.5rem;"></i> 新茶议
</button>
<div class="collapse" id="newThreadPanel">
  <div class="panel panel-default">

    <div class="panel-body">

      <form class="form-horizontal" action="/v1/thread/draft" method="post">

        <div class="form-group">
          <fieldset>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ">
              <i class="bi bi-cup" style="font-size: 1.5rem;" title="表达类型"></i>
            </div>

            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
              <input type="radio" name="type" id="ithink" style="width: fit-content;" value="0" required />
              <label for="ithink">我觉得</label>
            </div>

            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
              <input type="radio" name="type" id="idea" style="width: fit-content;" value="1" required />
              <label for="idea">出主意</label>
            </div>

          </fieldset>
        </div>

        <div class="form-group">
          <label for="title" class="col-sm-2 ">标题</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="title" id="title" placeholder="3～36字" minlength="3"
              maxlength="42" required>
          </div>
        </div>

        <div class="form-group">
          <label for="topic" class="col-sm-2 ">内容</label>
          <div class="col-sm-10">
            <textarea class="form-control" name="topic" id="topic" rows="3" placeholder="17～456字" minlength="17"
              maxlength="567" required></textarea>
          </div>
        </div>

        <div class="form-group">
          <fieldset>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <label>身份</label>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <input type="radio" name="is_private" value="false" id="team" checked required>
              <label for="team">团队成员</label>
            </div>
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
              <input type="radio" name="is_private" value="true" id="family" required>
              <label for="family">家庭成员</label>
            </div>
          </fieldset>
        </div>

        <div class="form-group">
          <label for="team_id" class="col-sm-2 ">团队</label>
          <div class="col-sm-10">
            <select class="form-control" name="team_id" id="team_id" required>
              <option value="{{ .SessUserDefaultTeam.Id }}">{{ .SessUserDefaultTeam.Name }}</option>
              {{ range .SessUserSurvivalTeams }}
              <option value="{{ .Id }}">{{ .Name }}</option>
              {{ end }}
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="family_id" class="col-sm-2 ">家庭</label>
          <div class="col-sm-10">
            <select class="form-control" name="family_id" id="family_id" required>
              <option value="{{ .SessUserDefaultFamily.Id }}">{{ .SessUserDefaultFamily.Name }}</option>
              {{ range .SessUserSurvivalFamilies }}
              <option value="{{ .Id }}">{{ .Name }}</option>
              {{ end }}
            </select>
          </div>
        </div>

        <input type="hidden" name="project_id" value="{{ .ProjectBean.Project.Id }}">
        <input type="hidden" name="post_id" value="0">

        <div class="form-group">
          <div class="col-sm-offset-5">
            <button type="submit" class="btn btn-default">提交</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{{ else }}
<hr />
{{ if .IsGuest }}
{{/* 不是游客 */}}
<p class="text text-center">
  <a href="/v1/login?footprint={{ .SessUser.Footprint }}&query={{ .SessUser.Query }}">
    <i class="bi-airplane" style="font-size: 2rem; color: black;"></i>
    登船</a> 以开始聊天品茶 </p>
{{ else }}
<hr />
<p class=" text-center">
  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
  茶博士：这是封闭式茶台,只有台主邀请的茶团成员，才能入座品茶呢。</p>

{{ end }}
<hr />
{{ end }}
{{/* 根据当前用户身份显示是否可以创建新茶议或者登录-结束 */}}

{{/* 这是关注这个茶台的总人数 显示 */}}
<div style="border:0.1rem outset burlywood; border-radius: 4px;padding-inline-start: 1rem;margin-top: 20px;">

  <i class="bi-person-heart" style="font-size: 2rem; color: black;" title="关注人数"></i>
  1510

  <span style="margin-inline-start: 2rem;">
    {{/* 这是茶台的总茶议数量 显示 */}}
    <a href="/v1/place/detail?uuid={{ .ProjectBean.Place.Uuid }}">
      <i class="bi bi-cup" style="font-size: 1.5rem; color: black;margin-inline-end: 2rem;" title="茶议总数">
        {{ .ThreadCount }}</i>
    </a>
  </span>

  <span style="margin-inline-start: 2rem;">
    {{/* 这是茶台的已采纳茶议数量 显示 */}}
    <a href="/v1/place/detail?uuid={{ .ProjectBean.Place.Uuid }}">
      <i class="bi-bookmark-check" style="font-size: 1.5rem; color: black;margin-inline-end: 2rem;" title="已采纳数">
        {{ .ThreadIsApprovedCount }}</i>
    </a>
  </span>

</div>

{{ if .IsApproved }}
{{/* 以下是此茶台的“6步茶”茶议展示 */}}
{{ template "component_thread_bean_approved" .Approved6Threads }}
{{ end }}

{{/* 以下是此茶台的全部普通茶议展示 */}}
{{ range .ThreadBeanSlice }}
{{ template "component_thread_bean" . }}
<hr />
{{ end }}

{{ if .IsOverTwelve }}

<div style="margin-top: 66px;">
  <nav aria-label="next pager">
    <ul class="pager">
      <li><a href="#">上一页</a></li>
      <li><a href="#">下一页 </a></li>
    </ul>
  </nav>
</div>
{{ end }}

{{ end }}