{{ define "content" }}

<ol class="breadcrumb">
  <li><a href="/v1/">大堂</a></li>
  <li><a
      href="/v1/objective/detail?uuid={{ .ObjectiveBean.Objective.Uuid }}">{{ .ObjectiveBean.Objective.Title }}@茶话会</a>
  </li>
  <li class="active">新开茶台</li>
</ol>

<div class="panel panel-default">
  <div class="panel-body" style="font-size: small;">
    <a href="/v1/thread/detail?id={{ .ObjectiveBean.Objective.Uuid }}"><span class="label label-default">茶围</span></a>
    <a href="/v1/user/biography?id={{ .ObjectiveBean.Author.Uuid }}">{{ .ObjectiveBean.Author.Name }}</a>
    <span style="margin-inline-end: 1rem;">@<a
        href="/v1/team/detail?id={{ .ObjectiveBean.AuthorTeam.Uuid }}">{{ .ObjectiveBean.AuthorTeam.Abbreviation }}</a></span>
    <span>
      <mark>{{ .ObjectiveBean.Status }}</mark>
      <h3>{{ .ObjectiveBean.Objective.Title }}</h3>
      {{ .ObjectiveBean.Objective.Body }}
    </span>
  </div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
  <img src="/v1/static/image/teachat-table.svg" alt="茶台封面" width="24" height="24">
  新开茶台
</div>
  <div class="panel-body">

    <form role="form" action="/v1/project/new" method="post">

      <div class="form-group">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <input type="radio" name="class" id="open" style="width: fit-content;" value=10 required checked 
                   onchange="toggleInviteIdsInput(false)"/>
            <label for="open">开放式-所有人都可以品茶</label>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <input type="radio" name="class" id="close_project" style="width: fit-content;" value=20 required 
                   onchange="toggleInviteIdsInput(true)"/>
            <label for="close_project">封闭式-仅受邀团队可以品茶</label>
          </div> 
      </div>

      <div class="form-group">
        <label for="name">茶台名称（2-24字）</label>
        <input type="text" class="form-control" name="name" id="name" minlength="2" maxlength="42" required />
      </div>
      
      <div class="form-group">
        <label for="description">茶台介绍（17-456字）</label>
        <textarea class="form-control" name="description" id="description" rows="6" minlength="17" maxlength="567"
          required></textarea>
      </div>

      <div class="form-group">
        <label for="place_uuid">活动地方</label>
        <select name="place_uuid" class="form-control" id="place_uuid" required>
          <option value="{{ .SessUserDefaultPlace.Uuid }}">{{ .SessUserDefaultPlace.Name }}
          </option>
          {{ range .SessUserBindPlaces }}
          <option value="{{ .Uuid }}">{{ .Name }}</option>
          {{ end }}
        </select>
      </div>

      <div class="form-group">
        <fieldset>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="radio">
              <label>
                <input type="radio" name="is_private" id="is_private" value="false" checked required />
                以团队成员身份
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="is_private" id="is_private" value="true" required />
                以家庭成员身份
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="form-group">
        <label for="team_id">支持团队</label>
        <select name="team_id" class="form-control" id="team_id" required>
          <option value="{{ .SessUserDefaultTeam.Id }}">{{ .SessUserDefaultTeam.Name }}
          </option>
          {{ range .SessUserSurvivalTeams }}
          <option value="{{ .Id }}">{{ .Name }}</option>
          {{ end }}
        </select>
      </div>

      <div class="form-group">
        <label for="description">选择家庭</label>
          <select name="family_id" class="form-control" id="family_id" required>
            <option value="{{ .SessUserDefaultFamily.Id }}">{{ .SessUserDefaultFamily.Name }}
            </option>
            {{ range .SessUserSurvivalFamilies }}
            <option value="{{ .Id }}">{{ .Name }}</option>
            {{ end }}
          </select>
      </div>
      
      <div class="form-group" id="inviteIdsGroup" style="display:none;">
        <label for="invite_ids">封闭式茶会指定邀请的茶团号，以逗号分隔。</label>
        <input type="text" class="form-control" name="invite_ids" id="invite_ids" maxlength="456" placeholder="例如: 1,2,3"/>
      </div>

      <input type="hidden" name="ob_uuid" id="ob_uuid" value="{{ .ObjectiveBean.Objective.Uuid }}">

      <div class="form-group; col-xs-offset-6 col-sm-offset-6 col-md-offset-6 col-lg-offset-6">
        <button type="submit" class="btn btn-default">开台</button>
      </div>
      
    </form>

  </div>

  <div class="panel-footer">
    <i class="bi-info-square" style="font-size: 2rem; color: black;"></i>
    茶博士：您知道吗？船长非常迷信月光之神，说月圆月缺一轮回才能拓摆一围茶，月升月落一圈才能开新茶台。
  </div>

</div>

<script>
function toggleInviteIdsInput(show) {
    document.getElementById('inviteIdsGroup').style.display = show ? 'block' : 'none';
    // 如果需要，可以在这里清空输入框的值
    // if (!show) document.getElementById('invite_ids').value = '';
}
</script>

{{ end }}