{{ define "content" }}

{{/* 团队管理员视角，查看本茶团成员全部退出声明 */}}

<ol class="breadcrumb">
    <li><a href="/v1/">大堂</a></li>
    <li><a href="/v1/team/detail?uuid={{ .Team.Uuid }}">{{ .Team.Name }}</a></li>
    <li class="active">全部退出声明</li>
</ol>

<div style="margin: 2rem;">
  <ol class="nav nav-tabs">
      <li><a href="/v1/team/manage?uuid={{ .Team.Uuid }}">调整角色</a></li>
      <li><a href="/v1/team/edit?uuid={{ .Team.Uuid }}">修改资料</a></li>
      <li><a href="/v1/team/member_add?uuid={{ .Team.Uuid }}">邀请新人</a></li>
      <li><a href="/v1/team/invitations?uuid={{ .Team.Uuid }}">邀请函</a></li>
      <li><a href="/v1/team/new_applications/check?uuid={{ .Team.Uuid }}">待处理申请</a></li>
      <li><a href="/v1/team/applications?uuid={{ .Team.Uuid }}">全部申请</a></li>
      <li class="active"><a href="#">退出声明</a></li>
      <li><a href="#">注销团队</a></li>
  </ol>
</div>

{{ if .ResignationSlice }}

{{ range .ResignationSlice }}

<ul class="media-list">
  <li class="media">
    <div class="media-body">
      <h4 class="media-heading">
        {{ .Title }}
        <span class="label {{ if eq .Status 0 }}label-warning{{ else if eq .Status 1 }}label-info{{ else if eq .Status 2 }}label-primary{{ else if eq .Status 3 }}label-success{{ else if eq .Status 4 }}label-danger{{ else }}label-default{{ end }}" style="margin-left: 10px;">
          {{ .GetStatus }}
        </span>
      </h4>
      <p style="color: #666;">
        <i class="glyphicon glyphicon-user"></i> 声明人角色：<span class="label label-primary">{{ .MemberCurrentRole }}</span>
        <span style="margin-left: 15px;"><i class="glyphicon glyphicon-time"></i> {{ .CreatedAtDate }}</span>
      </p>
      <p>
        <a href="/v1/team_member/resignation/detail?uuid={{ .Uuid }}" class="btn btn-sm btn-info">
          <i class="glyphicon glyphicon-eye-open"></i> 查看详情
        </a>
      </p>
    </div>
  </li>
</ul>

<hr />

{{ end }}

{{/* 分页导航 */}}
{{ if gt .TotalPages 1 }}
<nav aria-label="退出声明分页导航" style="text-align: center;">
  <ul class="pagination">
    {{ if .HasPrev }}
    <li>
      <a href="/v1/team_member/resigned?uuid={{ .Team.Uuid }}&page={{ sub .CurrentPage 1 }}" aria-label="上一页">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {{ else }}
    <li class="disabled">
      <span aria-hidden="true">&laquo;</span>
    </li>
    {{ end }}

    {{ range $i := iterate .TotalPages }}
    {{ if eq (add $i 1) $.CurrentPage }}
    <li class="active"><span>{{ add $i 1 }}</span></li>
    {{ else }}
    <li><a href="/v1/team_member/resigned?uuid={{ $.Team.Uuid }}&page={{ add $i 1 }}">{{ add $i 1 }}</a></li>
    {{ end }}
    {{ end }}

    {{ if .HasNext }}
    <li>
      <a href="/v1/team_member/resigned?uuid={{ .Team.Uuid }}&page={{ add .CurrentPage 1 }}" aria-label="下一页">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {{ else }}
    <li class="disabled">
      <span aria-hidden="true">&raquo;</span>
    </li>
    {{ end }}
  </ul>
</nav>
{{ end }}

{{ else }}

<div class="panel panel-default">
  <div class="panel-body">
    <p class="text-center" style="color: #999;">没有退出声明记录。</p>
  </div>
</div>

{{ end }}

{{ end }}
