{{ define "content" }}

<ol class="breadcrumb">
    <li><a href="/v1/">大堂</a></li>
    <li><a href="/v1/team/office">写字室</a></li>
    <li class="active">？茶团@管理核心成员</li>
  </ol>


<div class="panel panel-default">
<div class="panel-heading">
    <a href="/v1/team/detail?id={{ .Uuid }}">{{ .Name }}</a> 茶团核心成员角色
</div>

    <div class="panel-body">
       说明：CEO仅能由茶团创建人指定和撤销；CEO可以指定和撤销CTO，CMO，CFO，每个核心角色只能指定一人担任，品茶师调整为核心成员之前需要先将该角色空缺。
    </div>
</div>

{{ range .CoreMembers }}

<div class="panel panel-default">

    <div class="panel-heading">
        
        {{ .Role }}
        <div class="pull-right">
        <a href="/v1/user/biography?id={{ .User.Uuid }}">个人主页</a>

        </div>
    </div>

    <div class="panel-body">

        <p>花名：{{ .User.Name }}</p>
        <p>邮箱：{{ .User.Email }}</p>
        <p style="white-space: pre-wrap;">拼团茶话：{{ .InvitationReply.ReplyWord }}</p>
        <p>上岗时间：{{ .GetWorkTime }}</p>

    </div>

    <div class="panel-footer">
        <a href="/v1/team/core_manage?id={{ .Uuid }}">撤销</a>
    </div>
</div>

{{ end }}

{{ end }}