{{ define "content" }}
{{/* 这是用户，正在申请加盟的全部茶团，申请书列表页面 */}}

<ol class="breadcrumb">

  <li>大堂</li>
  <li class="active">和我有关 @茶团</li>

</ol>

<div style="margin: 20px;">

  <ul class="nav nav-tabs nav-justified">
    <li role="presentation"><a href="/v1/teams/hold">我建的团</a></li>
    <li role="presentation"><a href="/v1/teams/joined">已经加入</a></li>
    <li role="presentation"><a href="/v1/teams/employed">核心管理</a></li>
    <li role="presentation" class="active"><a href="/v1/teams/application">申请加盟</a></li>
  </ul>

</div>

{{/*  这是指定茶友的，全部加盟申请书列表页面  */}}

{{ range .MemberApplicationBeanSlice }}

<hr />
<p>意向茶团：<a href="/v1/team/detail?uuid={{ .Team.Uuid }}">{{ .Team.Abbreviation }}</a></p>
<p><strong>申请书状态：{{ .Status }}</strong>
  <a href="/v1/team_member/application/detail?id={{ .MemberApplication.Uuid }}"> 详情 >></a></p>
  
<div class="media">
    <div class="media-left">
      <a href="/v1/user/biography?id={{ .Author.Uuid }}">
        <img class="img-circle" src="/v1/static/image/{{ .Author.Avatar }}.jpeg" alt="个人头像">
      </a>
    </div>

    <div class="media-body">
    <h5 class="media-heading">
      {{ .Author.Name }}
        <span  style="font-size: small;">
          {{if .Author.Gender }}
          <i class="bi-gender-male" style="font-size: 1.4rem; color: cornflowerblue;"></i>
          {{ else }}
          <i class="bi-gender-female" style="font-size: 1.4rem; color:hotpink;"></i>
          {{ end }}
      </span>
      
      <span style="font-style: italic;"><a href="/v1/team/detail?uuid={{ .AuthorTeam.Uuid }}">{{ .AuthorTeam.Abbreviation }}</a></span>

      <span style="font-style: italic;"> {{ .Author.Email }} </span>
    </h5>
     <p>正文预览：</p>
    <p>{{ .MemberApplication.Content }}...</p>
    <p>时间：{{ .CreatedAtDate }}</p>

    
    
    </div>
  </div>

  <hr />



{{ else }}
<div class="alert alert-info" role="alert">没有加盟申请书记录。
</div>

{{ end }}{{/* 展示全部申请书结束 */}}

{{ end }}