{{ define "content" }}

{{/*  这是所有的封闭式茶团展示页面  */}}

<ol class="breadcrumb">
  {{/*  这是所有的封闭式茶团展示页面内导航条  */}}
  
  <li>大堂</li>
  <li class="active">全部封闭式茶团</li>

</ol>




{{/*  这是所有的封闭式茶团展示页面标签栏  */}}
<div style="margin: 20px;">
  <ul class="nav nav-tabs nav-justified">
    <li role="presentation"><a href="/v1/team/open">开放式茶团</a></li>
    <li role="presentation" class="active"><a href="/v1/team/closed">封闭式茶团</a></li>
  </ul>
</div>


{{/*  这是所有的封闭式茶团展示页面逐一展示茶团  */}}

{{ template "teams_public" .TeamBeanList }}




{{ end }}