{{ define "content" }}

{{/*  这是 全部已加入的茶团展示 页面  */}}

<ol class="breadcrumb">
  <li><a href="/v1/">大堂</a></li>
  <li><a href="/v1/myoffice">我的@个人办公室</a></li>
  <li class="active">@我的茶团关系</li>
</ol>

<div style="margin: 20px;">
  <ul class="nav nav-tabs nav-justified">
    <li role="presentation"><a href="/v1/teams/hold">我建的团</a></li>
    <li role="presentation"><a href="/v1/teams/joined">已经加入</a></li>
    <li role="presentation" class="active"><a href="#">核心管理</a></li>
    <li role="presentation"><a href="/v1/applications/member">查看申请</a></li>
    <li role="presentation"><a href="/v1/invitations/member">查看邀请</a></li>
    <li role="presentation"><a href="/v1/resignations/member">查看退团</a></li>
  </ul>
</div>

{{ template "teams_public" .TeamBeanSlice }}


{{ end }}