{{ define "content" }}

{{/*  这是 全部已加入的茶团展示 页面  */}}

<ol class="breadcrumb">

  <li>大堂</li>
  <li class="active">和我有关的 @茶团</li>
</ol>

<div style="margin: 20px;">

  <ul class="nav nav-tabs nav-justified">
    <li role="presentation"><a href="/v1/teams/hold">我建的团</a></li>
    <li role="presentation" class="active"><a href="#">已经加入</a></li>
    <li role="presentation"><a href="/v1/teams/employed">核心管理</a></li>
    <li role="presentation"><a href="/v1/teams/application">申请加盟</a></li>
  </ul>

</div>


{{ template "teams_public" .TeamBeanList }}



{{ end }}