{{ define "content" }}

<ol class="breadcrumb">
  <li><a href="/v1/">大堂</a></li>
  <li><a href="/v1/teams/joined">茶团事项</a></li>
  <li><a href="/v1/team/manage?uuid={{ .Team.Uuid }}">{{ .Team.Abbreviation }}</a></li>
  <li class="active">更新资料</li>
</ol>

<h3>编辑团队资料</h3>

<!--编辑团队标识-->
<div class="form-group">
  <label>团队标识</label>
  <div>
    {{ if .Team.Logo }}
    <img src="/v1/static/image/team/{{ .Team.Logo }}.jpeg" alt="团队标识" style="max-width: 64px; max-height: 64px; margin-right: 10px;">
    {{ end }}
    <a href="/v1/team/logo?uuid={{ .Team.Uuid }}" class="btn btn-default">更新团队标识</a>
    <p class="help-block">点击按钮上传新的团队标识图片（JPEG格式，建议64x64像素，小于30KB）</p>
  </div>
</div>


<!--编辑团队资料-->
<form action="/v1/team/edit" method="post">
  <input type="hidden" name="team_id" value="{{ .Team.Id }}">
  
  <div class="form-group">
    <label for="name">茶团名称</label>
    <input type="text" class="form-control" id="name" name="name" value="{{ .Team.Name }}" required>
    <p class="help-block">4-24个中文字符</p>
  </div>

  <div class="form-group">
    <label for="abbreviation">队名简称</label>
    <input type="text" class="form-control" id="abbreviation" name="abbreviation" value="{{ .Team.Abbreviation }}" required>
    <p class="help-block">4-6个中文字符</p>
  </div>

  <div class="form-group">
    <label for="mission">团队使命</label>
    <textarea class="form-control" id="mission" name="mission" rows="5" required>{{ .Team.Mission }}</textarea>
    <p class="help-block">请描述团队的使命和目标</p>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">保存修改</button>
    <a href="/v1/team/manage?uuid={{ .Team.Uuid }}" class="btn btn-default">取消</a>
  </div>
</form>

{{ end }}
