{{ define "content" }}

{{/* 这是 查看茶团已发出的全部邀请函 页面 */}}

<ol class="breadcrumb">
    <li><a href="/v1/">大堂</a></li>
    <li><a href="/v1/team/detail?id={{ .Team.Uuid }}">{{ .Team.Name }}</a></li>
    <li class="active">全部邀请函</li>

</ol>

<div style="margin: 2rem;">
  <ol class="nav nav-tabs">
      <li><a href="/v1/team_member/role?id={{ .Team.Uuid }}">调整角色</a></li>
      <li><a href="/v1/team/edit?id={{ .Team.Uuid }}">修改资料</a></li>
      <li><a href="/v1/search">邀请新人</a></li>
      <li class="active"><a href="/v1/team/invitations?id={{ .Team.Uuid }}">查看邀请</a></li>
      <li><a href="/v1/team_member/application/check?id={{ .Team.Uuid }}">加盟申请</a></li>
      <li><a href="/v1/team_member/fire?id={{ .Team.Uuid }}">移除成员</a></li>
      <li><a href="#">冰封团队</a></li>
  </ol>
</div>

<div class="well">
  茶团共发出 {{ .Team.NumInvitations }} 封加盟邀请函。
</div>

{{ range .InvitationList }}

<ul class="media-list">
  <li class="media">
   
    <div class="media-body">
      <h4 class="media-heading">诚邀加盟-邀请函</h4>

      <p>
        <span class="label label-success">{{ .GetStatus }}</span>
      </p>

      <p style="font-style: italic;">
        受邀人邮箱：{{ .InviteEmail }}
      </p>
      <p>
        <a href="/v1/team/invitation?id={{ .Uuid }}">
          <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>
          <span style="font-size: smaller;">
            详情
          </span>
        </a>
      </p>
    </div>
  </li>
</ul>

<hr />

{{ else }}

<hr />
没有发出的加盟邀请函记录。
<hr />

{{ end }}





{{ end }}