{{ define "content" }}
{{/* 这是用户拥有的全部茶团页面 */}}

<ol class="breadcrumb">

  <li>大堂</li>
  <li class="active">和我有关 @茶团</li>
 
</ol>



<div style="margin: 20px;">

  <ul class="nav nav-tabs nav-justified">
    <li role="presentation" class="active"><a href="/v1/teams/hold">我建的团</a></li>
    <li role="presentation"><a href="/v1/teams/joined">已经加入</a></li>
    <li role="presentation"><a href="/v1/teams/employed">核心管理</a></li>
    <li role="presentation"><a href="/v1/teams/application">申请加盟</a></li>
  </ul>

</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">茶博士提示</h3>
  </div>
  <div class="panel-body">
    草团需要等待友邻盲评通过。
  </div>
</div>

{{ template "teams_public" .TeamBeanSlice }}


{{ end }}