{{ define "content" }}

{{/*  这是 全部已加入的茶团展示 页面  */}}

<ol class="breadcrumb">

  <li>大堂</li>
  <li class="active">和我有关的 @茶团</li>
</ol>

<div style="margin: 20px;">

  <ul class="nav nav-tabs nav-justified">
    <li role="presentation"><a href="/v1/teams/hold">我建的团</a></li>
    <li role="presentation" class="active"><a href="#">已经加入</a></li>
    <li role="presentation"><a href="/v1/teams/employed">核心管理</a></li>
    <li role="presentation"><a href="/v1/teams/application">申请加盟</a></li>
  </ul>

</div>

<div class="well">
  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
    <a href="/v1/team/new">$茶团</a>
</div>



{{ if .IsEmpty }}
{{/*  显示没有已加入的茶团  */}}
<div class="panel panel-default">
  <div class="panel-heading">
      <span class="lead">茶博士</span>
  </div>

  <div class="panel-body">
      你好，没有已加入的其他茶团。
  </div>
{{ else }}
{{/*  显示已加入的茶团  */}}
{{/* template "teams_public" .TeamBeanSlice */}}
{{ range .TeamBeanSlice }}

<div class="media">
  <div class="media-left">
    <a href="/v1/team/detail?id={{ .Team.Uuid }}">
      {{ if .Open }}
      <img class="media-object" src="/v1/static/bootstrap-icons/people-fill.svg" alt="茶团旗帜" height="32" width="32">
      {{ else }}
      <img class="media-object" src="/v1/static/bootstrap-icons/microsoft-teams.svg" alt="茶团旗帜" height="32" width="32">
      {{ end }}
    </a>
    
  </div>
  <div class="media-body">
    <div class="panel panel-default">

      <div class="panel-heading">
        <div class="row">
    
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            @<a href="/v1/team/detail?id={{ .Team.Uuid }}">{{ .Team.Abbreviation }}</a>
          </div>
          
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <span style="display: block; text-align: center;">

              {{ if .Open }}
              
              <span class="label label-success">{{ .Team.TeamProperty }}
                {{ else }}
                <span class="label label-default">{{ .Team.TeamProperty }}
                  {{ end }}
                </span>
              </span>
              
            </span>
            
          </div>
          
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="pull-right" style="font-size: small;">
              <a href="/v1/user/biography?id={{ .Founder.Uuid }}">{{ .Founder.Name }}</a>
              {{if .Founder.Gender }}
              <i class="bi-gender-male" style="font-size: 1.4rem; color: cornflowerblue;"></i>
              {{ else }}
              <i class="bi-gender-female" style="font-size: 1.4rem; color:hotpink;"></i>
              {{ end }}
              <span>
                （<a href="/v1/family/detail?id={{ .FounderDefaultFamily.Uuid }}">{{ .FounderDefaultFamily.Name }}</a>）
              </span>
        
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
       

        {{ .Team.Mission }} ...
      </div>
    
      <div class="panel-footer">
          <span style="margin-inline-end: 20px;" title="团号">
          <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
           {{ .Team.Id }}
          </span>
         
          <span style="margin-inline-end: 20px;">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
             {{ .Count }}
            </span>
        <div class="pull-right">
          <a href="/v1/team/detail?id={{ .Team.Uuid }}">
          <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>
          </a>
        </div>
      </div>
    
    </div>
  </div>
</div>

<div style="margin: 1rem;">
{{/*  显示退出茶团-功能按钮  */}}
    <a class="btn btn-default" href="/v1/team_member/resign?id={{ .Team.Uuid }}" role="button">
      <i class="bi-escape" style="font-size: 1.5rem; color: red;"></i>
      退出茶团</a>

      <span style="margin-inline-start: 2rem;">
        {{/* 显示设置默认$事业茶团-功能按钮  */}}
        <a class="btn btn-default" href="/v1/team/default?id={{ .Team.Uuid }}" role="button">
          <i class="bi-house-check" style="font-size: 1.5rem; color: black;"></i>
          设为默认</a>
      </span>
  </div>

  <hr />

{{ else }}

<div class="panel panel-default">
  <div class="panel-heading">
      <span class="lead">茶博士</span>
  </div>

  <div class="panel-body">
      你好，没有已加入的其他茶团。
  </div>

</div>

{{ end }}

{{ end }}


{{ end }}