{{ define "content"}}

{{/*  这是指定茶团详情展示页面-面包屑导航栏  */}}

<ol class="breadcrumb">
  <li><a href="/v1/">大堂</a></li>
  <li><a href="#">{{ .Team.Name }}</a></li>
  <li class="=active">详情</li>
</ol>

{{ if .IsCoreMember }}
<a class="btn btn-default" href="/v1/team/manage?id={{ .Team.Uuid }}" role="button">管理团队</a>

{{ if .HasApplication }}

<div class="alert alert-info" role="alert" style="margin-top: 1rem;">你好，有待处理的加盟申请书！
  <i class="bi bi-envelope"></i>
  <a href="/v1/team_member/application/check?id={{ .Team.Uuid }}">查看 >></a>
</div>

{{ end }}{{/*  检查是否有新的加盟申请书结束  */}}
{{ end }}{{/*  检查是否团队管理员结束  */}}

<hr />
{{ if .Open }}
{{ if .IsMember }}
{{ if .IsCoreMember }}
<p class="text-center">
  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"> </span>
  茶博士提示： 邀请茶友加入团队的方法：先 <strong><a href="/v1/search">查找</a></strong> 该茶友，然后在其个人页面点击“邀请加盟”按钮。
</p>
{{ end }}{{/*  检查是否核心管理成员结束  */}}
{{ else }}{{/*  不是茶团成员  */}}
<span style="margin-inline-end: 30px;">
  <a href="/v1/team_member/application/new?id={{ .Team.Uuid }}">申请加盟</a>
</span>
{{ end }}{{/*  检查是否团队成员结束  */}}



{{ else }}{{/*  是封闭式茶团  */}}
<p class="text-center">
  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"> </span>
  茶博士提示：封闭式茶团不接受加盟申请
</p>
{{ end }}
<hr />

  



{{/*  这是指定茶团详情展示页面  */}}

<div class="media">
  
  <div class="media-body">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            {{ .Team.Name }}
            @<span style="font-style: italic;"><a href="/v1/group/detail?id={{ .Team.Group.Uuid }}">{{ .Team.Group.Abbreviation }}</a></span>

          </div>

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <span style="display: block;text-align: center;">
              {{ if .Open }}
              <i class="bi-people" style="font-size: 2rem;"></i>
              
              <span class="label label-success">{{ .Team.TeamProperty }}
                {{ else }}
                <i class="bi-people-fill" style="font-size: 2rem;"></i>
                <span class="label label-default">{{ .Team.TeamProperty }}
                  {{ end }}
                </span>
              </span>
          </div>

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <span style="display: block; text-align: right; font-size: smaller;">
              <a href="/v1/user/biography?id={{ .Founder.Uuid }}">{{ .Founder.Name }}</a>
              {{if .Founder.Gender }}
              <i class="bi-gender-male" style="font-size: 1.4rem; color: cornflowerblue;"></i>
              {{ else }}
              <i class="bi-gender-female" style="font-size: 1.4rem; color:hotpink;"></i>
              {{ end }}
              <span style="font-style: italic;"><a href="/v1/team/detail?id={{ .FounderTeam.Uuid }}">{{ .FounderTeam.Abbreviation }}</a></span>

              {{ .CreatedAtDate }}
            </span>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <span style="white-space: pre-wrap;">
          {{ .Team.Mission }}
        </span>

      </div>
      <div class="panel-footer">
        <span style="margin-inline-end: 20px;" title="团号">
          <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
          {{ .Team.Id }}
        </span>

        <span style="margin-inline-end: 20px;" title="成员数">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          {{ .TeamMemberCount }}
        </span>

      </div>
    </div>


    <div style="margin: 2rem;">
      <ol class="nav nav-tabs">
        <li class="active"><a href="#">在座成员</a></li>
        <li><a href="/v1/team_member/role_changed?id={{ .Team.Uuid }}">角色变动</a></li>
        <li><a href="/v1/team_member/resigned?id={{ .Team.Uuid }}">离开成员</a></li>
      </ol>
    </div>


    {{/*  这是茶团核心成员展示页面  */}}
    {{ range .CoreMemberBeanList }}

    <div class="media">
      <div class="media-left">
        <a href="/v1/user/biography?id={{ .Member.Uuid }}">
          <img class="img-circle" src="/v1/static/image/{{ .Member.Avatar }}.jpeg" alt="个人头像">
        </a>
      </div>
      <div class="media-body">

        {{ .Member.Name }}
        <span  style="font-size: small;">
          {{if .Member.Gender }}
            <i class="bi-gender-male" style="font-size: 1.4rem; color: cornflowerblue;"></i>
            {{ else }}
            <i class="bi-gender-female" style="font-size: 1.4rem; color:hotpink;"></i>
            {{ end }}
        </span>
        
        <span style="font-style: italic;">
          （<a href="/v1/family/detail?id={{ .MemberDefaultFamily.Uuid }}">{{ .MemberDefaultFamily.Name }}</a>，
          <a href="/v1/team/detail?id={{ .MemberDefaultTeam.Uuid }}">{{ .MemberDefaultTeam.Abbreviation }}</a>）
        </span>

       
        <h5>{{ .TeamMember.Role }}</h5>

        <p>加盟时间：{{ .CreatedAtDate }}</p>

        <span style="font-style: italic;">{{ .Member.Email }}</span>

      </div>
    </div>

   
    <hr />
    {{ end }}

    {{ range .NormalMemberBeanList }}

    <div class="media">
      <div class="media-left">
        <a href="/v1/user/biography?id={{ .Member.Uuid }}">
          <img class="img-circle" src="/v1/static/image/{{ .Member.Avatar }}.jpeg" alt="个人头像">
        </a>
      </div>
      <div class="media-body">
        {{ .Member.Name }}
        <span  style="font-size: small;">
          {{if .Member.Gender }}
          <i class="bi-gender-male" style="font-size: 1.4rem; color: cornflowerblue;"></i>
          {{ else }}
          <i class="bi-gender-female" style="font-size: 1.4rem; color:hotpink;"></i>
          {{ end }}
          </span>

        <span style="font-style: italic;">
          （<a href="/v1/family/detail?id={{ .MemberDefaultFamily.Uuid }}">{{ .MemberDefaultFamily.Name }}</a>，
          <a href="/v1/team/detail?id={{ .MemberDefaultTeam.Uuid }}">{{ .MemberDefaultTeam.Abbreviation }}</a>）
        </span>
   
        <h5>{{ .TeamMember.Role }}</h5>

        <p>加盟时间：{{ .CreatedAtDate }}</p>

        <span style="font-style: italic;">{{ .Member.Email }}</span>

      </div>
    </div>

    <hr />
    {{ end }}

  </div>
</div>



{{ end }}