{{ define "content" }}
{{/* 这是用户，正在申请加盟的全部茶团，申请书列表页面 */}}

<ol class="breadcrumb">

  <li>大堂</li>
  <li class="active">和我有关 @茶团</li>

</ol>

<div style="margin: 20px;">

  <ul class="nav nav-tabs nav-justified">
    <li role="presentation"><a href="/v1/teams/hold">我建的团</a></li>
    <li role="presentation"><a href="/v1/teams/joined">已经加入</a></li>
    <li role="presentation"><a href="/v1/teams/employed">核心管理</a></li>
    <li role="presentation" class="active"><a href="/v1/teams/application">申请加盟</a></li>
  </ul>

</div>

{{ range .MemberApplicationBeanList }}

{{ else }}
<div class="alert alert-info" role="alert">没有加盟申请书记录。
</div>

{{ end }}{{/* 展示全部申请书结束 */}}

{{ end }}