{{ define "content"}}

{{/* 这是指定茶团详情展示页面-面包屑导航栏  */}}

{{ with .TeamBean }}{{/* 检测Teambean非空 --开始  */}}
<ol class="breadcrumb">
  <li><a href="/v1/">大堂</a></li>
  <li><a href="/v1/teams/joined">团队事项</a></li>
  <li>{{ .Team.Name }}</li>
  <li class="=active">$事业茶团详情</li>
</ol>

{{ if $.IsCoreMember }}

{{ if $.IsCEO }}{{/* 检查是否团队最高管理员开始  */}}
<a class="btn btn-default" href="/v1/team/manage?uuid={{ .Team.Uuid }}" role="button">管理团队</a>
{{ else if $.IsFounder }}
<a class="btn btn-default" href="/v1/team/manage?uuid={{ .Team.Uuid }}" role="button">管理团队</a>
{{ end }} {{/* 检查是否团队最高管理员结束  */}}

{{ if or $.IsCEO $.IsFounder }}
{{ if $.GroupBean }}
<a class="btn btn-info" href="/v1/group/detail?id={{ $.GroupBean.Group.Uuid }}" role="button">
  <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> 查看所属集团
</a>
{{ else }}
<a class="btn btn-success" href="/v1/group/new?team_id={{ .Team.Uuid }}" role="button">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 创建集团
</a>
{{ end }}
{{ end }}


{{ if $.HasApplication }}
<div class="alert alert-info" role="alert" style="margin-top: 1rem;">你好，有待处理的加盟申请书！
  <i class="bi bi-envelope"></i>
  <a href="/v1/team/new_applications/check?uuid={{ .Team.Uuid }}">查看 >></a>
</div>
{{ end }}{{/* 检查是否有新的加盟申请书结束  */}}

{{ if $.HasResignation }}
<div class="alert alert-warning" role="alert" style="margin-top: 1rem;">你好，有待处理的退出声明！
  <i class="bi bi-box-arrow-right"></i>
  <a href="/v1/team_member/resigned?uuid={{ .Team.Uuid }}">查看 >></a>
</div>
{{ end }}{{/* 检查是否有待处理的退出声明结束  */}}
{{ end }}{{/* 检查是否团队管理员结束  */}}

<hr />
{{ if .Team.IsOpen }}
  {{ if $.IsMember }}

  {{ else }}{{/* 不是茶团成员  */}}
     <div class="text-right">
      <a href="/v1/team_member/application/new?uuid={{ .Team.Uuid }}">申请加盟</a>
    </div>
  {{ end }}{{/* 检查是否团队成员结束  */}}

{{ else }}{{/* 是封闭式茶团  */}}
<p class="text-center">
  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"> </span>
  茶博士提示：封闭式茶团不接受加盟申请
</p>
{{ end }}
<hr />

{{/* 这是指定茶团详情展示页面  */}}
<div class="media">

  <div class="media-left">
    {{ template "component_avatar_name_gender" .Founder }}
  </div>

  <div class="media-body">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">

          <div class="col-xs-4">
            <span style="font-style: italic;">
              （<a href="/v1/family/detail?id={{ .FounderDefaultFamily.Uuid }}" title="查看家庭详情">
                {{ .FounderDefaultFamily.Name }}</a>）
            </span>
          </div>

          <div class="col-xs-4 text-center">
            {{ if .Team.IsPrivate }}
            <span class="label label-danger">私密</span>
            {{ end }}
            {{ if .Team.IsOpen }}
            <i class="bi-people" style="font-size: 2rem;"></i>

            <span class="label label-success">{{ .Team.TeamProperty }}
              {{ else }}
              <i class="bi-people-fill" style="font-size: 2rem;"></i>
              <span class="label label-default">{{ .Team.TeamProperty }}
                {{ end }}
              </span>

          </div>

          <div class="col-xs-4 text-right">
            {{ .CreatedAtDate }}
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="text-center" style="font-size: large;">
          {{ .Team.Name }}
          @<span style="font-style: italic;">
            {{ if $.GroupBean }}
            <a href="/v1/group/detail?id={{ $.GroupBean.Group.Uuid }}">{{ $.GroupBean.Group.Abbreviation }}</a>
            {{ else }}喝茶集团{{ end }}
          </span>
        </div>

        {{ if .Team.Tags }}
        <div style="margin-top: 10px;">
          <i class="glyphicon glyphicon-tags"></i>
          {{ range .Team.GetTags }}
          <span class="label label-info" style="margin-right: 5px;">{{ . }}</span>
          {{ end }}
        </div>
        {{ end }}

        <span style="white-space: pre-wrap;">
          {{ .Team.Mission }}
        </span>

      </div>
      <div class="panel-footer">
        <span style="margin-inline-end: 20px;" title="团号">
          <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
          {{ .Team.Id }}
        </span>

        <span style="margin-inline-end: 20px;" title="成员数">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          {{ .MembersCount }}
        </span>

       

      </div>
    </div>

    <div class="my-4">
      <!-- 团队功能导航 -->
      <ul class="nav nav-tabs nav-justified">
        <li class="active"><a href="#">在座成员</a></li>
        <li><a href="/v1/skills/team_list?uuid={{ .Team.Uuid }}">技能</a></li>
        <li><a href="/v1/magics/team_list?uuid={{ .Team.Uuid }}">法力</a></li>
        <li><a href="/v1/goods/team?uuid={{ .Team.Uuid }}">装备物资</a></li>
        {{ if $.IsCoreMember }}
        <li><a href="/v1/team/applications?uuid={{ .Team.Uuid }}">查看申请{{ if $.HasApplication }}<span class="badge">!</span>{{ end }}</a></li>
        <li><a href="/v1/team/invitations?uuid={{ .Team.Uuid }}">查看邀请</a></li>
        <li><a href="/v1/team/resignations?uuid={{ .Team.Uuid }}">查看退团{{ if $.HasResignation }}<span class="badge">!</span>{{ end }}</a></li>
        {{ end }}
        <li><a href="/v1/team_member/role_changed?uuid={{ .Team.Uuid }}">角色变动</a></li>
        <li><a href="/v1/team/members/left?uuid={{ .Team.Uuid }}">离开成员</a></li>
      </ul>
    </div>

    {{ end }}{{/* 检测Teambean非空 --结束  */}}

    {{/* 这是茶团核心成员展示页面  */}}
    {{ range .CoreMemberBeanSlice }}

    <div class="media">
      <div class="media-left">
        {{ template "component_avatar_name_gender" .Member }}
      </div>
      <div class="media-body">

        <span style="font-style: italic;">
          （<a href="/v1/family/detail?id={{ .MemberDefaultFamily.Uuid }}">{{ .MemberDefaultFamily.Name }}</a>，
          <a href="/v1/team/detail?uuid={{ .MemberDefaultTeam.Uuid }}">{{ .MemberDefaultTeam.Abbreviation }}</a>）
        </span>

        
        <p>团队角色： <span class="label label-primary">{{ .TeamMember.Role }}</span></p>
        
        <p>成员状态： 
          <span class="label {{ if eq .TeamMember.Status 0 }}label-danger{{ else if eq .TeamMember.Status 1 }}label-success{{ else if eq .TeamMember.Status 2 }}label-warning{{ else if eq .TeamMember.Status 3 }}label-default{{ else }}label-info{{ end }}">
            {{ .TeamMember.GetStatus }}
          </span>
        </p>
        
        <p>茶友号：{{ .Member.Id }}</p>
        <p style="font-style: italic;">{{ .Member.Email }}</p>
        
        <p>加盟时间：{{ .CreatedAtDate }}</p>

      </div>
    </div>

    <hr />
    {{ end }}

    {{ range .NormalMemberBeanSlice }}

    <div class="media">
      <div class="media-left">
        {{ template "component_avatar_name_gender" .Member }}
      </div>
      <div class="media-body">

        <span style="font-style: italic;">
          （<a href="/v1/family/detail?id={{ .MemberDefaultFamily.Uuid }}">{{ .MemberDefaultFamily.Name }}</a>，
          <a href="/v1/team/detail?uuid={{ .MemberDefaultTeam.Uuid }}">{{ .MemberDefaultTeam.Abbreviation }}</a>）
        </span>

        
        <p>团队角色： <span class="label label-primary">{{ .TeamMember.Role }}</span></p>
        
        <p>成员状态： 
          <span class="label {{ if eq .TeamMember.Status 0 }}label-danger{{ else if eq .TeamMember.Status 1 }}label-success{{ else if eq .TeamMember.Status 2 }}label-warning{{ else if eq .TeamMember.Status 3 }}label-default{{ else }}label-info{{ end }}">
            {{ .TeamMember.GetStatus }}
          </span>
        </p>
        
        <p>茶友号：{{ .Member.Id }}</p>
        <p style="font-style: italic;">{{ .Member.Email }}</p>
        
        <p>加盟时间：{{ .CreatedAtDate }}</p>

      </div>
    </div>

    <hr />
    {{ end }}

  </div>
</div>

{{ end }}