{{ define "content" }}

{{/* 这是某个茶议（提议/主张）的详情 */}}

<ol class="breadcrumb">
  <li><a href="/v1/">大堂</a></li>
  <li><a href="/v1/objective/detail?uuid={{ .QuoteObjective.Uuid }}">{{ .QuoteObjective.Title }} </a>@茶话会
  </li>
  <li><a href="/v1/project/detail?id={{ .QuoteProject.Uuid }}">{{ .QuoteProject.Title }} </a>@茶台
  </li>
  <li>#{{ .ThreadBean.Thread.Id }}</li> @茶议

</ol>

{{/* 这是关注这个茶议的总人数 显示 */}}
<div style="border:0.1rem outset burlywood; border-radius: 4px;padding-inline-start: 1rem;margin-bottom: 2rem;">

  {{/* 这是茶议的关注人数 数量显示 */}}
  <i class="bi-person-heart" style="font-size: 2rem; color: black;" title="关注人数"></i> 1011

  <span style="margin-inline-start: 2rem;">
    {{/* 这是茶议的总品味数量 显示 */}}
    <a href="#">
      <i class="bi-cup-hot" style="font-size: 1.5rem; color: black;margin-inline-end: 2rem;" title="茶议总数">
        {{ .ThreadBean.Count }}</i>
    </a>
  </span>
  {{ if .ThreadBean.Thread.IsEdited }}
  {{/* 这是有编辑过 */}}
  <span style="margin-inline-start: 2rem;">
    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    {{ .ThreadBean.Thread.EditAtDate }}
  </span>
  {{ else }}
  {{/* 没有“追加”编辑过，留空白 */}}
  {{ end }}
</div>

{{/* 左右侧立场的人数比较 */}}
<div style="text-align: center;">
  <span>
    {{ .NumSupport }}
  </span>
  <span class="glyphicon glyphicon-hand-right" aria-hidden="true" style="margin-inline-end: 64px;"></span>

  <span class="glyphicon glyphicon-hand-left" aria-hidden="true"></span>
  {{ .NumOppose }}
</div>

{{/* 左danger（红）右primary（蓝）品味进度条 */}}
<div class="progress">
  <div class="progress-bar progress-bar-danger progress-bar-striped active" aria-valuenow="{{.ProgressSupport}}"
    aria-valuemin="0" aria-valuemax="100" style="width: {{.ProgressSupport}}%;">
    <span class="sr-only">{{.ProgressSupport}}% 完成 (颔首)</span>
  </div>

  <div class="progress-bar progress-bar-primary progress-bar-striped active" aria-valuenow="{{.ProgressOppose}}"
    aria-valuemin="0" aria-valuemax="100" style="width: {{.ProgressOppose}}%;">
    <span class="sr-only">{{.ProgressOppose}}% 完成 (摇头)</span>
  </div>
</div>
{{/* 左红右蓝进度条到此为止  */}}

{{/* 茶议头像位置显示在左侧布局 */}}
<div class="media">

  <div class="media-left">
    <a href="/v1/user/biography?id={{ .ThreadBean.Author.Uuid }}">
      <img class="img-circle" src="/v1/static/image/{{ .ThreadBean.Author.Avatar }}.jpeg" alt="个人头像">
    </a>
  </div>

  <div class="media-body">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            {{ .ThreadBean.Author.Name }}
            {{if .ThreadBean.Author.Gender }}
            <i class="bi-gender-male" style="font-size: 1.2rem; color: cornflowerblue;"></i>
            {{ else }}
            <i class="bi-gender-female" style="font-size: 1.2rem; color:hotpink;"></i>
            {{ end }}
            <span style="font-size: smaller;">
              （<a
                href="/v1/family/detail?id={{ .ThreadBean.AuthorFamily.Uuid }}">{{ .ThreadBean.AuthorFamily.Name }}</a>，
              <a
                href="/v1/team/detail?id={{ .ThreadBean.AuthorTeam.Uuid }}">{{ .ThreadBean.AuthorTeam.Abbreviation }}</a>）
            </span>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <span style="display: block; text-align: center;">
              <i class="bi bi-paint-bucket" style="font-size: large; color: red;"></i>
            </span>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <span style="display: block; text-align: right;">{{ .ThreadBean.CreatedAtDate }}</span>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <h4><mark>{{ .ThreadBean.Thread.TypeStatus }}</mark>
          {{if .ThreadBean.IsApproved }}{{/* 检查是否被采纳1-1 */}}
          {{/* 这个主意已被茶围管理员采纳 */}}
          <i class="bi-bookmark-check" style="font-size: 2rem; color: red;" title="已采纳"></i>
          {{ end }}{{/* 检查是否被采纳1-2 */}}
          {{ .ThreadBean.Thread.Title }}
        </h4>
        <span style="white-space: pre-wrap;">{{ .ThreadBean.Thread.Body }}</span>

        {{ if .ThreadBean.Thread.TypeStatus }}{{/* 检查是出主意1-1 */}}

        {{if .ThreadBean.IsApproved }}{{/* 检查是否被采纳2-1 */}}

        {{ else }}{{/* 检查是否被采纳2-2，未采纳！   */}}

        {{ if .IsAdmin }}{{/* 检查是否茶围管理员1-1，如果是，显示采纳图标按钮 */}}
        <form class="form" role="form" action="/v1/thread/approve" method="post">
          <input type="hidden" name="id" value="{{ .ThreadBean.Thread.Uuid }}" />
          <button type="submit" class="btn btn-default btn-sm">采纳</button>
        </form>
        {{ end }}{{/* 检查是否茶围管理员1-2 */}}

        {{ end }}{{/* 检查是否被采纳2-3 */}}

        {{ end }}{{/* 检查是出主意1-2 */}}

        <hr />

        {{ if .ThreadBean.Thread.PostId }}
        <blockquote>
          <p style="font-size: small;"><a href="/v1/post/detail?id={{ .QuotePost.Uuid }}"
              style="margin-inline-end: 1rem;"><span class="label label-default">品味</span></a>{{ .QuotePost.Body }} ...
          </p>
          <footer style="font-size: small;">
            <a href="/v1/user/biography?id={{ .QuotePostAuthor.Uuid }}"
              style="color: black;">{{ .QuotePostAuthor.Name }}</a>
            {{if .QuotePostAuthor.Gender }}
            <i class="bi-gender-male" style="font-size: 1.2rem; color: cornflowerblue;"></i>
            {{ else }}
            <i class="bi-gender-female" style="font-size: 1.2rem; color:hotpink;"></i>
            {{ end }}
            <span style="margin-inline-end: 20px;">
              （<a href="/v1/family/detail?id={{ .QuotePostAuthorFamily.Uuid }}"
                style="color: black;">{{ .QuotePostAuthorFamily.Name }}</a>，
              <a href="/v1/team/detail?id={{ .QuotePostAuthorTeam.Uuid }}"
                style="color: black;">{{ .QuotePostAuthorTeam.Abbreviation }}</a>）
            </span>
          </footer>
        </blockquote>

        {{ else }}
        <blockquote>
          <p style="font-size: small;"><a href="/v1/project/detail?id={{ .QuoteProject.Uuid }}"><span
                class="label label-default">茶台</span></a>{{ .QuoteProject.Body }} ...</p>
          <footer style="font-size: small;">

            <cite title="Source Title"> <a
                href="/v1/user/biography?id={{ .QuoteProjectAuthor.Uuid }}">{{ .QuoteProjectAuthor.Name }}</a>
              {{if .QuoteProjectAuthor.Gender }}
              <i class="bi-gender-male" style="font-size: 1.2rem; color: cornflowerblue;"></i>
              {{ else }}
              <i class="bi-gender-female" style="font-size: 1.2rem; color:hotpink;"></i>
              {{ end }}
              <span style="margin-inline-end: 20px;">
                （<a
                  href="/v1/family/detail?id={{ .QuoteProjectAuthorFamily.Uuid }}">{{ .QuoteProjectAuthorFamily.Name }}</a>，
                <a
                  href="/v1/team/detail?id={{ .QuoteProjectAuthorTeam.Uuid }}">{{ .QuoteProjectAuthorTeam.Abbreviation }}</a>）
              </span></cite>
          </footer>
        </blockquote>
        {{ end }}
      </div>

      <div class="panel-footer">
        <span style="margin-inline-end: 2rem;">个人 4</span>
        <span style="margin-inline-end: 2rem;">团队 1</span>
        <span style="margin-inline-end: 2rem;">家庭 3</span>
      </div>
    </div>
  </div>

</div>

{{/* 决定是否显示品味编辑区 */}}
{{ if .IsInput }}

{{/* 这是品味编辑区-撰写模版 开始 */}}
<div class="panel panel-default">

  <div class="panel-body">
    <form class="form-horizontal" role="form" action="/v1/post/draft" method="post">

      <div class="form-group">
        <fieldset>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <i class="bi bi-cup-hot"></i>
          </div>

          <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <input type="radio" name="attitude" id="support" style="width: fit-content;" value="true" required />
            <label for="support">颔首</label>
          </div>

          <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <input type="radio" name="attitude" id="oppose" value="false" style="width: fit-content;" required />
            <label for="oppose">摇头</label>
          </div>
        </fieldset>
      </div>

      <div class="form-group">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <textarea class="form-control" name="body" id="body" rows="3" minlength="17" maxlength="567"
            placeholder="请您品味（17~456字）" required></textarea>
        </div>
      </div>

      <input type="hidden" name="uuid" value="{{ .ThreadBean.Thread.Uuid }}" />

      <div class="form-group">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <label for="team_id">选择团队</label>
          <select name="team_id" class="form-control" id="select" required>
            <option value="{{ .SessUserDefaultTeam.Id }}">{{ .SessUserDefaultTeam.Name }}
            </option>
            {{ range .SessUserSurvivalTeams }}
            <option value="{{ .Id }}">{{ .Name }}</option>
            {{ end }}
          </select>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <label for="family_id">选择家庭</label>
          <select name="family_id" class="form-control" id="family_id" required>
            <option value="{{ .SessUserDefaultFamily.Id }}">{{ .SessUserDefaultFamily.Name }}
            </option>
            {{ range .SessUserSurvivalFamilies }}
            <option value="{{ .Id }}">{{ .Name }}</option>
            {{ end }}
          </select>
        </div>
      </div>

      <div class="col-xs-offset-5 col-sm-offset-5 col-md-offset-5 col-lg-offset-5">
        <button type="submit" class="btn btn-default">提交</button>
      </div>

    </form>

  </div>

</div>
{{ else }}
{{ if .IsGuest }}
<hr />
{{/* 不是游客 */}}
<p class="text text-center">
  <a href="/v1/login?footprint={{ .SessUser.Footprint }}&query={{ .SessUser.Query }}">
    <i class="bi-airplane" style="font-size: 2rem; color: black;"></i>
    登机</a> 以开始聊天品茶 </p>
{{ else }}
<hr />
{{ if .IsPostExist }}{{/* 是否已经表态过了 */}}
<p class=" text-center"> <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
  茶博士：你的品味已经发布。</p>
{{ else }}
<p class=" text-center"> <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
  茶博士：这是封闭式茶议,只有台主邀请的茶团成员，才能入座品茶呢。</p>
{{ end }}
{{ end }}
<hr />
{{ end }}
{{/* 品味编辑区结束 */}}

{{/* 展示其他用户的品味 */}}

{{ range .PostBeanAdminSlice }}
{{/* 检查茶围管理员品味的立场以决定左右侧布局 */}}

{{ if .Post.Attitude }}
{{/* 品味是“颔首”表态，左侧头像布局 */}}
<div class="media">

  <div class="media-left">
    <a href="/v1/user/biography?id={{ .Author.Uuid }}">
      <img class="img-circle" src="/v1/static/image/{{ .Author.Avatar }}.jpeg" alt="个人头像">
    </a>
  </div>

  <div class="media-body">

    <div class="panel panel-default">

      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <span style="font-size: small;">
              {{ .Author.Name }}
              {{if .Author.Gender }}
              <i class="bi-gender-male" style="font-size: 1.2rem; color: cornflowerblue;"></i>
              {{ else }}
              <i class="bi-gender-female" style="font-size: 1.2rem; color:hotpink;"></i>
              {{ end }}
              （<a href="/v1/family/detail?id={{ .AuthorFamily.Uuid }}">{{ .AuthorFamily.Name }}</a>,
              <a href="/v1/team/detail?id={{ .AuthorTeam.Uuid }}">{{ .AuthorTeam.Abbreviation }}</a>）</span>
            </span>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <span style="display: block; text-align: center;">
              <i class="bi-cup-hot" style="font-size: 2rem; color: red;"></i>
              <span class="label label-danger">{{ .Attitude }}</span>
            </span>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <span style="display:block;text-align: right;">
              {{ .CreatedAtDate }}
            </span>
          </div>
        </div>
      </div>

      <div class="panel-body">
        <p>{{ .Post.Body }}</p>
        <p>
          <a class="btn btn-default" href="/v1/see-seek/new?id={{ .Post.Uuid }}" role="button">启动-茶看</a>
        </p>

      </div>

      <div class="panel-footer">
        <span style="margin-inline-end: 30px;">
          <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>
          60
        </span>
        {{ if .Post.PageData.IsAuthor }}

        {{/* 这是品味作者 */}}
        {{ if .Post.IsEdited }}
        {{/* 这是有加水（编辑）过（即补充内容） */}}
        <span style="font-size: smaller; margin-inline-end: 30px;">
          <a href="/v1/post/edit?id={{ .Post.Uuid }}">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          </a> {{ .Post.EditAtDate }}
        </span>
        {{ else }}
        {{/* 没有“加水”编辑过 */}}
        <span style="font-size: smaller; margin-inline-end: 30px;">
          <a href="/v1/post/edit?id={{ .Post.Uuid }}">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          </a>
        </span>
        {{ end }}
        {{ else }}
        {{/* 不是品味作者 */}}
        {{ if .Post.IsEdited }}
        {{/* 这是有编辑过 */}}

        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        <span style="font-size: smaller; margin-inline-end: 30px;">
          {{ .EditAtDate }}</span>
        {{ else }}
        {{/* 没有“追加”编辑过，留空白 */}}
        {{ end }}
        {{ end }}
        <span style="margin-inline-end: 30px;">
          <a href="/v1/see-seek/new?id={{ .Post.Uuid }}">
            <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
          </a>
          {{ .Count }}
        </span>
      </div>

    </div>
  </div>

</div>

{{ else }}
{{/* 品味是“摇头”表态，右侧头像布局 */}}
<div class="media">
  <div class="media-body">

    {{ if .Post.PageData.IsAuthor }}
    {{/* 特别注意⚠️以下两行是或者关系，共用一个</div>!!  */}}
    <div class="panel panel-success">
      {{ else }}
      <div class="panel panel-default">
        {{ end }}
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              {{ .CreatedAtDate }}
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <span style="display: block; text-align: center;">
                <i class="bi-cup-hot-fill" style="font-size: 2rem; color: cornflowerblue;"></i>
                <span class="label label-primary">{{ .Attitude }}</span>
              </span>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <span style="display:block;text-align: right;">
                <span style="font-size: small;">
                  {{ .Author.Name }}
                  {{if .Author.Gender }}
                  <i class="bi-gender-male" style="font-size: 1.2rem; color: cornflowerblue;"></i>
                  {{ else }}
                  <i class="bi-gender-female" style="font-size: 1.2rem; color:hotpink;"></i>
                  {{ end }}
                  （<a href="/v1/family/detail?id={{ .AuthorFamily.Uuid }}">{{ .AuthorFamily.Name }}</a>,
                  <a href="/v1/team/detail?id={{ .AuthorTeam.Uuid }}">{{ .AuthorTeam.Abbreviation }}</a>）</span>
              </span></span>
            </div>
          </div>
        </div>

        <div class="panel-body">
          {{ .Post.Body }}
        </div>

        <div class="panel-footer">
          <span style="margin-inline-end: 30px;">
            <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>
            60
          </span>

          {{ if .Post.PageData.IsAuthor }}
          {{/* 这是品味作者 */}}
          {{ if .Post.IsEdited }}
          {{/* 这是有加水（编辑）过（即补充内容） */}}
          <span style="font-size: smaller; margin-inline-end: 30px;">
            <a href="/v1/post/edit?id={{ .Post.Uuid }}">
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </a> {{ .Post.EditAtDate }}
          </span>
          {{ else }}
          {{/* 没有“加水”编辑过 */}}
          <span style="margin-inline-end: 30px;">
            <a href="/v1/post/edit?id={{ .Post.Uuid }}">
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </a>
          </span>
          {{ end }}
          {{ else }}
          {{/* 不是品味作者 */}}
          {{ if .Post.IsEdited }}
          {{/* 这是有编辑过 */}}

          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          <span style="font-size: smaller; margin-inline-end: 30px;">
            {{ .Post.EditAtDate }}</span>
          {{ else }}
          {{/* 没有“追加”编辑过，留空白 */}}
          {{ end }}
          {{ end }}
          <span style="margin-inline-end: 30px;">
            <a href="/v1/post/detail?id={{ .Post.Uuid }}">
              <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
            </a>
            {{ .Count }}
          </span>
        </div>

      </div>
    </div>
    <div class="media-right">
      <a href="/v1/user/biography?id={{ .Author.Uuid }}">
        <img class="img-circle" src="/v1/static/image/{{ .Author.Avatar }}.jpeg" alt="个人头像">
      </a>
    </div>

  </div>
  {{ end }}
  {{/* 检测是否品味作者完成 */}}

  {{ end }}{{/* 展示全部管理员品味完成 */}}
  <hr />

  {{ range .PostBeanSlice }}
  {{/* 检查品味的立场以决定左右侧布局 */}}

  {{ if .Post.Attitude }}
  {{/* 品味是“颔首”表态，左侧头像布局 */}}
  <div class="media">

    <div class="media-left">
      <a href="/v1/user/biography?id={{ .Author.Uuid }}">
        <img class="img-circle" src="/v1/static/image/{{ .Author.Avatar }}.jpeg" alt="个人头像">
      </a>
    </div>

    <div class="media-body">

      <div class="panel panel-default">

        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <span style="font-size: small;">
                {{ .Author.Name }}
                {{if .Author.Gender }}
                <i class="bi-gender-male" style="font-size: 1.2rem; color: cornflowerblue;"></i>
                {{ else }}
                <i class="bi-gender-female" style="font-size: 1.2rem; color:hotpink;"></i>
                {{ end }}
                （<a href="/v1/family/detail?id={{ .AuthorFamily.Uuid }}">{{ .AuthorFamily.Name }}</a>,
                <a href="/v1/team/detail?id={{ .AuthorTeam.Uuid }}">{{ .AuthorTeam.Abbreviation }}</a>）</span>
              </span>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <span style="display: block; text-align: center;">
                <i class="bi-cup-hot" style="font-size: 2rem; color: red;"></i>
                <span class="label label-danger">{{ .Attitude }}</span>
              </span>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <span style="display:block;text-align: right;">
                {{ .CreatedAtDate }}
              </span>
            </div>
          </div>
        </div>

        <div class="panel-body">
          {{ .Post.Body }}
        </div>

        <div class="panel-footer">
          <span style="margin-inline-end: 30px;">
            <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>
            60
          </span>
          {{ if .Post.PageData.IsAuthor }}

          {{/* 这是品味作者 */}}
          {{ if .Post.IsEdited }}
          {{/* 这是有加水（编辑）过（即补充内容） */}}
          <span style="font-size: smaller; margin-inline-end: 30px;">
            <a href="/v1/post/edit?id={{ .Post.Uuid }}">
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </a> {{ .Post.EditAtDate }}
          </span>
          {{ else }}
          {{/* 没有“加水”编辑过 */}}
          <span style="font-size: smaller; margin-inline-end: 30px;">
            <a href="/v1/post/edit?id={{ .Post.Uuid }}">
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </a>
          </span>
          {{ end }}
          {{ else }}
          {{/* 不是品味作者 */}}
          {{ if .Post.IsEdited }}
          {{/* 这是有编辑过 */}}

          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          <span style="font-size: smaller; margin-inline-end: 30px;">
            {{ .EditAtDate }}</span>
          {{ else }}
          {{/* 没有“追加”编辑过，留空白 */}}
          {{ end }}
          {{ end }}
          <span style="margin-inline-end: 30px;">
            <a href="/v1/post/detail?id={{ .Post.Uuid }}">
              <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
            </a>
            {{ .Count }}
          </span>
        </div>

      </div>
    </div>

  </div>
  {{ else }}
  {{/* 品味是“摇头”表态，右侧头像布局 */}}
  <div class="media">
    <div class="media-body">

      {{ if .Post.PageData.IsAuthor }}
      {{/* 特别注意⚠️以下两行是或者关系，共用一个</div>!!  */}}
      <div class="panel panel-success">
        {{ else }}
        <div class="panel panel-default">
          {{ end }}
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                {{ .CreatedAtDate }}
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <span style="display: block; text-align: center;">
                  <i class="bi-cup-hot-fill" style="font-size: 2rem; color: cornflowerblue;"></i>
                  <span class="label label-primary">{{ .Attitude }}</span>
                </span>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <span style="display:block;text-align: right;">
                  <span style="font-size: small;">
                    {{ .Author.Name }}
                    {{if .Author.Gender }}
                    <i class="bi-gender-male" style="font-size: 1.2rem; color: cornflowerblue;"></i>
                    {{ else }}
                    <i class="bi-gender-female" style="font-size: 1.2rem; color:hotpink;"></i>
                    {{ end }}
                    （<a href="/v1/family/detail?id={{ .AuthorFamily.Uuid }}">{{ .AuthorFamily.Name }}</a>,
                    <a href="/v1/team/detail?id={{ .AuthorTeam.Uuid }}">{{ .AuthorTeam.Abbreviation }}</a>）</span>
                </span></span>
              </div>
            </div>
          </div>

          <div class="panel-body">
            {{ .Post.Body }}
          </div>

          <div class="panel-footer">
            <span style="margin-inline-end: 30px;">
              <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>
              60
            </span>

            {{ if .Post.PageData.IsAuthor }}
            {{/* 这是品味作者 */}}
            {{ if .Post.IsEdited }}
            {{/* 这是有加水（编辑）过（即补充内容） */}}
            <span style="font-size: smaller; margin-inline-end: 30px;">
              <a href="/v1/post/edit?id={{ .Post.Uuid }}">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
              </a> {{ .Post.EditAtDate }}
            </span>
            {{ else }}
            {{/* 没有“加水”编辑过 */}}
            <span style="margin-inline-end: 30px;">
              <a href="/v1/post/edit?id={{ .Post.Uuid }}">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
              </a>
            </span>
            {{ end }}
            {{ else }}
            {{/* 不是品味作者 */}}
            {{ if .Post.IsEdited }}
            {{/* 这是有编辑过 */}}

            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            <span style="font-size: smaller; margin-inline-end: 30px;">
              {{ .Post.EditAtDate }}</span>
            {{ else }}
            {{/* 没有“追加”编辑过，留空白 */}}
            {{ end }}
            {{ end }}
            <span style="margin-inline-end: 30px;">
              <a href="/v1/post/detail?id={{ .Post.Uuid }}">
                <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
              </a>
              {{ .Count }}
            </span>
          </div>

        </div>
      </div>
      <div class="media-right">
        <a href="/v1/user/biography?id={{ .Author.Uuid }}">
          <img class="img-circle" src="/v1/static/image/{{ .Author.Avatar }}.jpeg" alt="个人头像">
        </a>
      </div>

    </div>
    {{ end }}
    {{/* 检测是否品味作者完成 */}}

    {{ end }}
    {{/* 展示全部普通品味完成 */}}

    <div class="well">
      <a href="#">更多相关茶议 >></a>
    </div>

    {{ end }}