{{ define "content" }}

{{/* 这是某个茶议（提议/主张）的详情 */}}

<ol class="breadcrumb">
  <li><a href="/v1/">大堂</a></li>
  <li><a
      href="/v1/objective/detail?uuid={{ .QuoteObjectiveBean.Objective.Uuid }}">{{ .QuoteObjectiveBean.Objective.Title }}
    </a>@茶围
  </li>
  <li><a href="/v1/project/detail?uuid={{ .QuoteProjectBean.Project.Uuid }}">{{ .QuoteProjectBean.Project.Title }}
    </a>@茶台
  </li>
  <li>#{{ .ThreadBean.Thread.Id }}</li> @茶议
  <li>
    {{ template "component_sess_capacity" . }}
  </li>
</ol>

{{/* 左右侧立场的人数比较 */}}
<div style="text-align: center;">
  <span>
    {{ .NumSupport }}
  </span>
  <span class="glyphicon glyphicon-hand-right" aria-hidden="true" style="margin-inline-end: 64px;"></span>

  <span class="glyphicon glyphicon-hand-left" aria-hidden="true"></span>
  {{ .NumOppose }}
</div>

{{/* 左红色（肯定）右蓝色（否定），品味立场对比条状图 */}}
<div class="progress">
  <div class="progress-bar progress-bar-danger progress-bar-striped active" aria-valuenow="{{.ProgressSupport}}"
    aria-valuemin="0" aria-valuemax="100" style="width: {{.ProgressSupport}}%;">
    <span class="sr-only">{{.ProgressSupport}}% 完成 (颔首)</span>
  </div>

  <div class="progress-bar progress-bar-primary progress-bar-striped active" aria-valuenow="{{.ProgressOppose}}"
    aria-valuemin="0" aria-valuemax="100" style="width: {{.ProgressOppose}}%;">
    <span class="sr-only">{{.ProgressOppose}}% 完成 (摇头)</span>
  </div>
</div>
{{/* 左红右蓝对比条状图到此为止  */}}

{{/* 茶议头像位置显示在左侧布局 */}}
<div class="media" style="margin-top: 20px;">

  <div class="media-left">
    {{ template "component_avatar_name_gender" .ThreadBean.Author }}
  </div>

  <div class="media-body">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <span>
              （<a
                href="/v1/family/detail?id={{ .ThreadBean.AuthorFamily.Uuid }}">{{ .ThreadBean.AuthorFamily.Name }}</a>，
              <a
                href="/v1/team/detail?uuid={{ .ThreadBean.AuthorTeam.Uuid }}">{{ .ThreadBean.AuthorTeam.Abbreviation }}</a>）
            </span>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <span style="display: block; text-align: center;">
              <i class="bi bi-cup" style="font-size: large; color: red;"></i>
            </span>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <span style="display: block; text-align: right;">{{ .ThreadBean.Thread.CreatedAtDate }}</span>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <h4><mark>{{ .ThreadBean.Thread.TypeString }}</mark>

          {{if .ThreadBean.IsApproved }}{{/* 检查是否被采纳 */}}
          {{/* 这个主意已被茶围管理员采纳 */}}
          <i class="bi-bookmark-check" style="font-size: 2rem; color: red;" title="已采纳"></i>
          {{ end }}{{/* 检查是否被采纳完成 */}}
          {{ .ThreadBean.Thread.Title }}
        </h4>

        {{ if eq .ThreadBean.Thread.Category 2 }}{{/* 茶议是否"约茶"类型检查-开始 */}}
        {{ with .Appointment }}{{/* "约茶"非空检查-开始 */}}
        <div class="text-center" style="margin: 10px 0;">
          <i class="bi-calendar-check" style="font-size: 1.5rem; color: green;" title="约茶"></i>
          <!-- 约茶状态展示 -->
           <span class="label label-info">{{ .StatusString }}</span>
          <!-- 约茶时间展示 -->
          <div style="margin: 10px 0;">
            <i class="bi-clock" style="font-size: 1.2rem;color: black;" title="约茶时间"></i>
            {{ .StartTimeString }}
            至
            {{ .EndTimeString }}
          </div>
          
          <!-- 约茶详情按钮 -->
          <a class="btn btn-sm btn-default" href="/v1/appointment/detail?uuid={{ .Uuid }}" role="button">详情</a>
         
          {{ end }}{{/* "约茶"非空检查-结束 */}}
        </div>

        

        {{ else if eq .ThreadBean.Thread.Category 3 }}{{/* 茶议是否"看看"类型检查-开始 */}}
        {{ with .SeeSeek }}{{/* "看看"（see-seek）非空检查-开始 */}}
        <div class="text-center" style="margin: 10px 0;">
          <i class="bi-binoculars" style="font-size: 1.5rem; color: green;" title="看看"></i>
          <!-- 看看进度条 -->
          <div class="progress" style="margin: 10px 0;">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{ mul .Step 20 }}%">
              已完成 {{ .Step }}/5 步骤
            </div>
          </div>
          <!-- 看看步骤导航 -->
          <ol class="breadcrumb" style="margin: 10px 0;">
            <li class="{{ if eq .Step 1 }}active{{ else if gt .Step 1 }}text-success{{ end }}">环境条件</li>
            <li class="{{ if eq .Step 2 }}active{{ else if gt .Step 2 }}text-success{{ end }}">场所隐患</li>
            <li class="{{ if eq .Step 3 }}active{{ else if gt .Step 3 }}text-success{{ end }}">风险评估</li>
            <li class="{{ if eq .Step 4 }}active{{ else if gt .Step 4 }}text-success{{ end }}">感官观察</li>
            <li class="{{ if eq .Step 5 }}text-success{{ end }}">检测报告</li>
          </ol>

          {{/* 展示"看看"（see-seek）的状态文字 */}}
          <span class="label label-info">{{ .StatusString }}</span>

          {{ if eq .Status 4 }}{{/* 已完成（顺利结束） */}}
          <a class="btn btn-sm btn-default" href="/v1/see-seek/detail?uuid={{ .Uuid }}" role="button">详情</a>
          {{ end }}{{/* 检查"看看"（see-seek）的状态完成 */}}
        </div>
        {{ end }}{{/* "看看"（see-seek）非空检查完成 */}}
        

      {{ else if eq .ThreadBean.Thread.Category 4 }}{{/* 茶议是否"脑火"类型检查-开始 */}}
        {{ with .BrainFire }}.{{/* "脑火"非空检查-开始 */}}
        <div class="text-center" style="margin: 10px 0;">
          <i class="bi-lightning-charge" style="font-size: 1.5rem; color: green;" title="脑火"></i>
          <!-- 脑火状态展示 -->
          <span class="label label-info">{{ .StatusString }}</span>
          {{ if ge .Status 1 }}
          <!-- 脑火详情按钮 -->
          <a class="btn btn-sm btn-default" href="/v1/brain-fire/detail?uuid={{ .Uuid }}" role="button">详情</a>
          {{ else }}
          <a class="btn btn-sm btn-default" href="/v1/brain-fire/new?uuid={{ $.QuoteProjectBean.Project.Uuid }}" role="button">+ 脑火</a>
          {{ end }}
        </div>
        {{ end }} {{/* "脑火"非空检查-结束 */}}

        {{ else if eq .ThreadBean.Thread.Category 5 }}{{/* 茶议是否"建议"类型检查-开始 */}}
        {{ with .Suggestion }}{{/* "建议"非空检查-开始 */}}
        <div class="text-center" style="margin: 10px 0;">
          <i class="bi-journal-text" style="font-size: 1.5rem; color: green;" title="建议"></i>
          <!-- 建议状态展示 -->
          <span class="label label-info">{{ .StatusString }}</span>
          {{ if gt .Status 0 }}
          <!-- 建议详情按钮 -->
          <a class="btn btn-sm btn-default" href="/v1/suggestion/detail?uuid={{ .Uuid }}" role="button">详情</a>
          {{ else }}
          <a class="btn btn-sm btn-default" href="/v1/suggestion/new?uuid={{ $.QuoteProjectBean.Project.Uuid }}" role="button">+ 建议</a>
          {{ end }}
          {{ end }}{{/*  "建议"非空检查-完成 */}}
          
        {{ end }}{{/* 茶议是否"建议"类型检查完成 */}}
        

        <span style="white-space: pre-wrap;">
          {{ .ThreadBean.Thread.Body }}
        </span>

        {{ if and .IsVerifier (ge .ThreadBean.Thread.Category 2) }}
        {{/* 见证者 且分类≥2时 显示完善按钮 */}}
        <div class="text-center">
          <a class="btn btn-warning" href="/v1/thread/supplement?uuid={{ .ThreadBean.Thread.Uuid }}"
            role="button">完善</a>
        </div>
        {{ else if and (lt .ThreadBean.Thread.Category 2) .ThreadBean.Thread.Type (not .ThreadBean.IsApproved) .IsAdmin }}
        {{/* 分类小于2 + 出主意类型 + 未被采纳 + 管理员时显示采纳按钮 */}}
        <div class="action-right">
          <form class="approve-form" action="/v1/thread/approve" method="post">
            <input type="hidden" name="id" value="{{ .ThreadBean.Thread.Uuid }}" />
            <button type="submit" class="btn btn-default">采纳</button>
          </form>
        </div>

        {{ end }}

        <hr />

        {{ if .ThreadBean.Thread.PostId }}
        <blockquote>
          <p style="font-size: small;"><a href="/v1/post/detail?uuid={{ .QuotePostBean.Post.Uuid }}"
              style="margin-inline-end: 1rem;"><span
                class="label label-default">品味</span></a>{{ .QuotePostBean.Post.Body }} ...
          </p>
          <footer style="font-size: small;">
            <a href="/v1/user/biography?id={{ .QuotePostBean.Author.Uuid }}"
              style="color: black;">{{ .QuotePostBean.Author.Name }}</a>
            {{if .QuotePostBean.Author.Gender }}
            <i class="bi-gender-male" style="font-size: 1.2rem; color: cornflowerblue;"></i>
            {{ else }}
            <i class="bi-gender-female" style="font-size: 1.2rem; color:hotpink;"></i>
            {{ end }}
            <span style="margin-inline-end: 20px;">
              （<a href="/v1/family/detail?id={{ .QuotePostBean.AuthorFamily.Uuid }}"
                style="color: black;">{{ .QuotePostBean.AuthorFamily.Name }}</a>，
              <a href="/v1/team/detail?uuid={{ .QuotePostBean.AuthorTeam.Uuid }}"
                style="color: black;">{{ .QuotePostBean.AuthorTeam.Abbreviation }}</a>）
            </span>
          </footer>
        </blockquote>

        {{ else }}
        <blockquote>
          {{/* 这是引用的茶台信息 */}}
          <p style="font-size: small;">
            <a href="/v1/project/detail?uuid={{ .QuoteProjectBean.Project.Uuid }}">
              <span class="label label-default">茶台</span>
            </a>
            <span style="margin-inline-start: 1rem;">
              {{ .QuoteProjectBean.Project.Body }} ...
            </span>
          </p>
          <footer style="font-size: xx-small;">
            <cite title="Source Title"> <a
                href="/v1/user/biography?id={{ .QuoteProjectBean.Author.Uuid }}">{{ .QuoteProjectBean.Author.Name }}</a>
              {{if .QuoteProjectBean.Author.Gender }}
              <i class="bi-gender-male" style="font-size: 1.2rem; color: cornflowerblue;"></i>
              {{ else }}
              <i class="bi-gender-female" style="font-size: 1.2rem; color:hotpink;"></i>
              {{ end }}
              <span style="margin-inline-end: 20px;">
                （<a
                  href="/v1/family/detail?id={{ .QuoteProjectBean.AuthorFamily.Uuid }}">{{ .QuoteProjectBean.AuthorFamily.Name }}</a>，
                <a
                  href="/v1/team/detail?uuid={{ .QuoteProjectBean.AuthorTeam.Uuid }}">{{ .QuoteProjectBean.AuthorTeam.Abbreviation }}</a>）
              </span></cite>
          </footer>
        </blockquote>
        {{ end }}
      </div>

      <div class="panel-footer">

        <span style="margin-inline-end: 2rem;">
          <i class="bi bi-house-fill" style="font-size: 2rem; color: gray;" title="家庭数量"></i>
          {{ .ThreadBean.StatsSet.FamilyCount }}</span>
        <span style="margin-inline-end: 2rem;">
          <i class="bi bi-microsoft-teams" style="font-size: 2rem; color: gray;" title="团队数量"></i>
          {{ .ThreadBean.StatsSet.TeamCount }}</span>
        <span style="margin-inline-end: 2rem;">
          <i class="bi bi-person-fill" style="font-size: 2rem; color: gray;" title="出席人数"></i>
          {{ .ThreadBean.StatsSet.PersonCount }}</span>

      </div>
    </div>
  </div>

</div>

{{ if .IsInput }}{{/* 决定是否显示品味编辑区 开始 */}}

<div class="panel panel-default">

  <div class="panel-body">
    <form class="form-horizontal" role="form" action="/v1/post/draft" method="post" onsubmit="return validateForm()">

      <div class="form-group">

        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <i class="bi bi-cup-hot"></i>
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <input type="radio" name="attitude" id="support" style="width: fit-content;" value="true" required />
          <label for="support">颔首</label>
        </div>

        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
          <input type="radio" name="attitude" id="oppose" value="false" style="width: fit-content;" required />
          <label for="oppose">摇头</label>
        </div>

      </div>

      <div class="form-group">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <textarea class="form-control" name="body" id="body" rows="3" minlength="17" maxlength="567"
            placeholder="请您品味（17~456字）" required></textarea>
        </div>
      </div>

      <input type="hidden" name="uuid" value="{{ .ThreadBean.Thread.Uuid }}" />

      <div class="form-group">
        <label for="team" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">身份</label>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <input type="radio" name="is_private" value="false" id="team" checked required>
          <label for="team">团队成员</label>
        </div>
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
          <input type="radio" name="is_private" value="true" id="family" required>
          <label for="family">家庭成员</label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <label for="team_id">责任团队</label>
          <select name="team_id" class="form-control" id="select" required>
            <option value="{{ .SessUserDefaultTeam.Id }}">{{ .SessUserDefaultTeam.Name }}
            </option>
            {{ range .SessUserSurvivalTeams }}
            <option value="{{ .Id }}">{{ .Name }}</option>
            {{ end }}
          </select>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <label for="family_id">受益家庭</label>
          <select name="family_id" class="form-control" id="family_id" required>
            <option value="{{ .SessUserDefaultFamily.Id }}">{{ .SessUserDefaultFamily.Name }}
            </option>
            {{ range .SessUserSurvivalFamilies }}
            <option value="{{ .Id }}">{{ .Name }}</option>
            {{ end }}
          </select>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        </div>
      </div>

      <div class="col-xs-offset-5 col-xs-2 col-sm-2">
        <button type="submit" class="btn btn-default">提交</button>
      </div>

    </form>

  </div>

</div>

{{ else }} {{/* 12 不显示品味编辑区  开始 */}}

{{ if .IsGuest }}
{{/* 31 是游客 */}}
<hr />
<p class="text text-center">
  <a href="/v1/login?footprint={{ .SessUser.Footprint }}&query={{ .SessUser.Query }}">
    <i class="bi-airplane" style="font-size: 2rem; color: black;"></i>
    登船</a> 以开始聊天品茶 </p>

{{ else }}{{/* 32 不是游客 */}}
<hr />
{{ if .IsPostExist }}{{/* 41 是否已经表态过了 */}}
<p class=" text-center"> <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
  茶博士：你的品味已经发布。</p>
{{ else }} {{/* 42 没有表态过 */}}
<p class=" text-center"> <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
  茶博士：这是封闭式茶议,只有台主邀请的茶团成员，才能入座品茶呢。</p>
{{ end }} {{/* 42 检查是否表态过 结束 */}}

{{ end }} {{/* 32 检查是否游客 结束 */}}

<hr />

{{ end }}{{/* 13 决定是否显示品味编辑区 结束 */}}

<div style="border:0.1rem outset burlywood; border-radius: 4px;padding-inline-start: 1rem;margin-bottom: 2rem;">
  {{/* 这是参与的团队和家庭数量显示 */}}
  
  <span style="margin-inline-start: 2rem;">
    {{/* 这是茶议的总品味数量 显示 */}}
    <i class="bi bi-cup-hot-fill" style="font-size: 2rem; color: gray;" title="品味小计数量"></i>
    {{ .ThreadBean.PostCount }}
  </span>
  <span style="margin-inline-start: 2rem;">
    {{/* 这是品味涉及家庭数量 显示 */}}
    <i class="bi bi-house-fill" style="font-size: 2rem; color: gray;" title="品味家庭数量"></i> {{ $.StatsSet.FamilyCount }}
  </span>
  <span style="margin-inline-start: 2rem;">
    {{/* 这是品味涉及团队数量 显示 */}}
    <i class="bi bi-microsoft-teams" style="font-size: 2rem; color: gray;" title="品味团队数量"></i>
    {{ $.StatsSet.TeamCount }}
  </span>
  <span style="margin-inline-start: 2rem;">
    {{/* 这是品味涉及个人数量 显示 */}}
    <i class="bi bi-person-fill" style="font-size: 2rem; color: gray;" title="品味团队数量"></i> ？
  </span>
  <span style="margin-inline-start: 2rem;">
    {{/* 这是茶议的关注人数 数量显示 */}}
    <i class="bi bi-eye-fill" style="font-size: 2rem; color: gray;" title="关注人数"></i> ？
  </span>
</div>

{{/* 展示全部管理员品味 */}}
{{ range .PostBeanAdminSlice }}

{{/* 检查茶围管理员品味的立场以决定左右侧布局 */}}
{{ if .Post.Attitude }}
{{/* 品味是“颔首”表态，左侧头像布局 */}}

{{ template "component_post_left" . }}

{{ else }}

{{/* 品味是“摇头”表态，右侧头像布局 */}}
{{template "component_post_right" . }}

{{ end }}{{/* 检查品味的立场以决定左右侧布局完成 */}}

{{ end }}{{/* 展示全部管理员品味完成 */}}

<hr />

{{/* 展示其他用户的品味 */}}
{{ range .PostBeanSlice }}

{{/* 检查品味的立场以决定左右侧布局 */}}
{{ if .Post.Attitude }}

{{/* 品味是“颔首”表态，左侧头像布局 */}}
{{ template "component_post_left" . }}

{{ else }}

{{/* 品味是“摇头”表态，右侧头像布局 */}}
{{template "component_post_right" . }}

{{ end }}{{/* 检查品味的立场以决定左右侧布局完成 */}}

{{ end }}{{/* 展示全部其他用户品味完成 */}}

{{ end }}