{{ define "content" }}
{{/* 这是创建新茶议的页面 */}}

{{/* 这是页面内导航条，包含当前用户名字和新消息提示 */}}
<ol class="breadcrumb">

  <li><a href="/v1/">大堂</a></li>
  <li><a href="/v1/objective/detail?id={{ .Project.Objective.Uuid }}">{{ .Project.Objective.Title }}@茶话会</a></li>
  <li><a href="/v1/project/detail?id={{ .Project.Uuid }}">{{ .Project.Title }}@茶台</a></li>
  <li class="active">新茶议</li>

</ol>

{{/* 这是茶台资料显示，让用户知情 */}}

{{/* 这是某个茶台的详情页 */}}
<div class="media">

  <div class="media-left">
    <img class="media-object" src="/v1/static/image/{{ .Project.Cover }}.jpeg" alt="茶台封面">
    </a>
  </div>

  <div class="media-body">

    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            {{ .Project.Title }}

          </div>

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <span style="display: block;text-align: center;">
              {{ if .Open }}
              <span class="label label-info">{{ .Project.GetStatus }}
                {{ else }}
                <span class="label label-default">{{ .Project.GetStatus }}
                  {{ end }}
                </span>
              </span>
          </div>

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <span style="display: block; text-align: right; font-size: smaller;">
              <span class="label label-info">{{ .Master.GetGender }}</span>
              <a href="/v1/user/biography?id={{ .Master.Uuid }}">{{ .Master.Name }}</a>
              @<a href="/v1/team/detail?id={{ .MasterTeam.Uuid }}"><span style="font-weight: lighter;">{{ .MasterTeam.Abbreviation }}</span></a>

              {{ .Project.CreatedAtDate }}
            </span>
            </span>

          </div>
        </div>
      </div>

      <div class="panel-body">

        {{ .Project.Body }}

      </div>
      <div class="panel-footer">
        <a href="/v1/thread/new?id={{ .Project.Uuid }}">
          <span class="glyphicon glyphicon-glass" aria-hidden="true" title="品味"></span>
        </a>
        <span style="font-size: smaller; margin-inline-end: 30px;"> {{ .ThreadCount }}</span>

        <a href="#">
          <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
        </a>
        <span style="margin-inline-end: 30px;"> 1516 </span>

        {{ if .IsEdited }}

        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        <span style="font-size: smaller; margin-inline-end: 30px;"> {{ .Project.EditAtDate }} </span>
        {{ else }}
        {{/* 没有编辑过（补充内容）则留空白 */}}
        {{ end }}
        <div class="pull-right">
          <a href="#"></a>
        </div>
      </div>
    </div>

  </div>

</div>

{{/* 这是新茶议撰写模版 */}}
<div class="panel panel-default">

  <div class="panel-heading">
    新茶议
  </div>

  <form role="form" action="/v1/thread/draft" method="post">

    <div class="panel-body form-group">

      <div class="form-group">
        <fieldset>
          <legend>选择标题前缀：
            <input type="radio" name="type" id="ifeel" style="width: fit-content;" value=0 required />
            <label for="ifeel" style="margin-inline-end: 30px;">我觉得</label>

            <input type="radio" name="type" id="ithink" style="width: fit-content;" value=1 required />
            <label for="ithink" style="margin-inline-end: 30px;">出个主意</label>

            <input type="radio" name="type" id="ipropose" style="width: fit-content;" value=2 required />
            <label for="ipropose" style="margin-inline-end: 30px;">推荐解决方案</label>
          </legend>
        </fieldset>
      </div>

      <div class="form-group">
        <label for="title">标题（2～24字）</label>
        <input type="text" class="form-control" name="title" id="title" minlength="3" maxlength="42" required autofocus>
      </div>

      <div class="form-group">
        <label for="topic">内容（17～456字，需要友邻盲评通过）</label>
        <textarea class="form-control" name="topic" id="topic" rows="3" minlength="17" maxlength="567"
          required></textarea>
      </div>

      {{/* 这是project的id提交 */}}
      <input type="hidden" name="project_id" id="project_id" value="{{ .Id }}" />

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-2">
          <button type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> 开泡
          </button>
        </div>
      </div>

    </div>

  </form>

  <div class="panel-footer">
    自斟自饮的茶博士：您知道吗？船长非常迷信月光之神，说月圆月缺一轮回才能拓摆一围茶，月升月落一圈才能开新茶台。
  </div>

</div>

{{ end }}