
{{/* 这个模版专用于已入围的茶议5部曲展示 */}}

{{ define "thread_bean_approved" }}

  {{ with .ThreadBeanAppointment }}
    {{ template "thread_bean" . }}
  {{ end }}

  {{ range .ThreadBeanSeeSeekSlice }}
    {{ template "thread_bean" . }}
  {{ end }}

  {{ range .ThreadBeanSuggestionSlice }}
    {{ template "thread_bean" . }}
  {{ end }}

  {{ range .ThreadBeanGoodsSlice }}
    {{ template "thread_bean" . }}
  {{ end }}

  {{ range .ThreadBeanHandcraftSlice }}
    {{ template "thread_bean" . }}
  {{ end }}

{{ end }}