{{ define "content" }}

<ol class="breadcrumb">
  <li><a href="/v1/">大堂</a></li>
  <li><a
      href="/v1/objective/detail?uuid={{ .QuoteObjectiveBean.Objective.Uuid }}">{{ .QuoteObjectiveBean.Objective.Title }}
    </a>@茶围
  </li>
  <li><a href="/v1/project/detail?uuid={{ .QuoteProjectBean.Project.Uuid }}">{{ .QuoteProjectBean.Project.Title }}
    </a>@茶台
  </li>
  <li>#{{ .ThreadBean.Thread.Id }} @茶议</li>
  <li class="active">完善茶议</li>
  <li>
    {{ template "component_sess_capacity" . }}
  </li>

</ol>

<div class="media" style="margin-top: 20px;">
  <div class="media-left">
    {{ template "component_avatar_name_gender" .ThreadBean.Author }}
  </div>

  <div class="media-body">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <span>
              （<a
                href="/v1/family/detail?id={{ .ThreadBean.AuthorFamily.Uuid }}">{{ .ThreadBean.AuthorFamily.Name }}</a>，
              <a
                href="/v1/team/detail?id={{ .ThreadBean.AuthorTeam.Uuid }}">{{ .ThreadBean.AuthorTeam.Abbreviation }}</a>）
            </span>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <span style="display: block; text-align: center;">
              <i class="bi bi-paint-bucket" style="font-size: large; color: red;"></i>
            </span>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <span style="display: block; text-align: right;">{{ .ThreadBean.Thread.CreatedAtDate }}</span>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <h4><mark>{{ .ThreadBean.Thread.TypeString }}</mark>

          {{if .ThreadBean.IsApproved }}{{/* 检查是否被采纳1-1 */}}
          {{/* 这个主意已被茶围管理员采纳 */}}
          <i class="bi-bookmark-check" style="font-size: 2rem; color: red;" title="已采纳"></i>
          {{ end }}{{/* 检查是否被采纳1-2 */}}
          {{ .ThreadBean.Thread.Title }}
        </h4>

        <span style="white-space: pre-wrap;">
          {{ .ThreadBean.Thread.Body }}
        </span>

        {{ if .IsVerifier }}{{/* 检查是否见证者，如果是，再检查茶议类型以决定功能按钮  */}}
        {{ if (eq .ThreadBean.Thread.Category 2) }} {{/* 检查茶议类型--约茶 */}}
        <div style="display: flex; justify-content: space-between;">
          <a class="btn btn-default" href="/v1/project/place_update?uuid={{ .QuoteProjectBean.Project.Uuid }}"
            role="button">+ 更新茶话会地点</a>
          <a class="btn btn-default" href="/v1/appointment/new?uuid={{ .QuoteProjectBean.Project.Uuid }}"
            role="button">+ 约茶</a>
        </div>
        {{ else if (eq .ThreadBean.Thread.Category 3) }} {{/* 检查茶议类型--看看 */}}
        {{/* 检查“看看”（see-seek）的状态，如果没有记录，显示新建按钮，如果有记录，而且状态是进行中，显示“继续看看”按钮 */}}
        
        {{ with .SeeSeek }}{{/* 看看非空检查-开始 */}}
        {{ if (eq  .Status 0) }}{{/* 未开始 */}}
        <a class="btn btn-default" href="/v1/see-seek/new?uuid={{ $.QuoteProjectBean.Project.Uuid }}" role="button">+
          看看</a>

        {{ else if (eq  .Status 1) }}{{/* 进行中 */}}
        {{ if (eq .Step 1) }} {{/* 检查看看步骤-开始 */}}
        <a class="btn btn-default" href="/v1/see-seek/step2?uuid={{ .Uuid }}" role="button">继续-看看</a>
        {{ else if (eq .Step 2) }}  
        <a class="btn btn-default" href="/v1/see-seek/step3?uuid={{ .Uuid }}" role="button">继续-看看</a>
        {{ else if (eq .Step 3) }}
        <a class="btn btn-default" href="/v1/see-seek/step4?uuid={{ .Uuid }}" role="button">继续-看看</a>
        {{ else if (eq .Step 4) }}
        <a class="btn btn-default" href="/v1/see-seek/step5?uuid={{ .Uuid }}" role="button">继续-看看</a>
        {{ end }} {{/* 检查看看步骤-结束 */}}

        {{ else if (eq  .Status 2) }}{{/* 已暂停 */}}
        <a class="btn btn-warning" href="/v1/see-seek/step?uuid={{ .Uuid }}" role="button">恢复-看看</a>
        {{ else if (eq  .Status 3) }}{{/* 已半途终止（异常） */}}
        <a class="btn btn-danger" href="/v1/see-seek/new?uuid={{ $.QuoteProjectBean.Project.Uuid }}" role="button">重新-看看</a>
        {{ else if (eq  .Status 4) }}{{/* 已完成（顺利结束） */}}
        <a class="btn btn-success" href="/v1/see-seek/detail?uuid={{ .Uuid }}"
          role="button">查看-已完成</a>
        {{ end }}{{/* 检查“看看”（see-seek）的状态完成 */}}

        {{ end }}{{/* “看看”（see-seek）非空检查完成 */}}

        {{ else if (eq .ThreadBean.Thread.Category 4) }} {{/* 检查茶议类型--脑火 */}}
        {{ with .BrainFire }}{{/* 脑火非空检查-开始 */}}
        {{ if ge .Status 1 }}
        <a class="btn btn-default" href="/v1/brain-fire/detail?uuid={{ .Uuid }}" role="button">查看-脑火</a>
        {{ else }}
        <a class="btn btn-default" href="/v1/brain-fire/new?uuid={{ $.QuoteProjectBean.Project.Uuid }}" role="button">+ 脑火</a>
        {{ end }}
        {{ end }}{{/* 脑火非空检查-结束 */}}


        {{ else if (eq .ThreadBean.Thread.Category 5) }} {{/* 检查茶议类型--建议 */}}
         {{ with .Suggestion }}{{/* 建议非空检查-开始 */}}
         {{ if eq .Status 0 }}{{/* 未开始 */}}
        <a class="btn btn-default" href="/v1/suggestion/new?uuid={{ $.QuoteProjectBean.Project.Uuid }}" role="button">+
          建议</a>
          {{ else }}
          <a class="btn btn-default" href="/v1/suggestion/detail?uuid={{ .Uuid }}" role="button">查看-建议</a>
          {{ end }}
        {{ end }}{{/* 建议非空检查-结束 */}}


        {{ else if (eq .ThreadBean.Thread.Category 6) }} {{/* 检查茶议类型--宝贝 */}}
        <a class="btn btn-default" href="/v1/project_goods/new?uuid={{ .QuoteProjectBean.Project.Uuid }}"
          role="button">+ 宝贝</a>
        {{ else if (eq .ThreadBean.Thread.Category 7) }} {{/* 检查茶议类型--手艺 */}}
        <div style="display: flex; justify-content: space-between;">
          <a class="btn btn-default" href="/v1/handicraft/new?uuid={{ .QuoteProjectBean.Project.Uuid }}" role="button">+
            手艺</a>
          <a class="btn btn-danger" href="/v1/thread/completed?uuid={{ .QuoteProjectBean.Project.Uuid }}"
            role="button">茶议完成</a>
        </div>
        {{ end }} {{/* 检查茶议类型--完成 */}}
        {{ end }} {{/* 检查是否见证者--完成 */}}
        <hr />

        {{ if .ThreadBean.Thread.PostId }}
        <blockquote>
          <p style="font-size: small;"><a href="/v1/post/detail?uuid={{ .QuotePostBean.Post.Uuid }}"
              style="margin-inline-end: 1rem;"><span
                class="label label-default">品味</span></a>{{ .QuotePostBean.Post.Body }} ...
          </p>
          <footer style="font-size: small;">
            <a href="/v1/user/biography?id={{ .QuotePostBean.Author.Uuid }}"
              style="color: black;">{{ .QuotePostBean.Author.Name }}</a>
            {{if .QuotePostBean.Author.Gender }}
            <i class="bi-gender-male" style="font-size: 1.2rem; color: cornflowerblue;"></i>
            {{ else }}
            <i class="bi-gender-female" style="font-size: 1.2rem; color:hotpink;"></i>
            {{ end }}
            <span style="margin-inline-end: 20px;">
              （<a href="/v1/family/detail?id={{ .QuotePostBean.AuthorFamily.Uuid }}"
                style="color: black;">{{ .QuotePostBean.AuthorFamily.Name }}</a>，
              <a href="/v1/team/detail?id={{ .QuotePostBean.AuthorTeam.Uuid }}"
                style="color: black;">{{ .QuotePostBean.AuthorTeam.Abbreviation }}</a>）
            </span>
          </footer>
        </blockquote>

        {{ else }}
        <blockquote>
          <p style="font-size: small;">
            <a href="/v1/project/detail?uuid={{ .QuoteProjectBean.Project.Uuid }}">
              <span class="label label-default">茶台</span>
            </a>
            <span style="margin-inline-start: 2rem;">
              {{ .QuoteProjectBean.Project.Body }} ...
            </span>
          </p>
          <footer style="font-size: small;">

            <cite title="Source Title"> <a
                href="/v1/user/biography?id={{ .QuoteProjectBean.Author.Uuid }}">{{ .QuoteProjectBean.Author.Name }}</a>
              {{if .QuoteProjectBean.Author.Gender }}
              <i class="bi-gender-male" style="font-size: 1.2rem; color: cornflowerblue;"></i>
              {{ else }}
              <i class="bi-gender-female" style="font-size: 1.2rem; color:hotpink;"></i>
              {{ end }}
              <span style="margin-inline-end: 20px;">
                （<a
                  href="/v1/family/detail?id={{ .QuoteProjectBean.AuthorFamily.Uuid }}">{{ .QuoteProjectBean.AuthorFamily.Name }}</a>，
                <a
                  href="/v1/team/detail?id={{ .QuoteProjectBean.AuthorTeam.Uuid }}">{{ .QuoteProjectBean.AuthorTeam.Abbreviation }}</a>）
              </span></cite>
          </footer>
        </blockquote>
        {{ end }}
      </div>

      <div class="panel-footer">
        <i class="bi bi-eye-fill" style="color:gray;"></i>
        <span style="font-size: smaller;"></span> 看看 1
        {{/* 看看数 */}}
        <i class="bi bi-hand-thumbs-up-fill" style="color:gray;margin-inline-start: 2rem;"></i>
        <span style="font-size: smaller;"></span> 手艺 1
        {{/* 手艺数 */}}
      </div>
    </div>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    加水-补充完善内容，总字数要求少于456字。
  </div>
  <div class="panel-body">
    <form role="form" action="/v1/thread/supplement" method="post">
      <div class="form-group">
        <textarea class="form-control" name="additional" id="additional" rows="4" minlength="17" maxlength="567"
          required></textarea>
      </div>
      <input type="hidden" name="uuid" value="{{ .ThreadBean.Thread.Uuid }}">
      <div class="form-group  col-xs-offset-5">
        <button class="btn btn-warning" type="submit">提交</button>
      </div>
    </form>
  </div>
</div>


{{/* 展示全部管理员品味 */}}
{{ range .PostBeanAdminSlice }}

{{/* 检查茶围管理员品味的立场以决定左右侧布局 */}}
{{ if .Post.Attitude }}
{{/* 品味是“颔首”表态，左侧头像布局 */}}

{{ template "component_post_left" . }}

{{ else }}

{{/* 品味是“摇头”表态，右侧头像布局 */}}
{{template "component_post_right" . }}

{{ end }}{{/* 检查品味的立场以决定左右侧布局完成 */}}

{{ end }}{{/* 展示全部管理员品味完成 */}}

<hr />

{{ end }}