{{ define "content" }}

{{/* 这是某个用户自己创建的全部茶议（主张）浏览页面 */}}
{{/* 需要重做2024-04-09 */}}

<ol class="breadcrumb">
  <li><a href="/v1/">大堂</a></li>
  <li><a href="/v1/objective/detail?uuid={{ .Objective.Uuid }}">{{ .Objective.Title }}@茶话会</a></li>
  <li><a href="/v1/project/detail?id={{ .Project.Uuid }}">{{ .Project.Title }}@茶台</a></li>
  <li class="active">{{ .Title }}@茶议 </li>
 
</ol>

<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="img-circle" src="/v1/static/image/{{ .User.Avatar }}.jpeg" alt="个人头像">
    </a>
  </div>
  <div class="media-body">
    <div class="panel panel-default">

      <div class="panel-heading">
        <div class="row">

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <a href="/v1/user/biography?id={{ .User.Uuid }}">{{ .User.Name }}</a>
            <span style="font-size: smaller;"> 
            </span>
          </div>

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <span style="display: block; font-size: smaller;text-align: center;">
              {{ .CreatedAtDate }}
            </span>
          </div>

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <span style="display: block; text-align: right;">
              <span class="label label-success">{{ .Status }}
              </span>
            </span>

          </div>
        </div>
      </div>

      <div class="panel-body">
        <h5>{{ .TypeStatus }}: {{ .Title }}</h5>

        {{ .Topic }}

      </div>

      <div class="panel-footer">
        {{/* 这是可以“追加”功能链接（即补充内容） */}}
        <span style="font-size: smaller; margin-inline-end: 20px;"><a
            href="/v1/thread/edit?id={{ .Uuid }}">加水</a> {{ .EditAtDate }}</span>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">

  <div class="panel-heading">
    品味
  </div>

  <div class="panel-body">

    <form class="form-horizontal" role="form" action="/v1/post/draft" method="post">

      <div class="form-group">
        <fieldset>
          <legend style="font-size: small;">
            <label for="radio" class="col-sm-2 control-label">请您品味：</label>
            <div name="radio" class="col-sm-10">
              <div class="col-sm-6">
                <input type="radio" name="attitude" id="support" style="width: fit-content;" value="true" required />
                <label for="support">颔首</label>
              </div>
              <div class="col-sm-6">
                <input type="radio" name="attitude" id="oppose" value="false" style="width: fit-content;" required />
                <label for="oppose">摇头</label>
              </div>
            </div>
          </legend>
        </fieldset>
      </div>
      <div class="form-group">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <textarea class="form-control" name="body" id="body" placeholder="在这里品味(17~456字，需要友邻盲评通过)" rows="3" minlength="17"
            maxlength="567"></textarea>
        </div>
      </div>

      <input type="hidden" name="uuid" value="{{ .Uuid }}" />

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">提交</button>
        </div>
      </div>

    </form>

  </div>

  <div class="panel-footer">
    提示：提交的品味在友邻盲评通过后展示。
  </div>

</div>

{{ range .Posts }}

<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="img-circle" src="/v1/static/image/{{ .User.Avatar }}.jpeg" alt="个人头像">
    </a>
  </div>
  <div class="media-body">
    <div class="panel panel-default">

      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

            <a href="/v1/user/biography?id={{ .User.Uuid }}"> {{ .User.Name }} </a>
            <span style="font-size: smaller;"> 品茶：
            </span>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

            <span style="display: block; font-size: smaller;text-align: center;">
              {{ .CreatedAtDate }}

            </span>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

            <span style="display:block;text-align: right;">
              <span class="label label-success">{{ .Atti }}
              </span>
            </span>

            </span>
          </div>

        </div>
      </div>

      <div class="panel-body">
        {{ .Body }}
      </div>

      <div class="panel-footer">
        <p style="font-size: smaller;"><a href="/v1/post/edit?id={{ .Uuid }}">追加</a>于{{ .EditAtDate }}</p>
      </div>

    </div>
  </div>
</div>

{{ end }}

<div class="panel panel-default">

  <div class="panel-heading">
    <span style="display: block; text-align: center;">茶色品鉴小计
    </span>

  </div>

  <div class="panel-body">

    <table class="table content table-cell">

      <thead>
        <tr>
          <th>茶位</th>
          <th>颔首</th>
          <th>摇头</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>？？</td>

          <td>{{ .NumAttitudesSupport }}</td>

          <td>{{ .NumAttitudesOppose }}</td>

        </tr>
      </tbody>
    </table>
  </div>

  <div class="panel-footer">
    <a href="#">后续</a>
  </div>

</div>

{{ end }}