{{ define "content" }}

<!--这是某个新的发言（新的茶话会/台/语/品/团）在面对随机茶友的友邻盲评-->

<ol class="breadcrumb">
    <li><a href="/v1/">大堂</a></li>
    <li class="active">文明说话@友邻盲评</li>
</ol>


    <h4 class="text-center">新茶随机双盲评审</h4>

    <p>您好，这是某个茶友在茶棚发布的新语录，请您评判这是否属于文明发言。</p>

<div class="alert alert-info" role="alert">
  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
    您的看法非常重要，将决定这些话语是否可以在茶棚传阅。

</div>

<!--这是新语录展示-->
<div class="panel panel-default">
   <div class="panel-heading">
    评审内容
   </div>
    <div class="panel-body">
      
       {{ .PageData.Body }}
    </div>

   
</div>

<!--这是邻桌盲评编辑区开始-->
<div class="panel panel-default">
    <div class="panel-heading">
        请您表态：
    </div>
    <div class="panel-body">
        <form class="form-horizontal" role="form" action="/v1/office/polite" method="post">
           

            <div>
                <fieldset>
                  <legend>1、这算文明说话吗？
                    <input type="radio" name="civilizer" id="yes" style="width: fit-content;" value="yes" required />
                    <label for="yes" style="margin-inline-end: 30px;">OK</label>
        
                    <input type="radio" name="civilizer" id="no" style="width: fit-content;" value="no" required />
                    <label for="no">No</label>
                  </legend>
                </fieldset>
              </div>


              <div>
                <fieldset>
                  <legend>2、内容可以接受吗？
                    <input type="radio" name="care" id="yes" style="width: fit-content;" value="yes" required />
                    <label for="yes" style="margin-inline-end: 30px;">OK</label>
        
                    <input type="radio" name="care" id="no" style="width: fit-content;" value="no" required />
                    <label for="no">No</label>
                  </legend>
                </fieldset>
              </div>



            <input type="hidden" name="id" value="{{ .Id }}" />

            <p class="form-group; text-center">
                <button class="btn btn-default" type="submit">提交</button>
              </p>

        </form>

    </div>

</div>

<div class="well">
  <h4>说明</h4>
  <p>1、为了礼貌起见，发言者和评估者的资料都保密。</p>
  <p>2、随机双盲的意思是发帖人和评审人互相不知道对方是谁。</p>
  <p>3、这样做的目的是阻止一些喝多了的人光屁股冲进茶棚施暴或者喊叫一些令人不齿的话。</p>
</div>


<!--邻桌盲评区结束-->

{{ end }}